<div class="modal fade text-left challenge-modal" id="read_article_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header border-bottom-0">
        <% unless @challenge_activity.blank? %>
          <span class="time_class pull-left font-weight-light"><i class="fa fa-check-circle" aria-hidden="true"></i> Completed on <%= challenge.finish.strftime('%d/%m/%Y') %></span>
        <% else %>
          <span class="time_class pull-left font-weight-light"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= get_remaining_time_in_words(challenge.finish) %></span>
        <% end %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div>
        <h6 class="float-right pr-3 size-12" id="percentage"></h6>
      </div>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="challenge-content text-left font-weight-light">
          <!-- challenge details -->
          <% unless @challenge_activity.blank? %>
            <% if challenge.reward_type == "points" %>
              <h4 class="text-center mb-3">You Earned <span><%= "#{challenge.points.to_i} Points!" %></span></h4>
            <% else %>
              <h4 class="text-center mb-3">You Earned <span style="text-decoration: underline;"><%= "#{challenge.reward.name}!" %></span></h4>
            <% end %>
          <% else %>
            <% if challenge.reward_type == "points" %>
              <h4 class="text-center mb-3">Earn <span><%= "#{challenge.points.to_i} Points" %></span> for completing this challenge.</h4>
            <% else %>
              <h4 class="text-center mb-3">Earn <span style="text-decoration: underline;"><%= challenge.reward.name %></span> for completing this challenge.</h4>
            <% end %>
          <% end %>
          <p class="mb-4 size-12"><%= challenge.caption %></p>
          <p class="size-12"><%= raw(challenge.description).html_safe %></p>
          <div class="row">
            <div class="col-md-12">
              <%= raw(challenge.content).html_safe %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  var counter = 0;
  $(document).ready(function () {
    progress();
    $("#read_article_modal .modal-body").on("scroll", progress);
  });

  function progress() {
    var windowScrollTop = $("#read_article_modal .modal-body").scrollTop();
    var docHeight = $("#read_article_modal .modal-body").prop('scrollHeight');
    var windowHeight = $("#read_article_modal .modal-body").height();

    var progress = (windowScrollTop / (docHeight - (windowHeight + 32))) * 100;

    if(isNaN(progress)) {
      progress = 0
    }

    $('#percentage').text(Math.round(progress) + "%");
    $( ".progress-bar" ).css("width", progress + "%");

    if (progress == 100 && counter == 0) {
      counter = counter + 1;
      submitChallenge();
    }
  }

  // Trigger SWAL Notificaton
  function swalNotify(title, message) {
    Swal.fire({
      title: title,
      text: message,
      confirmButtonClass: 'btn btn-primary',
      buttonsStyling: false
    }).then(function() {
      $('.challenge-modal').modal('hide');
    });
  }

  // submit Challenge start
  function submitChallenge() {
    var challengeId = <%= challenge.id %>;
    $.ajax({
      url: `/participants/challenges/${challengeId}/submission`,
      type: 'POST',
      dataType: 'JSON',
      data: { status: status },
      success: function (data) {
        if (data.success) {
          swalNotify('Challenge Submission', data.message);
        } else {
          swalNotify('Challenge Submission', data.message);
        }
      }
    });
  }
  // submit Challenge end

</script>

<style media="screen">
  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  .progress {
    height: 4px;
  }
</style>
