<section class="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="ft_menu_list">
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a></li>
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#termsModal">Terms</a></li>
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#rulesModal">Rules</a></li>
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#faqModal">FAQs</a></li>
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#contactUsModal">Contact</a></li>
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#contactUsModal">Help & Support</a></li>
        </ul>
        <div class="clear"></div>
        <p>© <%= Time.current.year %> <%= @campaign.name %> All rights Reserved.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag('end-user/Powered-by-Perk-Social.svg') %>
      </div>
    </div>
  </div>
</section>

<!--   Contact Us Modal-->
<%= render 'modals/contact_us' %>
<!--  Rules Modal-->
<%= render 'modals/rules' %>
<!-- Privacy Modal-->
<%= render 'modals/privacy' %>
<!--   Privacy Modal-->
<%= render 'modals/terms' %>
<!--  FAQ Modal-->
<%= render 'modals/faq' %>
