<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section id="dashboard-analytics">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                <div class="avatar bg-rgba-primary p-50 m-0">
                  <div class="avatar-content">
                    <i class="feather icon-users text-primary font-medium-5"></i>
                  </div>
                </div>
                <h2 class="text-bold-700 mt-1">
                  <%= number_to_human(@campaign.participants.count, format: '%n%u', precision: 2, significant: false, units: {thousand: 'K', million: 'M', billion: 'B'}) %>
                </h2>
                <p>Users in the Program</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                <div class="avatar bg-rgba-success p-50 m-0">
                  <div class="avatar-content">
                    <i class="feather icon-credit-card text-success font-medium-5"></i>
                  </div>
                </div>
                <h2 class="text-bold-700 mt-1">
                  <%= number_to_human(@campaign.challenges.count, format: '%n%u', precision: 2, significant: false, units: {thousand: 'K', million: 'M', billion: 'B'}) %>
                </h2>
                <p>Challenges Completed</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                <div class="avatar bg-rgba-danger p-50 m-0">
                  <div class="avatar-content">
                    <i class="feather icon-shopping-cart text-danger font-medium-5"></i>
                  </div>
                </div>
                <h2 class="text-bold-700 mt-1">36%</h2>
                <p>Shares on Social Media</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                <div class="avatar bg-rgba-warning p-50 m-0">
                  <div class="avatar-content">
                    <i class="feather icon-package text-warning font-medium-5"></i>
                  </div>
                </div>
                <h2 class="text-bold-700 mt-1">97.5K</h2>
                <p>Clicks</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Bar Chart For Age Breakdown -->
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Age Breakdown</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div id="age-bar-chart"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pie Chart For Gender Breakdown -->
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Gender Breakdown</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div id="gender-pie-chart" class="mx-auto" campaign_id="<%= @campaign.id %>"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Bar Chart For Completed Challenge -->
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Completed Challenges / Platform</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div id="completed-challenge-bar-chart"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Bar Chart For Connected Platform -->
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Connected Platforms</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div id="connected-platform-bar-chart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Line Chart For Shares Per Day -->
          <div class="col-md-6 col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Shares Per Day</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div id="share-per-day-line-chart" class="height-400"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Geo Chart For Users By Location Map -->
          <div class="col-md-6 col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Users By Location Map</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div id="user-by-location-geo-chart" class="height-400" campaign_id="<%= @campaign.id %>"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="mb-0">Top Users</h4>
              </div>
              <div class="card-content">
                <div class="table-responsive mt-1">
                  <table class="table table-hover-animation mb-0">
                    <thead>
                    <tr>
                      <th>FIRST NAME</th>
                      <th>LAST NAME</th>
                      <th>EMAIL</th>
                      <th>LIFETIME POINTS</th>
                      <th>CURRENT POINTS</th>
                      <th>CHALLENGES COMPLETED</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if @campaign.participants.present? %>
                      <% top_users(@campaign.participants).each do |participant| %>
                        <tr>
                          <td><%= participant.first_name %></td>
                          <td><%= participant.last_name %></td>
                          <td><%= participant.email %></td>
                          <td><%= participant.points %></td>
                          <td><%= participant.unused_points %></td>
                          <td><%= participant.completed_challenges %></td>
                        </tr>
                      <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script type="text/javascript">
  var startDate = '<%= @start_date %>'
  var chartData = []

  <% @chart_json.each do |val| %>
  chartData.push([parseInt('<%= val[0] %>'), parseInt('<%= val[1] %>')]);
  <% end %>

  var options = {
    series: [{
      name: 'Shares Per Day',
      data: chartData
    }],
    chart: {
      id: 'share-per-day-line-chart',
      type: 'line',
      height: 270,
      toolbar: {
        show: false
      },
    },
    title: {
      // text: 'Shares Per Day',
      align: 'left'
    },
    stroke: {
      curve: 'straight'
    },
    dataLabels: {
      enabled: false
    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'],
        opacity: 0.5
      },
    },
    xaxis: {
      type: 'datetime',
      min: new Date(startDate).getTime()
    },
    yaxis: [
      {
        labels: {
          formatter: function(val) {
            return val.toFixed(0);
          }
        }
      }
    ],
    tooltip: {
      x: {
        format: 'dd MMM yyyy'
      }
    }
  };

  var insightLineChart = new ApexCharts(document.querySelector('#share-per-day-line-chart'), options);
  insightLineChart.render();
</script>
