<%= form_with(url: admin_campaign_path(campaign), method: 'put', class: 'edit-campaign-form', model: campaign, local: true) do |form| %>
  <div class="form-body">
    <div class="row">
      <div class="col-12">
        <% if campaign.errors.any? %>
          <%= render '/shared/render_errors', resource: campaign %>
        <% end %>
      </div>
      <div class="col-6">
        <%= form.hidden_field :organization_id, value: @organization.id %>

        <div class="form-group">
          <%= form.label :name %>
          <span class="column-info">The name of the campaign. This is just a friendly name to identify this campaign.</span>
          <div class="position-relative">
            <%= form.text_field :name, class: "form-control", placeholder: "Campaign Name" %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :twitter, 'Twitter Handle' %>
          <span class="column-info">Enter a twitter handle to pull the social feed.</span>
          <div class="position-relative">
            <%= form.text_field :twitter, class: "form-control", placeholder: "Twitter Handle" %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :domain_type, 'Domain type' %>
          <span class="column-info">Choose the Domain type to handle how you want the campaign domain to be.</span>
          <div class="position-relative">
            <%= form.select :domain_type,
                            options_for_select(Campaign::domain_types.map { |v| [v[0].titleize, v[0]] }.compact),
                            {prompt: 'Select Domain Type'}, class: 'form-control domain_type_id' %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :domain %>
          <span class="column-info">You are able to create a custom subdomain under perk social to make it easier to link and connect your clients to this landing page.</span>
          <div class="position-relative">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">www.<%= @organization.sub_domain %></span>
              </div>
              <%= form.text_field :domain, class: "form-control", placeholder: "Campaign Domain", data: {error: 'domain-errors'} %>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">.perksocial.com</span>
              </div>
            </div>
            <div class="input-group domain-errors">
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :rules %>
          <span class="column-info">The rules associated with this program. It will be displayed at the bottom of the campaign.</span>

          <div class="campaign-rules-editor quill-editor-height">
            <%= campaign.rules.html_safe if campaign.rules.present? %>
          </div>
          <%= form.hidden_field :rules, class: "form-control rules-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :privacy, 'Privacy Policy' %>
          <span class="column-info">The privacy policy associated with this program. It will be displayed at the bottom of the campaign.</span>

          <div class="campaign-privacy-policy-editor quill-editor-height">
            <%= campaign.privacy.html_safe if campaign.privacy.present? %>
          </div>
          <%= form.hidden_field :privacy, class: "form-control privacy-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :terms, 'Terms of Service' %>
          <span class="column-info">The terms of service associated with this program. It will be displayed at the bottom of the campaign.</span>

          <div class="campaign-terms-editor quill-editor-height">
            <%= campaign.terms.html_safe if campaign.terms.present? %>
          </div>
          <%= form.hidden_field :terms, class: "form-control terms-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :contact_us, 'Contact Us' %>
          <span class="column-info">The contact us associated with this program. It will be displayed at the bottom of the campaign.</span>

          <div class="campaign-contact-us-editor quill-editor-height">
            <%= campaign.contact_us.html_safe if campaign.contact_us.present? %>
          </div>
          <%= form.hidden_field :contact_us, class: "form-control contact-us-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <h4>FAQ</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :faq_title, 'FAQ Title' %>
          <span class="column-info">This is the title that will be shown for FAQ (Frequently Asked Questions).</span>
          <div class="position-relative">
            <%= form.text_field :faq_title, class: 'form-control', placeholder: 'FAQ Title' %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :faq_content, 'FAQ Content' %>
          <span class="column-info">This is the content that will be shown for FAQ (Frequently Asked Questions).</span>

          <div class="campaign-faq-content-editor quill-editor-height">
            <%= campaign.faq_content.html_safe if campaign.faq_content.present? %>
          </div>
          <%= form.hidden_field :faq_content, class: "form-control faq-content-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <h4>Prizes</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :prizes_title, 'Prizes Title' %>
          <span class="column-info">This is the title that will be shown for Rules.</span>
          <div class="position-relative">
            <%= form.text_field :prizes_title, class: 'form-control', placeholder: 'Prizes Title' %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <h4>General</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :general_title, 'General Title' %>
          <span class="column-info">This is the title that will be shown for General Place Holder.</span>
          <div class="position-relative">
            <%= form.text_field :general_title, class: 'form-control', placeholder: 'General Title' %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :general_content, 'General Content' %>
          <span class="column-info">This is the content that will be shown for General Place Holder.</span>

          <div class="campaign-general-content-editor quill-editor-height">
            <%= campaign.general_content.html_safe if campaign.general_content.present? %>
          </div>
          <%= form.hidden_field :general_content, class: "form-control general-content-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <h4>My Account</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :my_account_title, 'My Account Title' %>
          <span class="column-info">This is the title that will be shown for My Account.</span>
          <div class="position-relative">
            <%= form.text_field :my_account_title, class: 'form-control', placeholder: 'My Account Title' %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <h4>How To Earn</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :how_to_earn_title, 'How To Earn Title' %>
          <span class="column-info">This is the title that will be shown for How To Earn.</span>
          <div class="position-relative">
            <%= form.text_field :how_to_earn_title, class: 'form-control', placeholder: 'How To Earn Title' %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :how_to_earn_content, 'How To Earn Content' %>
          <span class="column-info">This is the content that will be shown for How To Earn.</span>

          <div class="campaign-how-to-earn-content-editor quill-editor-height">
            <%= campaign.how_to_earn_content.html_safe if campaign.how_to_earn_content.present? %>
          </div>
          <%= form.hidden_field :how_to_earn_content, class: "form-control how-to-earn-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <h4>Design</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :css, 'Style Block' %>
          <span class="column-info">Enter the CSS styling you would like injected onto your campaign's page.</span>
          <div class="position-relative">
            <%= form.text_area :css, class: 'form-control', placeholder: 'Enter CSS Style' %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <%= form.label :seo, 'SEO Block' %>
          <span class="column-info">Enter all the seo related content you want such as title, FB tags etc.</span>

          <div class="campaign-seo-content-editor quill-editor-height">
            <%= campaign.seo.html_safe if campaign.seo.present? %>
          </div>
          <%= form.hidden_field :seo, class: "form-control seo-txt-area" %>
        </div>
      </div>

      <div class="col-12">
        <%= form.submit "Save", class: 'btn btn-primary mr-1 mb-1' %>
        <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
      </div>
    </div>
  </div>
<% end %>
