<div class="modal fade text-left" id="challenge-details-popup" tabindex="-1" role="dialog" aria-labelledby="challenge-details-popup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-width" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary white">
        <h6 class="modal-title">
          <% status = @challenge.status %>
          <i class="<%= challenge_status_indicator %>" aria-hidden="true"></i> <%= status %>
          <span><%= @challenge.challenge_type %> challenge</span>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="challenge-name-container" data-challenge-id="<%= @challenge.id %>" data-campaign-id="<%= @challenge.campaign_id %>">
          <%= truncate(@challenge.name, :length => 80) %>
        </h4>
        <div class="container p-0">
          <div class="row">
            <div class="col-md-6">
              <div class="challenge_img" style="background-image: url(<%= @challenge.image.url %>);
                  background-position: center; background-repeat: no-repeat; background-size: cover; ">
                <p class="challenge-description">
                  <%= truncate(@challenge.description, :length => 90) %>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <% if @challenge.reward_type == 'points' %>
                <h6>Reward</h6>

                <button type="button" class="btn bg-gradient-primary waves-effect waves-light reward_btn"><%= @challenge.points %>
                  pts
                </button>
              <% end %>
              <div class="active_time">
                <h6>Active Time Period</h6>
                <p class="challenge-date">
                  <span><%= @challenge.start.strftime('%A, %B %d, %Y') %></span>
                  <% if @challenge.finish.present? %>
                    - <span><%= @challenge.finish.strftime('%A, %B %d, %Y') %></span>
                  <% end %>
                </p>
              </div>
              <h6>Available On <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i></h6>
              <div class="tag_box">
                <div class="challenge-tags-container">
                  <%= render 'tags_list' %>
                </div>

                <div class="add_tag add-tag-btn">
                  <i class="feather icon-plus-circle add-tag-chip-btn"></i>
                </div>
                <div class="input-group add_tag_btngroup" style="display: none;">
                  <div class="add_tag remove-tag-btn">
                    <i class="feather icon-minus-circle add-tag-chip-btn"></i>
                  </div>
                  <%= select_tag 'challenge_tags_input',
                                 options_for_select(all_tags_humanize),
                                 class: 'form-control challenge-tags challenge-details-tags', multiple: 'multiple' %>

                  <button class="btn btn-primary waves-effect waves-light submit-challenge-tag" type="button" style="margin-left: 15px;">Add
                    Tag
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row gradient_btn_box">
            <div class="col-md-4 pl-0">
              <div class="form-group text-center">
                <button type="button" class="btn bg-gradient-primary mr-1  btn-block waves-effect waves-light">
                  <%= @challenge.completions %>
                  <p><span><%= @challenge.targeted_participants_count %></span> of user targeted</p>
                </button>
                <h6>Total Completions</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <button type="button" class="btn bg-gradient-info mr-1 btn-block waves-effect waves-light">
                  <%= @challenge.clicks.to_i %>
                </button>
                <h6>Clicks Generated</h6>
              </div>
            </div>
            <div class="col-md-4 pr-0">
              <div class="form-group text-center">
                <button type="button" class="btn bg-gradient-success mr-1 btn-block waves-effect waves-light">
                  <%= @challenge.earned_points %>
                </button>
                <h6>Points Earned By Users</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="modal_tab">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Insights" aria-controls="Insights" role="tab" aria-selected="true">Insights</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Users" aria-controls="Users" role="tab" aria-selected="false">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="about-tab" data-toggle="tab" href="#Details" aria-controls="Details" role="tab" aria-selected="false">Details</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="Insights" aria-labelledby="Insights-tab" role="tabpanel">
                  <p>Challenge Completions By Users</p>
                  <img src="<%= Challenge.first.image.url %>" class="challenge_img">
                </div>
                <div class="tab-pane" id="Users" aria-labelledby="Users-tab" role="tabpanel">
                  <div class="table-responsive">
                    <table class="table challenge-overlay-participant-table">
                      <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Submission Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% if @participants.present? %>
                        <% @participants.each do |participant| %>
                          <tr>
                            <td scope="row"><%= participant.first_name %></td>
                            <td><%= participant.last_name %> </td>
                            <td><%= participant.email %></td>
                            <td><%= participant.created_at %></td>
                          </tr>
                        <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="Details" aria-labelledby="Details-tab" role="tabpanel">
                  <p>Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée. Chocolate bar liquorice
                    cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee fruitcake ice cream
                    powder
                    tootsie roll cake.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
