<%= stylesheet_link_tag 'campaign_admin/challenges', 'data-turbolinks-track' => 'reload' %>

<section id="number-tabs" class="new_challenge_section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <%
              if @challenge.new_record?
                path = admin_campaign_challenges_path
                method = 'post'
              else
                path = admin_campaign_challenge_path(@challenge)
                method = 'put'
              end
            %>

            <%= form_with(url: path, method: method, class: 'add-challenge-form number-tab-steps challenge-wizard wizard-circle',
                          model: @challenge, local: true) do |form| %>

              <% if @challenge.errors.any? %>
                <%= render '/shared/render_errors', resource: @challenge %>
              <% end %>

              <%= form.hidden_field :campaign_id, value: @campaign.id %>

              <!-- Step 1 -->
              <h6>Type</h6>
              <fieldset class="step-top-padding" data-step-id="1">
                <div class="step_point_box">
                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <h3>1. Active Time Period</h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p>Start date for challenge to be available to users</p>
                        </div>
                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :challenge_start_date, nil, class: 'form-control', placeholder: "MM/DD/YYYY"%>
                            <div class="form-control-position">
                              <i class="feather icon-calendar"></i>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :challenge_start_time, nil, class: 'form-control', placeholder: "3:00pm" %>
                            <div class="form-control-position">
                              <i class="feather icon-clock"></i>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p>End date for challenge to be available to users (optional- will run indefinitely if left blank)</p>
                        </div>
                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :start_date, nil, class: 'form-control', placeholder: "MM/DD/YYYY"%>
                            <div class="form-control-position">
                              <i class="feather icon-calendar"></i>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :start_time, nil, class: 'form-control', placeholder: "3:00pm" %>
                            <div class="form-control-position">
                              <i class="feather icon-clock"></i>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-8 col-md-8">
                          <p>Timezone for challenge to be available to users</p>
                        </div>
                        <div class="col-sm-8 col-lg-8">
                          <div class="form-group">
                            <%= form.time_zone_select(:time_zone, ActiveSupport::TimeZone.all, {}, class: 'form-control') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="new_challenge_box">
                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 text-center">
                      <h3>Create a new challenge</h3>
                      <p>What type of challenge would you like to create for your users?</p>
                    </div>
                  </div>

                  <%= form.hidden_field :mechanism, value: 'share', class: 'always-validate', data: {error: 'mechanism-error'} %>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="mechanism-error"></div>

                      <div class="card challenge-type-card flex-md-row mb-2 shadow-sm h-md-250 active" data-val="share">
                        <div class="card-body card_box">
                          <div class="left_box">
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                          </div>
                          <div class="right_box">
                            <h3>Share</h3>
                            <p>Have your users post content of your choosing to their social networks.</p>
                            <p class="fa_title">Create Share challenge</p>
                            <span>Works on: <i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-linkedin" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>

                      <div class="card challenge-type-card flex-md-row mb-2 shadow-sm h-md-250" data-val="connect">
                        <div class="card-body card_box">
                          <div class="left_box">
                            <i class="fa fa-users" aria-hidden="true"></i>
                          </div>
                          <div class="right_box">
                            <h3>Connect</h3>
                            <p>Grow your brands and presence by having users like, follow, subscribe and more.</p>
                            <p class="fa_title">Create Connect challenge</p>
                            <span>Works on: <i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-linkedin" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>

                      <div class="card challenge-type-card flex-md-row mb-2 shadow-sm h-md-250" data-val="engage">
                        <div class="card-body card_box">
                          <div class="left_box">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          </div>
                          <div class="right_box">
                            <h3>Engage</h3>
                            <p>Amplify existing content by having your users view, engage or interact with content.</p>
                            <p class="fa_title">Create Engage challenge</p>
                            <span>Works on: <i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-linkedin" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>

                      <div class="card challenge-type-card flex-md-row mb-2 shadow-sm h-md-250" data-val="collect">
                        <div class="card-body card_box">
                          <div class="left_box">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                          </div>
                          <div class="right_box">
                            <h3>Collect</h3>
                            <p>Ask questions and gather answers and informations though quizzes ans survays.</p>
                            <p class="fa_title">Create Collect challenge</p>
                            <span>Works on: <i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-linkedin" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <!-- Step 2 -->
              <h6>Create</h6>
              <fieldset class="step-top-padding" data-step-id="2">
                <div class="step_point_box">
                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <h3>1. share challenge details</h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="form-group">
                        <%= form.label :name, 'Challenge Name' %>
                        <span class="column-info">To be used in reporting and challenge management</span>
                        <%= form.text_field :name, class: 'form-control', placeholder: 'My First Challenge' %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="form-group">
                        <%= form.label :link, 'Link to be shared' %>
                        <%= form.text_field :link, class: 'form-control', placeholder: 'http://lib.perksocial.com/' %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="form-group">
                        <%= form.label :description, 'Add a note for your users about this challenge' %>
                        <%= form.text_area :description, class: 'form-control', placeholder: 'Share this post to supprt the festival and get your whole squad there!', rows: 4 %>
                      </div>
                    </div>
                  </div>

                  <section class="Social_blocks step_point_box">
                    <div class="container p-0">
                      <div class="row">
                        <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                          <div class="social-heading-details">
                            <h3>2. choose and customize for platforms</h3>
                            <p>Add a platform you would like your users to share this post to</p>
                          </div>

                          <%= form.hidden_field :platform, value: 'facebook', class: 'always-validate', data: {error: 'platform-error'} %>
                          <%= form.hidden_field :social_title, value: '' %>
                          <%= form.hidden_field :social_description, value: '' %>

                          <div class="platform-error"></div>
                          <div class="social-image-error"></div>
                          <div class="social-title-error"></div>
                          <div class="social-description-error"></div>

                          <div class="accordion" id="Social_blocks_accordion">
                            <div class="">
                              <div class="card-head" id="facebookBlock">
                                <h2 class="mb-0">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#facebookBlockBody">
                                    <i class="fa fa-plus"></i> <i class="fa fa-facebook" aria-hidden="true"></i>Facebook
                                  </button>
                                </h2>
                              </div>
                              <div id="facebookBlockBody" class="collapse show" aria-labelledby="facebookBlock" data-parent="#Social_blocks_accordion">
                                <div class="card-body">
                                  <div class="Social_blocks_container Social_blocks_fb">
                                    <div class="Social_blocks_fb_title">
                                      <h5><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</h5>
                                    </div>
                                    <div class="Social_blocks_fb_content">

                                      <div class="user_pic_box">
                                        <img src="#" class="user_pic" id="facebook-img">
                                        <div class="user_name_box">
                                          <p><span>User's Name</span></p>
                                          <p>Date</p>
                                        </div>
                                      </div>
                                      <div class="clear"></div>

                                      <p class="user-comment-section">User's comment (must be added by user)</p>
                                      <div class="Social_blocks_fb_content_box">
                                        <img src="#" id="show-facebook-image">
                                        <div class="image-upload">
                                          <label for="file-input-fb">
                                            <i class="fa fa-upload"></i>
                                          </label>
                                          <%= form.file_field :image, class: "social-img-upload always-validate", id: 'file-input-fb',
                                                              data: {'file-id' => 'show-facebook-image', error: 'social-image-error'} %>
                                        </div>
                                        <div class="editable_box">

                                          <label class="text_label edit_title">
                                            <h5>Welcome to the LIB Experiences Club</h5>
                                          </label>
                                          <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                          <%= text_field_tag :social_title, nil, class: 'form-control always-validate social-title-txt', placeholder: "Welcome to the LIB Experiences Club",
                                                             data: {error: 'social-title-error'} %>
                                          <div class="clear"></div>

                                          <label class="text_label">
                                            <p class="user-comment-section">We've made it easy for you to win exclusive
                                              prizes just by sharing the
                                              love about LIB.</p>
                                          </label>
                                          <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                          <%= text_field_tag :social_description, nil, class: 'form-control always-validate social-description-txt', placeholder: "We've made it easy for you to win exclusive prizes just by sharing the
                                              love about LIB.", data: {error: 'social-description-error'} %>
                                          <div class="clear"></div>

                                          <p><a href="javascript:void(0);">LIB.PERKSOCIAL.COM</a></p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="">
                              <div class="card-head" id="twitterBlog">
                                <h2 class="mb-0">
                                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#twitterBlogBody">
                                    <i class="fa fa-plus"></i> <i class="fa fa-twitter" aria-hidden="true"></i>Twitter
                                  </button>
                                </h2>
                              </div>
                              <div id="twitterBlogBody" class="collapse" aria-labelledby="twitterBlog" data-parent="#Social_blocks_accordion">
                                <div class="card-body">
                                  <div class="Social_blocks_container Social_blocks_twitter">
                                    <div class="Social_blocks_twitter_title">
                                      <h5><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</h5>
                                    </div>
                                    <div class="Social_blocks_fb_content">

                                      <div class="user_pic_box">
                                        <img src="#" class="user_pic">
                                        <div class="user_name_box">
                                          <p><span>User's Name</span></p>
                                          <label class="text_label">
                                            <p>We've made it easy for you to win exclusive prizes just by sharing the
                                              love about LIB. Join today to start earning now.
                                              It's easy!
                                              <span><a href="prk.la/s/h768" class="Social_blocks_twitter_link">prk.la/s/h768</a></span>
                                            </p>
                                          </label>
                                          <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                          <%= text_field_tag :social_description, nil, class: 'form-control always-validate social-description-txt', placeholder: "We've made it easy for you to win exclusive prizes just by sharing the
                                              love about LIB. Join today to start earning now. It's easy!", data: {error: 'social-description-error'} %>
                                          <div class="clear"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>

                                      <div class="Social_blocks_fb_content_box">
                                        <img src="#" id="show-twitter-image">
                                        <div class="image-upload">
                                          <label for="file-input-twitter">
                                            <i class="fa fa-upload"></i>
                                          </label>
                                          <%= form.file_field :image, class: "social-img-upload always-validate", id: 'file-input-twitter',
                                                              data: {'file-id' => 'show-twitter-image', error: 'social-image-error'} %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="">
                              <div class="card-head" id="linkedinBlog">
                                <h2 class="mb-0">
                                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#linkedinBlogBody">
                                    <i class="fa fa-plus"></i> <i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn
                                  </button>
                                </h2>
                              </div>
                              <div id="linkedinBlogBody" class="collapse" aria-labelledby="linkedinBlog" data-parent="#Social_blocks_accordion">
                                <div class="card-body">
                                  <div class="Social_blocks_container Social_blocks_LinkedIn">
                                    <div class="Social_blocks_LinkedIn_title">
                                      <h5><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</h5>
                                    </div>
                                    <div class="Social_blocks_fb_content">

                                      <div class="user_pic_box">
                                        <img src="#" class="user_pic">
                                        <div class="user_name_box">
                                          <p><span>User's Blog Name</span></p>

                                          <div class="Social_blocks_fb_content_box">
                                            <img src="#" id="show-linkedin-image">
                                            <div class="image-upload">
                                              <label for="file-input-linkedin">
                                                <i class="fa fa-upload"></i>
                                              </label>
                                              <%= form.file_field :image, class: "social-img-upload always-validate", id: 'file-input-linkedin',
                                                                  data: {'file-id' => 'show-linkedin-image', error: 'social-image-error'} %>
                                            </div>
                                            <div class="editable_box">

                                              <label class="text_label edit_title">
                                                <h5>Welcome to the LIB Experiences Club</h5>
                                              </label>
                                              <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                              <%= text_field_tag :social_title, nil, class: 'form-control always-validate social-title-txt', placeholder: "Welcome to the LIB Experiences Club",
                                                                 data: {error: 'social-title-error'} %>
                                              <div class="clear"></div>

                                              <label class="text_label">
                                                <p>We've made it easy for you to win exclusive prizes just by sharing
                                                  the love about LIB.</p>
                                              </label>
                                              <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                              <%= text_field_tag :social_description, nil, class: 'form-control always-validate social-description-txt', placeholder: "We've made it easy for you to win exclusive prizes just by sharing the
                                              love about LIB.", data: {error: 'social-description-error'} %>
                                              <div class="clear"></div>

                                              <p><a href="javascript:void(0);">LIB.PERKSOCIAL.COM</a></p>
                                              <hr>
                                              <p class="user-comment-section">User's comment (must be added by user)</p>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>

              </fieldset>

              <!-- Step 3 -->
              <h6>Reward</h6>
              <fieldset class="step-top-padding" data-step-id="3">
                <div class="new_challenge_box">
                  <div class="row offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                    <h4>1. TYPE OF REWARD</h4>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <p>Select the type of reward you would like to give users for completing this challenge</p>
                      <ul class="nav nav-pills nav-active-bordered-pill nav-pills-bottom">
                        <li class="nav-item">
                          <a class="nav-link pill-inner-padding active" id="base-points-pill" data-toggle="pill" href="#points-pill" aria-expanded="true">Points</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pill-inner-padding pill-btn" id="base-rewards-pill" data-toggle="pill" href="#rewards-pill" aria-expanded="false">Prize</a>
                        </li>
                        <%= form.hidden_field :reward_type, value: 'points' %>
                      </ul>
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="points-pill" aria-expanded="true" aria-labelledby="base-points-pill">
                          <div class="row">
                            <div class="col-12">
                              <h4>2. REWARD DETAILS</h4>
                              <p>Points earned when a user completes the challenge</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="input-group form-group">
                                <%= form.text_field :points, class: 'form-control', data: {error: 'points-errors'} %>
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon2">Points</span>
                                </div>
                                <div class="input-group points-errors">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="rewards-pill" aria-labelledby="base-rewards-pill">
                          <div class="row">
                            <div class="col-12">
                              <h4>2. REWARD DETAILS</h4>
                              <p>Select the prize users will receive for completing this challenge</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <div class="position-relative">
                                  <%= form.select :reward_id,
                                                  options_for_select(Reward.all.map { |v| [v.name.titleize, v.id] }.compact),
                                                  {prompt: 'Select Prize'}, class: 'form-control reward_id_dd' %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <!-- Step 4 -->
              <h6>Target</h6>
              <fieldset class="step-top-padding" data-step-id="4">
                <div class="step_point_box">
                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <h3>USER SEGMENTS</h3>
                      <hr style="margin-bottom: 0px !important;">
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="form-group">
                        <div class="table-responsive">
                          <table class="table table-striped mb-0 tbl-user-segments">
                            <tbody class="campaign-user-segments-container">
                            </tbody>
                          </table>
                        </div>

                        <br>
                        <button type="button" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light add-challenge-user-segment">
                          <span>
                            <i class="feather icon-plus"></i> Add Segment
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <!-- Step 5 -->
              <h6>Schedule</h6>
              <fieldset class="step-top-padding" data-step-id="5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="eventName1">Event Name :</label>
                      <input name="hk_s5_1" type="text" class="form-control" id="eventName1">
                    </div>
                    <div class="form-group">
                      <label for="eventType1">Event Status :</label>
                      <select class="custom-select form-control" id="eventType1" data-placeholder="Type to search cities" name="eventType1">
                        <option value="Banquet">Planning</option>
                        <option value="Fund Raiser">In Process</option>
                        <option value="Dinner Party">Finished</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="eventLocation1">Event Location :</label>
                      <select class="custom-select form-control" id="eventLocation1" name="location">
                        <option value="new-york">New York</option>
                        <option value="chicago">Chicago</option>
                        <option value="san-francisco">San Francisco</option>
                        <option value="boston">Boston</option>
                      </select>
                    </div>
                    <div class="form-group d-flex align-items-center pt-md-2">
                      <label class="mr-2">Requirements :</label>
                      <div class="c-inputs-stacked">
                        <div class="d-inline-block mr-2">
                          <div class="vs-checkbox-con vs-checkbox-primary">
                            <input type="checkbox" value="false">
                            <span class="vs-checkbox">
                              <span class="vs-checkbox--check">
                                <i class="vs-icon feather icon-check"></i>
                              </span>
                            </span>
                            <span class="">Staffing</span>
                          </div>
                        </div>
                        <div class="d-inline-block">
                          <div class="vs-checkbox-con vs-checkbox-primary">
                            <input type="checkbox" value="false">
                            <span class="vs-checkbox">
                              <span class="vs-checkbox--check">
                                <i class="vs-icon feather icon-check"></i>
                              </span>
                            </span>
                            <span class="">Catering</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script id="challenge-user-segments-template" type="text/x-custom-template">
  <%= render 'segment_fields' %>
</script>

<style>

</style>