<%= stylesheet_link_tag 'campaign_admin/challenges', 'data-turbolinks-track' => 'reload' %>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<section id="number-tabs" class="new_challenge_section" data-form-type="<%= new_record? ? 'new' : 'edit' %>">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <%
              if new_record?
                path = admin_campaign_challenges_path
                method = 'post'
              else
                path = admin_campaign_challenge_path(@campaign, @challenge)
                method = 'put'
              end
            %>

            <%= form_with(url: path, method: method, class: 'add-challenge-form number-tab-steps challenge-wizard wizard-circle',
                          model: @challenge, local: true) do |form| %>

              <% if @challenge.errors.any? %>
                <%= render '/shared/render_errors', resource: @challenge %>
              <% end %>

              <%= form.hidden_field :campaign_id, value: @campaign.id %>
              <%= form.hidden_field :creator_id, value: current_user.id %>

              <!-- Step 1 -->
              <%= render 'admin/campaigns/challenges/step_1', form: form %>

              <!-- Step 2 -->
              <%= render 'admin/campaigns/challenges/step_2', form: form %>

              <!-- Step 3 -->
              <h6>Reward</h6>
              <fieldset class="step-top-padding" data-step-id="3">
                <div class="new_challenge_box">
                  <div class="row offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                    <h4>1. TYPE OF REWARD</h4>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <p>Select the type of reward you would like to give users for completing this challenge</p>
                      <ul class="nav nav-pills nav-active-bordered-pill nav-pills-bottom">
                        <li class="nav-item">
                          <a class="nav-link pill-inner-padding <%= active_reward_pill_tab('points') %>" id="base-points-pill" data-toggle="pill" href="#points-pill" aria-expanded="true">Points</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pill-inner-padding <%= active_reward_pill_tab('prize') %>" id="base-rewards-pill" data-toggle="pill" href="#rewards-pill" aria-expanded="false">Prize</a>
                        </li>
                        <%= form.hidden_field :reward_type, value: new_record? ? 'points' : @challenge.reward_type %>
                      </ul>
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane <%= active_reward_pill('points') %>" id="points-pill" aria-expanded="true" aria-labelledby="base-points-pill">
                          <div class="row">
                            <div class="col-12">
                              <h4>2. REWARD DETAILS</h4>
                              <p>Points earned when a user completes the challenge</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="input-group form-group">
                                <%= form.text_field :points, class: 'form-control', data: {error: 'points-errors'} %>
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon2">Points</span>
                                </div>
                                <div class="input-group points-errors">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane <%= active_reward_pill('prize') %>" id="rewards-pill" aria-labelledby="base-rewards-pill">
                          <div class="row">
                            <div class="col-12">
                              <h4>2. REWARD DETAILS</h4>
                              <p>Select the prize users will receive for completing this challenge</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <div class="position-relative">
                                  <%= form.select :reward_id,
                                                  options_for_select(challenge_reward_list),
                                                  {prompt: 'Select Prize'}, class: 'form-control reward_id_dd' %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <!-- Step 4 -->
              <h6>Target</h6>
              <fieldset class="step-top-padding" data-step-id="4">
                <div class="step_point_box">
                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <h3>USER SEGMENTS</h3>

                      <div class="vs-checkbox-con vs-checkbox-primary filter-apply-checkbox">
                        <%= form.check_box :filter_applied, {} %>
                        <span class="vs-checkbox">
                          <span class="vs-checkbox--check">
                              <i class="vs-icon feather icon-check"></i>
                          </span>
                        </span>
                        <span class="">Apply segments to target this challenge to specific users</span>
                      </div>

                      <div class="filter-type-container filters-container" style="display: <%= display_user_segments %>">
                        User match
                        <%= form.select :filter_type,
                                        options_for_select(filter_type, @challenge.filter_type), {}, class: 'form-control filter-type-dd' %>
                        of the following condition

                        <hr style="margin-bottom: 0px !important;">
                      </div>
                    </div>
                  </div>

                  <div class="row filters-container" style="display: <%= display_user_segments %>">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="form-group">
                        <div class="table-responsive">
                          <table class="table table-striped mb-0 tbl-user-segments">
                            <tbody class="campaign-user-segments-container">
                            <% existing_ids = [] %>
                            <% @challenge.challenge_filters.each do |c_f| %>
                              <% existing_ids.push(c_f.id) %>
                              <%= render 'segment_fields', filter: c_f %>
                            <% end %>
                            </tbody>
                          </table>
                        </div>

                        <br>
                        <button type="button" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light
                        add-challenge-user-segment existing-filter-ids" data-ids="<%= existing_ids %>">
                          <span>
                            <i class="feather icon-plus"></i> Add Segment
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <!-- Step 5 -->
              <h6>Schedule</h6>
              <fieldset class="step-top-padding" data-step-id="5">
                <div class="step_point_box">
                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <h3>1. Active Time Period</h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p>Start date for challenge to be available to users</p>
                        </div>
                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :challenge_start_date, start_date, class: 'form-control pick-challenge-date', placeholder: "MM/DD/YYYY" %>
                            <div class="form-control-position">
                              <i class="feather icon-calendar"></i>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :challenge_start_time, start_time, class: 'form-control pick-challenge-time', placeholder: "3:00 PM" %>
                            <div class="form-control-position">
                              <i class="feather icon-clock"></i>
                            </div>
                          </div>
                        </div>

                        <%= form.hidden_field :start, value: new_record? ? '' : @challenge.start %>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p>End date for challenge to be available to users (optional- will run indefinitely if left
                            blank)</p>
                        </div>
                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :challenge_finish_date, finish_date, class: 'form-control pick-challenge-date', placeholder: "MM/DD/YYYY" %>
                            <div class="form-control-position">
                              <i class="feather icon-calendar"></i>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4 col-lg-4 position-relative has-icon-left">
                          <div class="form-group">
                            <%= text_field_tag :challenge_finish_time, finish_time, class: 'form-control pick-challenge-time', placeholder: "3:00 PM" %>
                            <div class="form-control-position">
                              <i class="feather icon-clock"></i>
                            </div>
                          </div>
                        </div>

                        <%= form.hidden_field :finish, value: new_record? ? '' : @challenge.finish %>
                      </div>

                      <div class="row">
                        <div class="col-sm-8 col-md-8">
                          <p>Timezone for challenge to be available to users</p>
                        </div>
                        <div class="col-sm-8 col-lg-8">
                          <div class="form-group">
                            <%= form.select(:timezone, timezone_list, {}, class: 'form-control') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script id="challenge-user-segments-template" type="text/x-custom-template">
  <%= render 'segment_fields', filter: nil %>
</script>
