<tr style="border-bottom: 1px solid #414561; padding: 0px 5px;">
  <td scope="row" width="5%" class="remove-btn-align" style="padding-left: 15px !important;">
    <a class="remove-challenge-segment" href="javascript:void(0);">
      <i class="feather icon-minus-circle"></i>
    </a>
  </td>

  <td width="30%">
    <% if filter.present? %>
      <!-- Display ID of Challenge Filter Only in Edit Mode-->
      <%= hidden_field_tag "challenge[challenge_filters_attributes][#{filter.id}][id]", filter.id %>
    <% end %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_event]",
                   options_for_select(ChallengeFilter::EVENTS.map { |val| [val.humanize, val] }, ChallengeFilter::EVENTS.first),
                   class: 'form-control challenge-event-dd',
                   required: true %>
  </td>

  <td width="30%" class="segment-conditions-container">
    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_condition]",
                   options_for_select(ChallengeFilter::CONDITIONS.map { |val| [val.humanize, val] }),
                   {class: 'form-control segment-conditions-dd segment-conditions-age segment-conditions-points',
                    prompt: 'Select Condition', id: "segment-conditions-dd-#{id_convention(filter)}",
                    required: true} %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_condition]",
                   options_for_select([['Has', 'has'], ['Not', 'not']]),
                   {class: 'form-control segment-conditions-dd segment-conditions-tags segment-conditions-platforms',
                    prompt: 'Select Condition', style: 'display:none;', id: "segment-conditions-dd-#{id_convention(filter)}",
                    disabled: true, required: true} %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_condition]",
                   options_for_select([['Is', 'is'], ['Not', 'not']]),
                   {class: 'form-control segment-conditions-dd segment-conditions-gender',
                    prompt: 'Select Condition', style: 'display:none;', id: "segment-conditions-dd-#{id_convention(filter)}",
                    disabled: true, required: true} %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_condition]",
                   options_for_select([['Is', 'is']], 'is'),
                   {class: 'form-control segment-conditions-dd segment-conditions-rewards segment-conditions-challenge',
                    style: 'display:none;',
                    id: "segment-conditions-dd-#{id_convention(filter)}",
                    disabled: true, readonly: true} %>
  </td>

  <td width="30%" class="segment-values-container">
    <%= text_field_tag 'challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_value_age]', nil,
                       class: 'form-control segment-value-age', id: "segment-value-age-#{id_convention(filter)}",
                       placeholder: 'Enter Age' %>

    <%= text_field_tag 'challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_value_tags]', nil,
                       class: 'form-control segment-value-tags', id: "segment-value-tags-#{id_convention(filter)}",
                       placeholder: 'Enter Tag', style: 'display:none;', disabled: true %>

    <%= text_field_tag 'challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_value_points]', nil,
                       class: 'form-control segment-value-points', id: "segment-value-points-#{id_convention(filter)}",
                       placeholder: 'Enter Points', style: 'display:none;', disabled: true %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_value_rewards]",
                   options_for_select(@campaign.rewards.all.pluck(:name, :id)),
                   {class: 'form-control segment-value-rewards', id: "segment-value-rewards-#{id_convention(filter)}",
                    prompt: 'Select Reward', style: 'display:none;',
                    disabled: true, required: true} %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_value_platforms]",
                   options_for_select(ChallengeFilter::SOCIAL_PLATFORMS.map { |val| [val.humanize, val] }),
                   {class: 'form-control segment-conditions-platforms', id: "segment-conditions-platforms-#{id_convention(filter)}",
                    prompt: 'Select Platform', style: 'display:none;',
                    disabled: true, required: true} %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_value_gender]",
                   options_for_select([['Male', 'male'], ['Female', 'female']]),
                   {class: 'form-control segment-value-gender', id: "segment-value-gender-#{id_convention(filter)}",
                    prompt: 'Select Gender', style: 'display:none;',
                    disabled: true, required: true} %>

    <%= select_tag "challenge[challenge_filters_attributes][#{name_convention(filter)}][challenge_value_challenge]",
                   options_for_select(@campaign.challenges.all.pluck(:name, :id)),
                   {class: 'form-control segment-value-challenge', id: "segment-value-challenge-#{id_convention(filter)}",
                    prompt: 'Select Challenge', style: 'display:none;',
                    disabled: true, required: true} %>
  </td>
</tr>
