<h6 class='step2-header'>Create</h6>
<fieldset class="step-top-padding step2-content-div" data-step-id="2">
  <div class="step_point_box">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <h3>1. <span class="challenge-name-span"></span> challenge</h3>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <div class="form-group">
          <%= form.label :name, 'Challenge Name' %>
          <span class="column-info">To be used in reporting and challenge management</span>
          <%= form.text_field :name, class: 'form-control', placeholder: 'My First Challenge' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <div class="form-group">
          <%= form.label :caption, 'Challenge Subtitle/Caption' %>
          <span class="column-info">To be used while displaying challenge to end-users</span>
          <%= form.text_field :caption, class: 'form-control', placeholder: "Watch TBDBITL's Latest Performance" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <div class="form-group">
          <%= form.label :description, 'Add a note for your users about this challenge which will display before the body of the article' %>
          <div class="challenge-description-editor quill-editor-height">
            <%= @challenge.description.html_safe if @challenge.description.present? %>
          </div>

          <div class="position-relative">
            <fieldset class="form-label-group">
              <%= form.hidden_field :description, class: "form-control challenge-description-txt-area" %>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-4 offset-lg-2 col-lg-4">
        <div class="form-group">
          <%= form.label :icon, 'Challenge Type Icon' %>
          <div class="custom-file">
            <%= form.file_field :icon, class: "custom-file-input #{@challenge.new_record? ? '' : 'ignore'}", accept: "image/*" %>
            <%= form.label :icon, 'Choose icon file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <%= raw challenge_image_icon_load %>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-4 offset-lg-2 col-lg-4">
        <div class="form-group">
          <%= form.label :image, 'Challenge Image' %>
          <div class="custom-file">
            <%= form.file_field :image, class: "custom-file-input #{@challenge.new_record? ? '' : 'ignore'}", accept: "image/*" %>
            <%= form.label :image, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>

        <%= form.label :description, 'This sets if the challenge is to be featured in various parts of the experience.' %>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <%= form.check_box :feature, class: '' %>
          <span class="vs-checkbox">
            <span class="vs-checkbox--check">
                <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="">Feature</span>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4">
        <%= raw challenge_image_load %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 offset-lg-1 col-lg-8">
        <%= render 'admin/campaigns/challenges/step_2_content', form: form %>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <h3>3. Tags</h3>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <%= form.label :tags, 'Start typing to add a tag, and then move off the field to save the tag.' %>
        <div class="form-group">
          <%= form.select :tags,
                          options_for_select(all_tags_humanize, @challenge.tag_list),
                          {}, class: 'form-control challenge-tags-form', multiple: 'multiple' %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
