<h6>Create</h6>
<fieldset class="step-top-padding" data-step-id="2">
  <div class="step_point_box">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <h3>1. share challenge details</h3>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <div class="form-group">
          <%= form.label :name, 'Challenge Name' %>
          <span class="column-info">To be used in reporting and challenge management</span>
          <%= form.text_field :name, class: 'form-control', placeholder: 'My First Challenge' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <div class="form-group">
          <%= form.label :description, 'Add a note for your users about this challenge' %>
          <%= form.text_area :description, class: 'form-control', placeholder: 'Share this post to supprt the festival and get your whole squad there!', rows: 4 %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-4 offset-lg-2 col-lg-4">
        <div class="form-group">
          <%= form.label :image, 'Challenge Image' %>
          <div class="custom-file">
            <%= form.file_field :image, class: "custom-file-input" %>
            <%= form.label :image, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <%= form.label :description, 'This sets if the challenge is to be featured in various parts of the experience.' %>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <%= form.check_box :feature, class: '' %>
          <span class="vs-checkbox">
                          <span class="vs-checkbox--check">
                              <i class="vs-icon feather icon-check"></i>
                          </span>
                        </span>
          <span class="">Feature</span>
        </div>
      </div>
    </div>

    <section class="Social_blocks step_point_box">
      <div class="container p-0">
        <div class="row">

          <div class="row">
            <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
              <div class="form-group">
                <%= form.label :link, 'Link to be shared' %>
                <%= form.text_field :link, class: 'form-control', placeholder: 'http://lib.perksocial.com/' %>
              </div>
            </div>
          </div>

          <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
            <div class="social-heading-details">
              <h3>2. choose and customize for platforms</h3>
              <p>Add a platform you would like your users to share this post to</p>
            </div>

            <%#= form.hidden_field :platform, value: new_record? ? 'facebook' : @challenge.platform,
                                                class: 'always-validate', data: {error: 'platform-error'} %>
            <%= form.hidden_field :social_title, value: new_record? ? '' : @challenge.social_title %>
            <%= form.hidden_field :social_description, value: new_record? ? '' : @challenge.social_description %>

            <div class="platform-error"></div>
            <div class="social-image-error"></div>
            <div class="social-title-error"></div>
            <div class="social-description-error"></div>

            <div class="accordion" id="Social_blocks_accordion">
              <div class="">
                <div class="card-head" id="facebookBlock">
                  <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#facebookBlockBody">
                      <i class="fa fa-plus"></i> <i class="fa fa-facebook" aria-hidden="true"></i>Facebook
                    </button>
                  </h2>
                </div>
                <div id="facebookBlockBody" class="collapse <%= active_social_blog('facebook') %>" aria-labelledby="facebookBlock" data-parent="#Social_blocks_accordion">
                  <div class="card-body">
                    <div class="Social_blocks_container Social_blocks_fb">
                      <div class="Social_blocks_fb_title">
                        <h5><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</h5>
                      </div>
                      <div class="Social_blocks_fb_content">

                        <div class="user_pic_box">
                          <img src="#" class="user_pic" id="facebook-img">
                          <div class="user_name_box">
                            <p><span>User's Name</span></p>
                            <p>Date</p>
                          </div>
                        </div>
                        <div class="clear"></div>

                        <p class="user-comment-section">
                          <%= social_blog_comment('facebook') %>
                        </p>
                        <div class="Social_blocks_fb_content_box">
                          <%= raw social_blog_image('facebook') %>
                          <div class="image-upload">
                            <label for="file-input-fb">
                              <i class="fa fa-upload"></i>
                            </label>
                            <%= form.file_field :image, class: "social-img-upload #{validate_social_image('facebook')}", id: 'file-input-fb',
                                                data: {'file-id' => 'show-facebook-image', error: 'social-image-error'} %>
                          </div>
                          <div class="editable_box">

                            <label class="text_label edit_title">
                              <h5>
                                <%= social_blog_title('facebook', 'text') %>
                              </h5>
                            </label>
                            <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                            <%= text_field_tag :social_title, social_blog_title('facebook', 'input'), class: 'form-control always-validate social-title-txt', placeholder: "Welcome to the LIB Experiences Club",
                                               data: {error: 'social-title-error'} %>
                            <div class="clear"></div>

                            <label class="text_label">
                              <p>
                                <%= social_blog_description('facebook', 'text') %>
                              </p>
                            </label>
                            <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                            <%= text_field_tag :social_description, social_blog_description('facebook', 'input'), class: 'form-control always-validate social-description-txt', placeholder: "We've made it easy for you to win exclusive prizes just by sharing the
                                              love about LIB.", data: {error: 'social-description-error'} %>
                            <div class="clear"></div>

                            <p>
                              <a href="javascript:void(0);" class="social-link-label"><%= social_blog_link('facebook') %></a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="card-head" id="twitterBlog">
                  <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#twitterBlogBody">
                      <i class="fa fa-plus"></i> <i class="fa fa-twitter" aria-hidden="true"></i>Twitter
                    </button>
                  </h2>
                </div>
                <div id="twitterBlogBody" class="collapse <%= active_social_blog('twitter') %>" aria-labelledby="twitterBlog" data-parent="#Social_blocks_accordion">
                  <div class="card-body">
                    <div class="Social_blocks_container Social_blocks_twitter">
                      <div class="Social_blocks_twitter_title">
                        <h5><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</h5>
                      </div>
                      <div class="Social_blocks_fb_content">

                        <div class="user_pic_box">
                          <img src="#" class="user_pic">
                          <div class="user_name_box">
                            <p><span>User's Name</span></p>
                            <label class="text_label">
                              <p>
                                <%= raw social_blog_description('twitter', 'text') %>
                              </p>
                            </label>
                            <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                            <%= text_field_tag :social_description, social_blog_description('twitter', 'input'), class: 'form-control always-validate social-description-txt', placeholder: "We've made it easy for you to win exclusive prizes just by sharing the
                                              love about LIB. Join today to start earning now. It's easy!", data: {error: 'social-description-error'} %>
                            <div class="clear"></div>
                          </div>
                        </div>
                        <div class="clear"></div>

                        <div class="Social_blocks_fb_content_box">
                          <%= raw social_blog_image('twitter') %>
                          <div class="image-upload">
                            <label for="file-input-twitter">
                              <i class="fa fa-upload"></i>
                            </label>
                            <%= form.file_field :image, class: "social-img-upload #{validate_social_image('twitter')}", id: 'file-input-twitter',
                                                data: {'file-id' => 'show-twitter-image', error: 'social-image-error'} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="card-head" id="linkedinBlog">
                  <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#linkedinBlogBody">
                      <i class="fa fa-plus"></i> <i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn
                    </button>
                  </h2>
                </div>
                <div id="linkedinBlogBody" class="collapse <%= active_social_blog('linked_in') %>" aria-labelledby="linkedinBlog" data-parent="#Social_blocks_accordion">
                  <div class="card-body">
                    <div class="Social_blocks_container Social_blocks_LinkedIn">
                      <div class="Social_blocks_LinkedIn_title">
                        <h5><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</h5>
                      </div>
                      <div class="Social_blocks_fb_content">

                        <div class="user_pic_box">
                          <img src="#" class="user_pic">
                          <div class="user_name_box">
                            <p><span>User's Blog Name</span></p>

                            <div class="Social_blocks_fb_content_box">
                              <%= raw social_blog_image('linked_in') %>
                              <div class="image-upload">
                                <label for="file-input-linkedin">
                                  <i class="fa fa-upload"></i>
                                </label>
                                <%= form.file_field :image, class: "social-img-upload #{validate_social_image('linked_in')}", id: 'file-input-linkedin',
                                                    data: {'file-id' => 'show-linkedin-image', error: 'social-image-error'} %>
                              </div>
                              <div class="editable_box">

                                <label class="text_label edit_title">
                                  <h5>
                                    <%= social_blog_title('linked_in', 'text') %>
                                  </h5>
                                </label>
                                <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                <%= text_field_tag :social_title, social_blog_title('linked_in', 'input'), class: 'form-control always-validate social-title-txt',
                                                   placeholder: "Welcome to the LIB Experiences Club",
                                                   data: {error: 'social-title-error'} %>
                                <div class="clear"></div>

                                <label class="text_label">
                                  <p>
                                    <%= social_blog_description('linked_in', 'text') %>
                                  </p>
                                </label>
                                <div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                <%= text_field_tag :social_description, social_blog_description('linked_in', 'input'), class: 'form-control always-validate social-description-txt', placeholder: "We've made it easy for you to win exclusive prizes just by sharing the
                                              love about LIB.", data: {error: 'social-description-error'} %>
                                <div class="clear"></div>

                                <p>
                                  <a href="javascript:void(0);" class="social-link-label"><%= social_blog_link('linked_in') %></a>
                                </p>
                                <hr>
                                <p class="user-comment-section">
                                  <%= social_blog_comment('linked_in') %>
                                </p>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</fieldset>
