<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" href="javascript:void(0);">
          <!-- <div class="brand-logo"></div>-->
          <%= image_tag('logo-files/perk-social-logo.png', :class => 'org-admin-logo') %>
          <!--<h2 class="brand-text mb-0">Perk Social</h2>-->
        </a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <% if @is_admin %>
        <li class="nav-item <%= is_active_menu(['dashboard']) %>">
          <a href="<%= admin_campaign_dashboard_path(campaign_id: @campaign.id) %>">
            <i class="feather icon-home"></i><span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item <%= is_active_menu(['participants']) %>">
          <a href="<%= admin_campaign_users_path(@campaign) %>">
            <i class="feather icon-users"></i><span class="menu-title">Users</span>
          </a>
        </li>
        <li class="nav-item <%= is_active_menu(['rewards']) %>">
          <a href="<%= admin_campaign_rewards_path(@campaign) %>">
            <i class="feather icon-award"></i><span class="menu-title">Rewards</span>
          </a>
        </li>
        <li class="nav-item <%= is_active_menu(['challenges']) %>">
          <a href="<%= admin_campaign_challenges_path(@campaign) %>">
            <i class="feather icon-briefcase"></i><span class="menu-title">Challenges</span>
          </a>
        </li>
        <li class="nav-item <%= is_active_menu(['campaigns']) %>">
          <a href="<%= edit_admin_campaign_path(@campaign) %>">
            <i class="feather icon-settings"></i><span class="menu-title">Settings</span>
          </a>
        </li>
        <li class="nav-item <%= is_active_menu(['campaign_configs']) %>">
          <a href="<%= edit_admin_campaign_config_path(@campaign, @config) %>">
            <i class="fa fa-plug"></i><span class="menu-title">Configurations</span>
          </a>
        </li>
         <li class="nav-item <%= is_active_menu(['template']) %>">
          <a href="<%= edit_admin_campaign_template_path(@campaign, @template) %>">
            <i class="feather icon-film"></i><span class="menu-title">Template</span>
          </a>
        </li>
        <li class="nav-item <%= is_active_menu(['profile_attributes']) %>">
          <a href="<%= admin_campaign_profile_attributes_path(@campaign) %>">
            <i class="fa fa-address-card-o"></i><span class="menu-title" data-i18n="Profile Attributes">Profile Attributes</span>
<!--            fa fa-bullseye-->

          </a>
        </li>
        <li class="nav-item <%= is_active_menu(['networks']) %>">
          <a href="<%= admin_campaign_networks_path(@campaign) %>">
            <i class="fa fa-magnet"></i><span class="menu-title" data-i18n="Network">Network</span>
          </a>
        </li>
     <% end %>
    </ul>
  </div>
</div>
