<%= javascript_include_tag 'campaign_admin/profile_attributes', 'data-turbolinks-track' => 'reload' %>

<%
  if @p_attribute.new_record?
    path = admin_campaign_profile_attributes_path(@campaign)
    method = 'post'
  else
    path = admin_campaign_profile_attribute_path(@campaign, @p_attribute)
    method = 'put'
  end
%>

<%= form_with(url: path, method: method, class: 'profile-attributes-form', model: @p_attribute, local: true) do |form| %>
  <div class="form-body">
    <div class="row">
      <div class="col-12">
        <% if @p_attribute.errors.any? %>
          <%= render '/shared/render_errors', resource: @p_attribute %>
        <% end %>
      </div>

      <%= form.hidden_field :campaign_id, value: @campaign.id %>

      <div class="col-7">
        <div class="form-group">
          <%= form.label :attribute_name, 'Attribute Name' %>
          <div class="position-relative">
            <%= form.text_field :attribute_name, class: "form-control", placeholder: "Custom Attribute Name" %>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="form-group">
          <%= form.label :display_name, 'Display Name' %>
          <div class="position-relative">
            <%= form.text_field :display_name, class: "form-control", placeholder: "Custom Attribute Display Name" %>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="form-group">
          <%= form.label :field_type, 'Field Type' %>
          <div class="position-relative">
            <%= form.select :field_type,
                            options_for_select(profile_attribute_field_types, @p_attribute.field_type), {}, class: 'form-control profile-attr-field-type' %>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="form-group">
          <div class="vs-checkbox-con vs-checkbox-primary">
            <%= form.check_box :is_active, class: '' %>
            <span class="vs-checkbox">
            <span class="vs-checkbox--check">
                <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
            <span class="">Active</span>
          </div>
        </div>
      </div>

      <div class="col-7">
        <%= form.submit "Save", class: 'btn btn-primary mr-1 mb-1' %>
        <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
      </div>
    </div>
  </div>
<% end %>
