<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post.title %>
</p>

<%= render partial: "hashtags/form", locals: {tagable: @comment} %>
<%= link_to 'Edit', edit_comment_path(@comment),class:"btn btn-dark" %> 
<%= link_to 'Back', comments_path,class:"btn btn-dark" %>
