<%= render 'users/shared/header_without_login' %>

<div class="container">
  <div class="row">
    <div class="col-centered" style="padding:40px 0px;">
      <div class="setup-info-module col-centered">
        <h2>Log in</h2>

        <% if flash[:error] %>
          <div style="color:red;">
            <%= flash[:error] %>
            <% flash[:error] = nil %>
          </div>
        <% end %>

        <ul class="features-list">
          <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <% if @organization.present? %>
              <%= hidden_field_tag 'user[role]', 'admin' %>
              <%= hidden_field_tag 'user[organization_id]', @organization.id %>
            <% else %>
              <%= hidden_field_tag 'user[role]', 'participant' %>
              <%= hidden_field_tag 'user[organization_id]', 0 %>
            <% end %>
<!--            <li>-->
              <%#= label_tag "user[organization_id]", 'Organization' %>
              <%#= select_tag "user[organization_id]", options_from_collection_for_select(Organization.all, "id", "name") %>
<!--            </li>-->

            <li>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
            </li>

            <li>
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", required: true %>
            </li>

            <%# if devise_mapping.rememberable? %>
<!--              <div class="field">-->
                <%#= f.check_box :remember_me %>
                <%#= f.label :remember_me %>
<!--              </div>-->
            <%# end %>

            <li class="list-divider"></li>
            <li>
              <%= f.submit "Log in", class: 'btn btn-login' %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-centered" style="text-align:center;">
        <%= link_to "Forgot your password?", new_user_password_path %>
      </div>
    </div>
  </div>
</div>
