<nav class="nav-solid">
  <div class="container">
    <a href="/">
      <img class="logo" src="/images/splash/perk-logo-ko.png">
    </a>
    <a class="nav-link" href="/signin">
      <i class="zmdi zmdi-account zmdi-hc-lg"></i>
      &nbsp;Sign In
    </a>
    <a class="nav-link demo" href="/demo">
      <i class="zmdi zmdi-desktop-mac zmdi-hc-lg"></i>
      &nbsp;<span class="hidden-xs">Get a</span> Demo
    </a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-centered" style="padding:40px 0px;">
      <div class="setup-info-module col-centered">
        <h2>Log in</h2>

        <% if flash[:error] %>
          <div style="color:red;">
            <%= flash[:error] %>
            <% flash[:error] = nil %>
          </div>
        <% end %>

        <ul class="features-list">
          <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <li>
              <%= label_tag "user[organization_id]", 'Organization' %>
              <%= select_tag "user[organization_id]", options_from_collection_for_select(Organization.all, "id", "name") %>
            </li>

            <li>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </li>

            <% # TODO: Manage Roles Based on the Login Type %>
            <%= hidden_field_tag 'user[role]', 'admin' %>

            <li>
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </li>

            <%# if devise_mapping.rememberable? %>
<!--              <div class="field">-->
                <%#= f.check_box :remember_me %>
                <%#= f.label :remember_me %>
<!--              </div>-->
            <%# end %>

            <li class="list-divider"></li>
            <li>
              <%= f.submit "Log in", class: 'btn btn-login' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
