<%#= render "participants/shared/links" %>
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="row flexbox-container">
        <div class="col-xl-8 col-11 d-flex justify-content-center">
          <div class="card bg-authentication rounded-0 mb-0">
            <div class="row m-0">
              <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
                <%= image_tag('pages/login.png', class: 'img-circle') %>
              </div>
              <div class="col-lg-6 col-12 p-0">
                <div class="card rounded-0 mb-0 px-2">
                  <div class="card-header pb-1">
                    <div class="card-title">
                      <h4 class="mb-0">Generate Password</h4>
                    </div>
                  </div>
                  <p class="px-2">Forgot your password?</p>
                  <div class="card-content">
                    <div class="card-body pt-1">
                      <%= render 'shared/flash_messages' %>
                      <%= form_for(resource, as: resource_name, url: participant_password_path, html: { method: :post }) do |f| %>
                        <% if @organization.present? %>
                          <%= hidden_field_tag 'participant[organization_id]', @organization.id %>
                        <% else %>
                          <%= hidden_field_tag 'participant[organization_id]', 0 %>
                        <% end %>


                        <fieldset class="form-label-group form-group position-relative has-icon-left">
                          <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'Email', autofocus: true %>
                          <div class="form-control-position">
                            <i class="feather icon-mail"></i>
                          </div>
                          <%= f.label :email, 'Email' %>
                        </fieldset>

                   		<br /><br />
                        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary float-right btn-inline' %>
                      <% end %>
                    </div>
                  </div>
                  <div class="login-footer">
                    <div class="divider">
<!--                      <div class="divider-text">OR</div>-->
                    </div>
                    <div class="footer-btn d-inline">
<!--                      <a href="#" class="btn btn-facebook"><span class="fa fa-facebook"></span></a>-->
<!--                      <a href="#" class="btn btn-twitter white"><span class="fa fa-twitter"></span></a>-->
<!--                      <a href="#" class="btn btn-google"><span class="fa fa-google"></span></a>-->
<!--                      <a href="#" class="btn btn-github"><span class="fa fa-github-alt"></span></a>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

