<h1>sportannouncements</h1>

<table class="table table-bordered table-striped" id='mysport'>
  <thead class="table-dark">
    <tr>
      <th>Message</th>
      <th>Game</th>
      <th>Button</th>
    </tr>
  </thead>
    <tbody>
    <% @sportannouncements.each do |sportannouncement| %>
      <tr>
        <td><%= sportannouncement.msg %></td>
        <td><%= sportannouncement.sport.sport_name %></td>
        <td><%= link_to 'Show', [@sport,sportannouncement], class:"btn btn-light" %>
        <%= link_to 'Edit',edit_sport_sportannouncement_path(@sport,sportannouncement), class:"btn btn-light" %>
        <%= link_to 'Destroy',[@sport, sportannouncement], class:"btn btn-light", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New sportannouncement', new_sport_sportannouncement_path(@sport), class:"btn btn-dark" %>