<div class="container">
  <div class="row-container">
    <div class="row form-bottom-margin">
      <div class="col-md-7 col-lg-offset-3">
        <div class="header-text">
          NEW ORGANIZATION ADMIN USER
        </div>
        <br>
        <div style="clear:both;"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-lg-offset-3">
        <%= form_for(resource, as: resource_name, url: admin_organizations_user_registration_path) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field form-bottom-margin">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true %>
          </div>

          <div class="field form-bottom-margin">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true %>
          </div>

          <div class="field form-bottom-margin">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <%= f.hidden_field :role, value: 'admin' %>
          <%= f.hidden_field :is_invited, value: true %>
          <%= f.hidden_field :organization_id, value: @organization.id %>

          <div class="field">
            <%= f.submit "Invite", class: 'btn btn-login' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
