<% if challenge.challenge_type == "article" %>
  <h3 class="my-4 custom_h3" data-parallax='{"y": -40, "smoothness": 10}'><%= challenge.title %></h3>
<% elsif challenge.challenge_type == "share" %>
  <h3 class="my-4 custom_h3" data-parallax='{"y": -40, "smoothness": 10}'><%= challenge.title %></h3>
<% else %>
  <h3 class="my-4 custom_h3" data-parallax='{"y": -40, "smoothness": 10}'><%= challenge.caption %></h3>
<% end %>

<div class="row mb-md-5">
  <% if current_participant.present? %>
    <% if challenge.challenge_type == "signup" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
          <%= challenge.parameters == "email" ? "Signup Email" : "Join #{challenge.parameters.titleize}" %>
        </button>
      </div>
    <% elsif challenge.challenge_type == "video" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
          Watch Now
        </button>
      </div>
    <% elsif challenge.challenge_type == "article" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
          Read Article
        </button>
      </div>
    <% elsif challenge.challenge_type == "referral" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
          Recruit Friends
        </button>
      </div>
    <% elsif challenge.challenge_type == "share" %>
        <div class="col-7">
          <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
            Share
          </button>
        </div>
    <% elsif challenge.challenge_type == "collect" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
          <%= "Take a #{challenge.parameters.titleize} Now" %>
        </button>
      </div>
    <% elsif challenge.challenge_type == "link" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
          Visit a URL
        </button>
      </div>
    <% elsif challenge.challenge_type == "engage" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn challenge-submission-btn" data-challenge-id="<%= challenge.id %>">
          Visit Social Media
        </button>
      </div>
    <% end %>
  <% else %>
    <% if challenge.challenge_type == "signup" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn" data-challenge-id="<%= challenge.id %>" data-toggle="modal" data-target="#join_now_modal">
          <%= challenge.parameters == "email" ? "Signup Email" : "Join #{challenge.parameters.titleize}" %>
        </button>
      </div>
    <% elsif challenge.challenge_type == "video" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn" data-challenge-id="<%= challenge.id %>" data-toggle="modal" data-target="#join_now_modal">
          Watch Now
        </button>
      </div>
    <% elsif challenge.challenge_type == "article" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn" data-challenge-id="<%= challenge.id %>" data-toggle="modal" data-target="#join_now_modal">
          Read Article
        </button>
      </div>
    <% elsif challenge.challenge_type == "referral" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn" data-challenge-id="<%= challenge.id %>" data-toggle="modal" data-target="#join_now_modal">
          <%= "Refer #{challenge.parameters.titleize}" %>
        </button>
      </div>
    <% elsif challenge.challenge_type == "collect" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn" data-challenge-id="<%= challenge.id %>" data-toggle="modal" data-target="#join_now_modal">
          <%= "Take a #{challenge.parameters.titleize} Now" %>
        </button>
      </div>
    <% elsif challenge.challenge_type == "link" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn" data-challenge-id="<%= challenge.id %>" data-toggle="modal" data-target="#join_now_modal">
          Visit a URL
        </button>
      </div>
    <% elsif challenge.challenge_type == "engage" %>
      <div class="col-7">
        <button class="custom_btn zoom_btn" data-challenge-id="<%= challenge.id %>" data-toggle="modal" data-target="#join_now_modal">
          Visit Social Media
        </button>
      </div>
    <% end %>
  <% end %>
  <div class="col-5">
    <span class="float-right pt-2 mt-1"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= get_remaining_time_in_words(challenge.finish) %></span>
  </div>
</div>
<div class="clear"></div>
