<% @template = @campaign.campaign_template_detail %>

<!-- Challenges section start -->
<section class="section1 new_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-md-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-3 col-3">
            <%= image_tag("end-user/reward.svg", class: "title_icon mt-3 float-md-right") %>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-9 col-9">
            <h2 class="custom_h2">Earn Points</h2>
            <div class="section_subtitle mb-4 mb-md-0">The <span class="bold_red">more you earn</span> the more you can win!</div>
          </div>
        </div>
      </div>
      <% if !@general_recruit_challenge.blank? %>
        <%= render "challenge", { challenge: @general_recruit_challenge } %>
      <% elsif @recruit_challenges && !@recruit_challenges.empty? %>
        <%= render "challenge", { challenge: @recruit_challenges.first } %>
      <% end %>
      <% unless @challenges.blank? %>
        <% @challenges.each_with_index do |challenge, index| %>
          <%= render "challenge", { challenge: challenge, index: index } %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<!-- Challenges section end -->

<!-- Rewards Section start -->
<section class="section2 new_section mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-md-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-3 col-3">
            <%= image_tag("end-user/reward.svg", class: "title_icon") %>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-9 col-9">
            <h2 class="custom_h2">Current Rewards</h2>
            <div class="section_subtitle">It's <span class="bold_red">rewarding</span> to stay connected</div>
          </div>
        </div>
      </div>
      <% unless @rewards.blank? %>
        <% @rewards.each_with_index do |reward, index| %>
          <div class="col-md-12 col-lg-4">
            <div class="card image_box">
              <div class="image_inner_text">
                <div class="row mb-md-5">
                  <% title = (reward.selection == "redeem") ? "Cash-In" : reward.selection.titleize %>
                  <div class="col-6"><span class="left float-left text-uppercase"><%= title %> <br> REWARD</span></div>
                  <div class="col-6"><%= image_tag("end-user/reward.svg", style: "width: 40px;float: right;") %></div>
                </div>
                <%= image_tag(reward.image.url, style: "width:100%;height: auto;margin: 12px 0px;") %>
                <h3 class="custom_h3 mt-0 mb-3"><%= reward.name %></h3>
                <h6 class="custom_h6 mb-3"><%= reward.description %></h6>
                <div class="row mb-md-5">
                  <div class="col-7">
                    <% if current_participant %>
                      <%# unless coupon_claimed(reward) %>
                        <button class="custom_btn zoom_btn reward-claim-modal-btn" data-challenge-id="<%= get_reward_challenge(reward.id) %>" data-reward-id="<%= reward.id %>">Claim</button>
                      <%# end %>
                    <% else %>
                      <button class="custom_btn zoom_btn" data-toggle="modal" data-target="#join_now_modal">Claim</button>
                    <% end %>
                  </div>
                  <div class="col-5">
                    <span class="float-right pt-2 mt-1" style="color:#B7B4B4;"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= get_remaining_time_in_words(reward.finish) %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<!-- Rewards Section end -->

<!-- My Rewards Section start -->
<section class="section2 new_section my-rewards" style="background-color: #F5F5F5;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-md-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-3 col-3">
            <%= image_tag("end-user/reward.svg", class: "title_icon") %>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-9 col-9">
            <h2 class="custom_h2">My Rewards</h2>
            <div class="section_subtitle">All of the <span class="bold_red"> rewards you have earned</span></div>
          </div>
        </div>
      </div>
      <% unless @claimed_rewards.blank? %>
        <% @claimed_rewards.each_with_index do |reward, index| %>
          <div class="col-md-12 col-lg-3">
            <div class="card image_box">
              <div class="image_inner_text">
                <div class="row mb-md-5">
                  <% title = (reward.selection == "redeem") ? "Cash-In" : reward.selection.titleize %>
                  <div class="col-6"><span class="left float-left text-uppercase"><%= title %> <br> REWARD</span></div>
                  <div class="col-6"><%= image_tag("end-user/reward.svg", style: "width: 40px;float: right;") %></div>
                </div>
                <%= image_tag(reward.image.url, style: "width:100%;height: auto;margin: 12px 0px;") %>
                <h3 class="custom_h3 mt-0 mb-3"><%= reward.name %></h3>
                <h6 class="custom_h6 mb-3"><%= reward.description %></h6>
                <div class="row mb-md-5">
                  <div class="col-7">
                    <% if current_participant %>
                      <%# unless coupon_claimed(reward) %>
                        <button class="custom_btn zoom_btn reward-claim-modal-btn" data-challenge-id="<%= get_reward_challenge(reward.id) %>" data-reward-id="<%= reward.id %>">Claim</button>
                      <%# end %>
                    <% else %>
                      <button class="custom_btn zoom_btn" data-toggle="modal" data-target="#join_now_modal">Claim</button>
                    <% end %>
                  </div>
                  <div class="col-5">
                    <span class="float-right pt-2 mt-1" style="color:#B7B4B4;"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= get_remaining_time_in_words(reward.finish) %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<!-- My Rewards Section end -->

<% if current_participant.blank? %>
  <!-- Top footer start -->
  <section class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <span class="font-weight-bold d-block footer_top_title">The sooner the join, the better your chances!</span>
          <span class="font-weight-100 d-block footer_top_subtitle mb-3"><strong>FREE to join.</strong> Easy to win.</span>
        </div>
        <div class="col-md-4 col-lg-3">
          <!-- <button class="custom_btn footer_top_btn" data-toggle="modal" data-target="#join_now_modal">JOIN NOW</button> -->
          <button class="custom_btn" data-toggle="modal" data-target="#join_now_modal">JOIN NOW</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Top footer end -->
<% end %>
<div class="clear"></div>

<div class="challenge-submission-modal"></div>
<div class="reward-claim-modal"></div>
<div class="participant-details-modal-div"></div>

<script type="text/javascript">
  $(document).ready(function () {

    // old code
    // var height;
    // $('.image_box_bg .card').each(function() {
    //   height = $(this).innerHeight()
    //   imageDiv = $(this).parent().find('.box_img_style');
    //   imageDiv.css('height', height);
    // });
    // old code

    // ---------------------------------------------------------------------------------
    // I've Shift this code to script.js consider that JS File and Do the Needed Changes
    // Do shift all the JS & CSS code to their relevant CSS & JS Files
    // ---------------------------------------------------------------------------------

    // $('body').on('click', '.challenge-submission-btn', function (e) {
    //   var challengeId = $(this).data('challenge-id');
    // if (<%#= current_participant.present? %>) {
    // $.ajax({
    //   type: 'GET',
    //   url: `/participants/challenges/${challengeId}/details`
    // });
    // } else {
    //   $('#sign_in_modal').modal();
    // }
    // });
  });
</script>

<style media="screen">
  .hero_section {
    padding: 100px 0px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
