<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top custom_nav">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo_image" src="<%= list_header_logo %>">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
        </ul>
        <!-- <a href="<%#= new_participant_registration_path %>" class="nav-link">Sign Up</a> -->
        <!-- <a href="<%#= new_participant_session_path %>" class="nav-link"><svg viewBox="0 0 100 100" class="icon-nav-item"><use xlink:href="#svg-sign-out"></use></svg>Log In</a> -->

        <% if current_participant.present? %>
          <%= link_to('Logout', destroy_participant_session_path, method: :delete, class: "btn") %>
        <% else %>
        <div class="mobile_header_btn_box">
          <a href="#" class="btn header_login_btn mr-3" data-toggle="modal" data-target="#sign_in_modal"><i class="fa fa-chevron-right" aria-hidden="true"></i> Log In</a>
          <a href="#" class="btn header_join_now_btn" data-toggle="modal" data-target="#join_now_modal">JOIN NOW</a>
        </div>
        <% end %>
      </div>

    </div>
  </nav>
</header>

<% if current_participant.blank? %>
  <!-- Sign Up Modal-->
  <%= render 'modals/sign_up_participant' %>
  <%#= render 'modals/sign_up' %>

  <!-- Sign In Modal-->
  <%= render 'modals/sign_in_participant' %>
<% else %>
  <!-- On-boarding Questions Modal -->
  <% challenge = check_onboarding_challege %>
  <% if challenge.present? %>
    <% submitted = check_onboarding_challege_submission challenge.first %>
    <% unless submitted %>
      <%= render 'participants/challenges/modals/onboarding_questions_modal', challenge: challenge.first %>
    <% end %>
  <% end %>
<% end %>
