<div class="modal fade text-left" id="participant_details_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="row">
          <div class="col-12">
            <h4 class="modal-title">
              <%= image_tag("end-user/BNR-Logo-Horizontal-Color-Black.svg", class: "logo_image mb-1") %>
            </h4>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body pt-0">
        <!-- Participant statistic points start -->
        <div class="row challenge-points-bg grid-divider">
          <div class="col-md-6">
            <span class='text-uppercase size-10'>Lifetime Balance</span>
            <span class="size-14" style="display:block;"><%= current_participant.points.to_i %> GoBucks</span>
          </div>
          <div class="col-md-6">
            <span class='text-uppercase size-10'>Current Balance</span>
            <span class="size-14" style="display:block;"><%= current_participant.unused_points.to_i %> GoBucks</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <h4 class="font-color-1"><%= current_participant.completed_challenges.to_i %> Challenges Completed</h4>
          </div>
        </div>
        <!-- History Section start -->
        <p>Nice Work! You also got.</p>
        <div class="row history-grid-divider text-center">
          <div class="col-md-2 offset-md-1">
            <span>
              <i class="fa fa-mouse-pointer font-color-1"> 0</i>
            </span>
            <div class="size-12">clicks</div>
          </div>
          <div class="col-md-2">
            <span>
              <i class="fa fa-heart-o font-color-1"> 0</i>
            </span>
            <div class="size-12">likes</div>
          </div>
          <div class="col-md-2">
            <span>
              <i class="fa fa-comment-o font-color-1"> 0</i>
            </span>
            <div class="size-12">comments</div>
          </div>
          <div class="col-md-2">
            <span>
              <i class="fa fa-share font-color-1"> 0</i>
            </span>
            <div class="size-12">reshares</div>
          </div>
          <div class="col-md-2">
            <span>
              <i class="fa fa-users font-color-1"> 0</i>
            </span>
            <div class="size-12">recruits</div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <p class="size-10 mb-0">*It may take up to 24 hours to assign GoBucks to your activity as we verify your posts and actions.</p>
            <p class="size-10 mb-0">**There may be limits on the number of likes, comments, retweets, etc. that you can earn. See FAQs for more details.</p>
          </div>
        </div><br>

        <!-- Participant profile section -->
        <section class="participant-profile">
          <div class="row">
            <div class="col-md-12">
              <h4 class="mb-0">Profile Information <a href="javascript:void(0);" class="text-uppercase pull-right size-12 mt-2 font-color-1" id="participant_profile_edit_btn">Edit</a></h4>
              <hr class="m-0">
            </div>
          </div>
          <!-- Participant profile information details -->
          <div class="participant-profile-info-details">
            <div class="row mt-3">
              <div class="col-md-3">
                <%= image_tag(get_profile_avatar_url, class: "rounded-circle", width: "100", height: "100") %>
              </div>
              <div class="col-md-9">
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="p-2">
                    <p class="mb-0"><b class="text-uppercase size-12">Name</b></p>
                    <p class="mb-0 size-12"><%= current_participant.first_name %></p>
                  </div>
                  <div class="p-2">
                    <p class="mb-0"><b class="text-uppercase size-12">Phone</b></p>
                    <p class="mb-0 size-12"><%= current_participant.phone %></p>
                  </div>
                  <div class="p-2">
                    <p class="mb-0"><b class="text-uppercase size-12">Email Address</b></p>
                    <p class="mb-0 size-12"><%= current_participant.email %></p>
                  </div>
                  <div class="p-2">
                    <p class="mb-0"><b class="text-uppercase size-12">Mailing Address</b></p>
                    <p class="mb-0 size-12">-</p>
                  </div>
                  <div class="p-2">
                    <p class="mb-0"><b class="text-uppercase size-12">University Affliation</b></p>
                    <p class="mb-0 size-12">-</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- participant details edit form -->
          <div class="participant-profile-edit-info section-bg-color-1" style="display:none;">
            <%= form_for(current_participant, as: :participant, url: update_profile_details_participants_participant_accounts_path, method: :post, :html => {class: 'form form-vertical participant-profile-form', remote: true}) do |f| %>
              <div class="row ml-1 pt-3">
                <div class="col-md-4">
                  <h6>Profile Photo</h6>
                  <%= image_tag(get_profile_avatar_url, class: "rounded-circle", width: "100", height: "100") %>
                </div>
                <div class="col-md-8">
                  <%= f.file_field :avatar, class: "custom-file-input" %>
                  <%= f.label :avatar, f.object.avatar.present? ? f.object.avatar.file.filename : 'Choose file', class: 'custom-file-label' %>
                </div>
              </div>
              <hr>
              <div class="contact-info">
                <div class="row ml-1">
                  <div class="col-md-12">
                    <h6 class="mb-0">Contact Info</h6>
                    <span class="size-12">*notes required fields</span>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :first_name, class: "form-control", placeholder: "FIRST NAME*", autocomplete: "off" %>
                  </div>
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :last_name, class: "form-control", placeholder: "LAST NAME*", autocomplete: "off" %>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :address_1, class: "form-control", placeholder: "STREET ADDRESS", autocomplete: "off" %>
                  </div>
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :address_2, class: "form-control", placeholder: "STREET ADDRESS", autocomplete: "off" %>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :city, class: "form-control", placeholder: "CITY", autocomplete: "off" %>
                  </div>
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :state, class: "form-control", placeholder: "STATE/PROVINCE", autocomplete: "off" %>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :postal, class: "form-control", placeholder: "ZIP", autocomplete: "off" %>
                  </div>
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :country, class: "form-control", placeholder: "COUNTRY", autocomplete: "off" %>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :home_phone, class: "form-control", placeholder: "HOME PHONE", autocomplete: "off" %>
                  </div>
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :work_phone, class: "form-control", placeholder: "WORK PHONE", autocomplete: "off" %>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-6 m-b-14">
                    <%= f.text_field :phone, class: "form-control", placeholder: "MOBILE PHONE", autocomplete: "off" %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="email-info">
                <div class="row ml-1">
                  <div class="col-md-12">
                    <h6>Email Address</h6>
                    <p class="size-12">We will use your email address to send you important information regarding Buckeye Nation Rewards and your Buckeye nation Rewards member account. We may also send you information about special offers from third parties and from our sponsors. To change your email settings, go to Email Settings below.</p>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-6">
                    <p class="mb-0"><b class="text-uppercase size-12">Email Address</b></p>
                    <p class="mb-0 size-12"><%= current_participant.email %></p>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-0"><b class="text-uppercase size-12">Confirm Email Address</b></p>
                    <p class="mb-0 size-12"><%= current_participant.email %></p>
                  </div>
                </div>
              </div>
              <hr>
              <div class="university-affliation-info">
                <div class="row ml-1">
                  <div class="col-md-12">
                    <h6>University Affliation* (Choose all that apply)</h6>
                  </div>
                </div>
                <div class="row ml-1">
                </div>
              </div>
              <hr>
              <div class="job-info">
                <div class="row ml-1">
                  <div class="col-md-12">
                    <h6 class="mb-0">Job Info</h6>
                    <span class="size-12">*notes required fields</span>
                  </div>
                </div>
                <div class="row ml-1">
                  <div class="col-md-4">
                    <p class="mb-0"><b class="text-uppercase size-12">Current Job</b></p>
                    <%= f.text_field :job_position, class: "form-control", placeholder: "CURRENT JOB POSITION", autocomplete: "off" %>
                  </div>
                  <div class="col-md-4">
                    <p class="mb-0"><b class="text-uppercase size-12">Company Name</b></p>
                    <%= f.text_field :job_company_name, class: "form-control", placeholder: "COMPANY NAME", autocomplete: "off" %>
                  </div>
                  <div class="col-md-4">
                    <p class="mb-0"><b class="text-uppercase size-12">Industry</b></p>
                    <%= f.text_field :job_industry, class: "form-control", placeholder: "INDUSTRY", autocomplete: "off" %>
                  </div>
                </div>
                <div class="row ml-1 mt-3">
                  <div class="col-md-12">
                    <span class="size-12">Tell us what you're interested in knowing more about:</span>
                  </div>
                  <div class="col-md-12">
                    <span class="size-12">Sports</span>
                    <span class="size-12">Giving</span>
                    <span class="size-12">Alumini News</span>
                    <span class="size-12">Upcoming Events/Concerts</span>
                    <span class="size-12">University News</span>
                  </div>
                </div>
              </div>
              <div class="row ml-1 mt-3">
                <div class="col-md-3">
                  <%= f.button "Cancel", type: :button, class: 'btn btn-block pull-right', id: "participant_profile_cancel_btn" %>
                </div>
                <div class="col-md-3">
                  <%= f.submit "Save", class: 'btn box1_btn btn-block pull-right' %>
                </div>
              </div>
            <% end %>
          </div><br>
        </section>

        <!-- Email Settings details -->
        <section class="email-settings">
          <div class="email-settings-show-info">
            <div class="row">
              <div class="col-md-12">
                <h4 class="mb-0">Email Settings <a href="javascript:void(0);" class="text-uppercase pull-right size-12 mt-2 font-color-1" id="email_settings_edit_btn">Edit</a></h4>
                <hr class="m-0">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <p class="size-12">You can opt in to recieve emails from Buckeye Nation Rewards for news about product and services. Stay informed about the latest challenges and rewards by keeping your email preferences up to date.</p>
              </div>
            </div>
          </div>
          <div class="email-settings-edit-info" style="display:none;">
          </div><br>
        </section>

        <!-- Connect Social Accounts Start-->
        <div class="row">
          <div class="col-6">
            <% if current_participant.facebook_uid.present? && current_participant.facebook_token.present? &&
                current_participant.facebook_expires_at.present? %>
              <a id="disconnect-facebook-btn" href="javascript:void(0);"
                 class="btn box1_btn facebook_btn btn-block disconnect-btn" data-connection-type="facebook">
                <span class="icon-btn-share fa fa-facebook connect-social-icon"></span>
                <span class="btn-share-text">Disconnect</span>
              </a>
            <% else %>
              <%
                facebook_challenge = display_facebook_button
                display_facebook = facebook_challenge.present? ? current_participant.eligible?(facebook_challenge) : false
              %>
              <% if display_facebook.present? %>
                <a id="connect-facebook-btn"
                   href="<%= participant_facebook_omniauth_authorize_path(type: 'connect', ci: @campaign.id, oi: @organization.id, pi: current_participant.id) %>"
                   class="btn box1_btn facebook_btn btn-block">
                  <span class="icon-btn-share fa fa-facebook connect-social-icon"></span>
                  <span class="btn-share-text">Connect +<%= facebook_challenge.try(:points) %></span>
                </a>
                <div class="clear"></div>
              <% end %>
            <% end %>
          </div>

          <div class="col-6">
            <% if current_participant.twitter_uid.present? && current_participant.twitter_token.present? &&
                current_participant.twitter_secret.present? %>
              <a id="disconnect-twitter-btn" href="javascript:void(0);"
                 class="btn box1_btn twitter_btn btn-block disconnect-btn" data-connection-type="twitter">
                <span class="icon-btn-share fa fa-twitter connect-social-icon"></span>
                <span class="btn-share-text">Disconnect</span>
              </a>
            <% else %>
              <%
                twitter_challenge = fetch_twitter_challenge
                display_twitter = twitter_challenge.present? ? current_participant.eligible?(twitter_challenge) : false
              %>
              <% if display_twitter %>
                <a id="connect-twitter-btn"
                   href="<%= participant_twitter_omniauth_authorize_path(type: 'connect', ci: @campaign.id, oi: @organization.id, pi: current_participant.id) %>"
                   class="btn box1_btn twitter_btn btn-block">
                  <span class="icon-btn-share fa fa-twitter connect-social-icon"></span>
                  <span class="btn-share-text">Connect <%= twitter_challenge.try(:points) %></span>
                </a>
                <div class="clear"></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <br>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('#participant_profile_edit_btn').click(function() {
       $('.participant-profile-info-details').hide();
       $('.participant-profile-edit-info').show();
    });

    $('#participant_profile_cancel_btn').click(function() {
       $('.participant-profile-info-details').show();
       $('.participant-profile-edit-info').hide();
    });

  });
</script>

<style media="screen">
  .challenge-points-bg {
    background-color: #bb0000;
    color: white;
  }

  .row.grid-divider [class*='col-']:not(:last-child):after {
    background: red;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    height: auto;
  }

  .row.history-grid-divider [class*='col-']:not(:last-child):after {
    background: lightgrey;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    height: auto;
  }

</style>
