<div class="participant-profile-info-details">
  <div class="row mt-3">
    <div class="col-md-3">
      <%= image_tag(get_profile_avatar_url, class: "rounded-circle", width: "100", height: "100") %>
    </div>
    <div class="col-md-9">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="p-2">
          <p class="mb-0"><b class="text-uppercase size-12">Name</b></p>
          <p class="mb-0 size-12"><%= current_participant.first_name %></p>
        </div>
        <div class="p-2">
          <p class="mb-0"><b class="text-uppercase size-12">Phone</b></p>
          <p class="mb-0 size-12"><%= current_participant.phone %></p>
        </div>
        <div class="p-2">
          <p class="mb-0"><b class="text-uppercase size-12">Email Address</b></p>
          <p class="mb-0 size-12"><%= current_participant.email %></p>
        </div>
        <div class="p-2">
          <p class="mb-0"><b class="text-uppercase size-12">Mailing Address</b></p>
          <p class="mb-0 size-12">-</p>
        </div>
        <div class="p-2">
          <p class="mb-0"><b class="text-uppercase size-12">University Affliation</b></p>
          <p class="mb-0 size-12"><%= current_participant.participant_profiles.pluck(:value).compact.join(", ").titleize %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- participant details edit form -->
<div class="participant-profile-edit-info section-bg-color-1" style="display:none;">
  <!-- Check onboarding challenge submitted or not -->
  <% challenge = check_onboarding_challege %>
  <% submitted = check_onboarding_challege_submission challenge.first  if challenge.present? %>

  <!-- Fetch form submission url and method type -->
  <% url = (challenge.present? && !submitted) ? submission_participants_challenge_path(challenge.first) : update_profile_details_participants_accounts_path %>
  <% method_type = (challenge.present? && !submitted) ? 'post'.to_sym : 'put'.to_sym %>

  <%= form_for(current_participant, as: :participant, url: url, method: method_type, :html => {class: 'form form-vertical participant-profile-form', remote: true}) do |f| %>
    <div class="row ml-1 mr-1 pt-3">
      <div class="col-md-4">
        <h6>Profile Photo</h6>
        <%= image_tag(get_profile_avatar_url, class: "rounded-circle", width: "100", height: "100", id: "participant_profile_avatar") %>
      </div>
      <div class="col-md-8">
        <%= f.file_field :avatar, class: "custom-file-input" %>
        <%= f.label :avatar, f.object.avatar.present? ? f.object.avatar.file.filename : 'Choose file', class: 'custom-file-label' %>
      </div>
    </div>
    <hr>
    <div class="contact-info">
      <div class="row  ml-1 mr-1">
        <div class="col-md-12">
          <h6 class="mb-0">Contact Info</h6>
          <span class="size-12">*notes required fields</span>
        </div>
      </div>
      <div class="row ml-1 mr-1">
        <div class="col-md-6 m-b-14">
          <p class="mb-0"><b class="text-uppercase size-12">First Name</b></p>
          <%= f.text_field :first_name, class: "form-control", placeholder: "FIRST NAME*", autocomplete: "off" %>
        </div>
        <div class="col-md-6 m-b-14">
          <p class="mb-0"><b class="text-uppercase size-12">Last Name</b></p>
          <%= f.text_field :last_name, class: "form-control", placeholder: "LAST NAME*", autocomplete: "off" %>
        </div>
      </div>
      <div class="row ml-1 mr-1">
        <div class="col-md-6 m-b-14">
          <p class="mb-0"><b class="text-uppercase size-12">Email</b></p>
          <%= f.text_field :email, class: "form-control", placeholder: "Email*", autocomplete: "off", disabled: true %>
        </div>
      </div>
    </div>
    <!-- On-boarding Questions -->
    <% if challenge.present? %>
      <%= render 'participants/participant_accounts/participant_onboarding_questions_section', challenge: challenge.first %>
    <% end %>
    <div class="row ml-1 mr-1 mt-3">
      <div class="col-md-3">
        <%= f.button "Cancel", type: :button, class: 'btn btn-block cancel-btn pull-right', id: "participant_profile_cancel_btn" %>
      </div>
      <div class="col-md-3">
        <%= f.submit "Save", class: 'btn box1_btn btn-block pull-right' %>
      </div>
    </div>
  <% end %>
</div><br>

<script type="text/javascript">
  $(document).ready(function() {

    $('#participant_profile_edit_btn').click(function() {
       $('.participant-profile-info-details').hide();
       $('.participant-profile-edit-info').show();
    });

    $('#participant_profile_cancel_btn').click(function() {
       $('.participant-profile-info-details').show();
       $('.participant-profile-edit-info').hide();
       $(".participant-profile-form").validate().resetForm();
    });

  });
</script>
