<%= form_with(url: '/organizations/campaigns', method: 'post', class: 'add-campaign-form', model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <%= render '/shared/render_errors', resource: campaign %>
  <% end %>

  <div class="field form-bottom-margin">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.hidden_field :organization_id, value: @organization.id %>

  <div class="field form-bottom-margin">
    <%= form.label :domain %>
    <%= form.text_field :domain %>
  </div>

  <div class="field form-bottom-margin">
    <%= form.label :domain_type, 'Domain type' %>
    <%= form.select :domain_type,
                    options_for_select(Campaign::domain_types.map { |v| [v[0].titleize, v[0]] }.compact),
                    {prompt: 'Select Domain Type'},
                    {class: 'form-control domain_type_id'} %>

  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-login' %>
  </div>
<% end %>
