<div class="container">
  <div class="row row-container">
    <div class="col-md-12">
      <div class="header-text">
        CAMPAIGNS
      </div>
      <div style="float:right;">
        <a href="<%= new_organizations_campaign_path %>" class="btn-red-admin">ADD CAMPAIGN</a>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="col-md-12">
      <table class="table" style="margin-top:10px;">
        <tr>
          <th>CREATED AT</th>
          <th>CAMPAIGN NAME</th>
          <th>DOMAIN</th>
          <th>MEMBERS</th>
          <th>CHALLENGES/COMPLETED</th>
          <th>PRIZES/AWARDED</th>
          <th>DEACTIVATE</th>
        </tr>
        <% @campaigns.each do |campaign| %>
          <tr>
            <td style="color:#888;">
              <%= campaign.created_at.strftime("%B %d, %Y") %>
            </td>
            <td class="campaign-<%= campaign.id %>-link">
              <% if campaign.is_active  %>
                <a href="<%= campaign_dashboard_path(campaign) %>"><%= campaign.name %></a>
              <% else %>
                <%= campaign.name %>
              <% end %>
            </td>
            <td style="color:#888;">
              <%= campaign.domain %>
            </td>
            <td style="color:#888;">
              1
            </td>
            <td style="color:#888;">
              5
            </td>
            <td style="color:#888;">
              3
            </td>
            <td class="campaign-<%= campaign.id %>-action">
              <% if campaign.is_active  %>
                <%= link_to "Deactivate",
                            deactivate_organizations_campaign_path(campaign.id), method: :patch, remote: :true,
                            class: "btn btn-xs btn-action btn-warning",
                            data: {confirm: "Are you sure you want to de-activate this campaign? This cannot be brought back." } %>
              <% else %>
                DEACTIVATED
              <% end %>

            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
