<div class="modal fade text-left reward-modal" id="cash_in_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header border-bottom-0">
        <% unless @reward_activity.blank? %>
          <span class="time_class pull-left font-weight-light"><i class="fa fa-check-circle" aria-hidden="true"></i> Completed on <%= @reward_activity.created_at.strftime('%d/%m/%Y') %></span>
        <% else %>
          <span class="time_class pull-left font-weight-light"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= get_remaining_time_in_words(reward.finish) %></span>
        <% end %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="reward-content text-left font-weight-light">
          <!-- Reward details -->
          <% unless @reward_activity.blank? %>
            <h4 class="text-center mb-3">You Earned <%= "#{get_coupon_code(reward)}" %> and <span><%= "#{reward.points.to_i} Bonus Points!" %></span></h4>
          <% else %>
            <h4 class="text-center mb-3">Earn Coupon and <span><%= "#{reward.points.to_i} Bonus Points" %></span> for claiming this reward.</h4>
          <% end %>
          <p class="mb-4 size-12"><%= reward.description %></p>
          <div class="row">
            <div class="col-md-12">
              <%= image_tag(reward.image.url, style: "width:100%;height: auto;margin: 12px 0px;") %>
            </div>
          </div>
          <p class="mb-4 size-12"><%= raw(reward.description_details).html_safe %></p>
          <!-- Actions -->
          <div class="row">
            <div class="col-md-12">
              <% unless  @reward_activity.blank? %>
                <p class="mb-4 size-12"><%= raw(reward.redemption_details).html_safe %></p>
              <% else %>
                <% if current_participant.unused_points >= reward.threshold %>
                  <button class="watch_btn reward-claim-btn text-center" data-reward-id="<%= reward.id %>">Claim Reward</button>
                <% else %>
                  <p class="mb-4 size-12">Earn <%= (reward.threshold - current_participant.unused_points) %> more GoBucks to redeem this reward</p>
                <% end %>
              <% end %>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
  });

  // claim Reward start
  $('#cash_in_modal').on('click', '.reward-claim-btn', function (e) {
    var rewardId = $(this).data('reward-id');
    var _this = $(this);

    $.ajax({
      url: `/participants/rewards/${rewardId}/claim`,
      type: 'POST',
      dataType: 'JSON',
      success: function (data) {
        _this.hide();
        Swal.fire({
          title: 'Reward Claimed',
          text: data.message,
          confirmButtonClass: 'btn btn-primary',
          buttonsStyling: false,
        }).then(function() {
          $('#cash_in_modal').modal('hide');
        });
      }
    });
  });
  // submit Reward end


</script>

<style media="screen">

</style>
