<div class="modal fade text-left reward-modal" id="manual_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header border-bottom-0">
        <% unless @reward_activity.blank? %>
          <span class="time_class pull-left font-weight-light"><i class="fa fa-check-circle" aria-hidden="true"></i> Completed on <%= @reward_activity.created_at.strftime('%d/%m/%Y') %></span>
        <% else %>
          <span class="time_class pull-left font-weight-light"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= get_remaining_time_in_words(reward.finish) %></span>
        <% end %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="reward-content text-left font-weight-light">
          <!-- Reward details -->
          <% unless @reward_activity.blank? %>
            <h4 class="text-center mb-3">You Earned Coupon and <span><%= "#{reward.points.to_i} Points!" %></span></h4>
          <% else %>
            <h4 class="text-center mb-3">Earn Coupon and <span><%= "#{reward.points.to_i} Points" %></span> for claiming this reward.</h4>
          <% end %>
          <p class="mb-4 size-12"><%= reward.description %></p>

          <div class="row">
            <div class="col-md-12">
              <%= image_tag(reward.image.url, style: "width:100%;height: auto;margin: 12px 0px;") %>
            </div>
          </div>
          <p class="mb-4 size-12"><%= raw(reward.description_details).html_safe %></p>
        </div>
        <p class="mb-4 size-12"><%= raw(reward.redemption_details).html_safe %></p>
      </div>
    </div>
  </div>
</div>
