<div class="modal fade text-left reward-modal" id="manual_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <% title = (reward.selection == "redeem") ? "Cash-In" : reward.selection.titleize %>
        <div class=""><span class="cashin_class text-uppercase <%= @reward_activity.blank? ? '' : 'clr_green' %>"><%= "#{title} REWARD" %></span> </div>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="reward-content">
          <div class="new_popup_box">
            <% unless @reward_activity.blank? %>
              <h2 class="congrats_text">Congrats <img class="congrats_emoji" alt="🙌" src="https://s.w.org/images/core/emoji/12.0.0-1/svg/1f64c.svg"> -  You've earned:</h2>
            <% end %>
            <h2 class="reward_title text-center"><%= reward.name %></h2>
            <% unless @reward_activity.blank? %>
              <p class="offer_text"><%= raw(reward.redemption_details).html_safe %></p>
            <% end %>
            <%= image_tag(reward.image.url, class: "reward_img m-b-20") %>
            <h4 class="text-center font-weight-normal"><%= reward.description %></h4>
          </div>

          <div class="reward_detail">
            <h2 class="reward_title text-center">Details:</h2>
            <hr class="reward_detail_divider">
            <div class="reward_detail_content">
              <p class="text-left"><%= raw(reward.description_details).html_safe %></p>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title text-left">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span style="padding-left: 10px"> Terms and Conditions </span>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body text-left">
                    <p class="collapse_content"><%= reward.terms_conditions %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="earn_more_btnbox">
            <% if @reward_activity.blank? %>
              <span class="expire_date">Expires  <span><%= reward.finish.strftime('%m/%d/%y') %></span></span>
            <% else %>
              <span class="time_class pull-left font-weight-light"><i class="fa fa-check-circle" aria-hidden="true"></i> Completed on <%= @reward_activity.created_at.strftime('%d/%m/%Y') %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
