<div class="modal fade text-left" id="coupon_user" tabindex="-1" role="dialog" aria-labelledby="reward_participant" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Coupons</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <h4 class="modal-title">Add Coupons</h4>
              <%= form_with(url: admin_campaign_reward_create_coupon_path(@reward.campaign, @reward, @coupon), model: @coupon, local: true, id: "reward_coupon_form") do |f|%>
                <%= f.label :coupon_codes %>
                <span class="column-info">Enter the new coupon codes you want associated with this reward.
                </span>
                <%= f.text_area :code, class: "form-control reward-coupon", id: 'label-textarea', rows: '3' %>
                <span class="error" id="reward-coupon-error" style="display:none;"></span>

              <% end %>
              <div class="content-wrapper">
                <div class="content-body">
                  <section id="data-list-view" class="data-list-view-header">
                    <div class="table-responsive">
                      <table class="table coupon-list-view">
                          <thead>
                              <tr>
                                  <th>Coupon</th>
                                  <th>Contact</th>
                                  <th>Date</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% if @coupons.present? %>
                              <% @coupons.each do |coupon|%>
                                <tr>
                                  <td scope="row"><%= coupon.code %></td>
                                  <td><%= coupon_holder_email coupon %> </td>
                                  <td><%= coupon.created_at.strftime("%d-%m-%Y") if coupon.created_at.present? %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                      </table>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary coupon_save">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  // Coupon create form validation UI -- start
  $('.coupon_save').on('click', function(e) {
    var errors = 0;
    var couponsLength = 0;
    var rewardCoupons;
    var totalCoupons;
    var coupons = $('.reward-coupon').val().trim();

    // check for reward quantity and total coupons quantity
    if (coupons !== '' && coupons !== undefined){
       couponsLength = coupons.split(',').length;
       rewardCoupons = <%= @reward.limit %>
       totalCoupons = couponsLength + <%= @coupons.present? ? @coupons.count : 0 %> ;
       if (parseInt(rewardCoupons) >= parseInt(totalCoupons)) {
         $('form').submit();
         $('#coupon_user').modal('hide');
       } else {
         message = "The coupons you have entered cannot be available for this reward exceeding the limit."
         $('#reward-coupon-error').text(message).show()
       }
    } else {
      errors += 1 ;
      message = "Please enter the coupon codes."
      $('#reward-coupon-error').text(message).show()
    }
  })
  // Coupon create form validation UI -- end


  $(".coupon-list-view").DataTable({});
</script>>
