<%= stylesheet_link_tag 'campaign_admin/challenges', 'data-turbolinks-track' => 'reload' %>
<%= javascript_include_tag 'campaign_admin/challenges', 'data-turbolinks-track' => 'reload' %>

<style type="text/css">
  .filter_hidden {
    display: none;
  }
  .image_field_label{
    margin-left: 13px;
    width: 96%;
  }
  .border_reward {
    border: 1px solid #7367F0 !important;
    border-radius: 0.5rem !important;
  }
  .top_margin {
    margin-top: 15px;
  }
}
</style>
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-body">
      <section id="basic-vertical-layouts">
        <div class="row match-height">
          <div class="col-md-12 col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="text-center card-title">Create Reward</h4>
              </div>
              <div class="card-content container col-md-9 col-9 border_reward" style="margin-top:20px">
                <% if action_name == 'new'%>
                  <% url = admin_campaign_rewards_path(@reward.campaign, @reward)%>
                  <% form_method = 'post'%>
                <% else %>
                  <% url = admin_campaign_reward_path(@reward.campaign, @reward)%>
                  <% form_method = 'put'%>
                <% end %>
                <%= form_with(url:url, method: form_method, class: 'new-reward-form', model: @reward, local: true, html: {multipart: true}) do |f| %>
                  <% if @reward.errors.any? %>
                    <%# puts 'there are some errors here in edit.html.erb' %>
                    <div id="error_explanation">
                      <h3 style="margin-left: 23px;">
                        <%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:
                      </h3>
                      <ul>
                        <% @reward.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="card-body">
                    <form class="form form-vertical">
                      <div class="form-body">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :name %>
                              <span class="column-info">Enter a friendly name to describe this reward.</span>
                              <div class="position-relative has-icon-left">
                                <%= f.text_field :name, id: 'first-name-icon', class: "form-control"%>
                                <div class="form-control-position">
                                  <i class="feather icon-user"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :description %>
                              <span class="column-info">Describe the prize and the selection process.
															</span>
                              <div class="position-relative">
                                <fieldset class="form-label-group">
                                  <%= f.text_area :description, class: "form-control", id: 'label-textarea', rows: '3' %>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :redemption_details %>
                              <span class="column-info">A message to the user once they have been awarded this prize how to claim it.
															</span>
                              <div class="position-relative">
                                <fieldset class="form-label-group">
                                  <%= f.text_area :redemption_details, class: "form-control", id: 'label-textarea', rows: '3'%>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :description_details %>
                              <span class="column-info">Additional information about this product to display to the user when the click details.</span>
                              <div class="position-relative">
                                <fieldset class="form-label-group">
                                  <%= f.text_area :description_details, class: "form-control", id: 'label-textarea', rows: '3'%>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :limit %>
                              <span class="column-info">The number of people who can get this reward.
															</span>
                              <div class="position-relative" style="width: 25%;">
                                <div class="input-group">
                                  <%= f.number_field :limit, class: "touchspin form-control", value: '0' %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :selection %>
                              <span class="column-info">Selection is how the reward will be awarded. If manual its up to the admin to set the winners or through challenges. With selection it allows users to trade in points.
															</span>
                              <div class="position-relative">
                                <div class="form-group">
                                  <%= f.select(:selection, options_for_select(Reward::SELECTIONS, :selected => f.object.selection), {}, {class: "select2 form-control"})
                                  %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="threshold col-12" style="display: none">
                            <div class="form-group">
                              <%= f.label :threshold %>
                              <!-- <label for="first-name-icon">Name</label><br/> -->
                              <span class="column-info">This is the number of points required for a user to win this prize.
															</span>
                              <div class="position-relative has-icon-left">
                                <%= f.text_field :threshold, id: 'first-name-icon', class: "form-control" %>
                              </div>
                            </div>
                          </div>
                          <div class="sweepstake col-12" style="display: none">
                            <div class="form-group">
                              <%= f.label :sweepstake_entry %>
                              <!-- <label for="first-name-icon">Name</label><br/> -->
                              <span class="column-info">This determines how many points it takes to create a single entry.
															</span>
                              <div class="position-relative">
                                <%= f.text_field :sweepstake_entry, id: 'first-name-icon', class: "form-control" %>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <div class="position-relative">
                                <fieldset>
                                  <div class="vs-checkbox-con vs-checkbox-primary">
                                    <%= f.check_box :feature, class: '' %>
                                    <span class="vs-checkbox">
                                        <span class="vs-checkbox--check">
                                            <i class="vs-icon feather icon-check"></i>
                                        </span>
                                      </span>
                                    <span class="">feature</span>
                                    <span class="column-info">This is an option for if this content is to be featured in various locations on the site.
																			</span>
                                  </div>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :points %>
                              <span class="column-info">This is an 	to give points by assigning a user to a reward.
																	</span>
                              <div class="position-relative" style="width: 25%;">
                                <%= f.text_field :points, id: 'first-name-icon', class: "form-control" %>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :terms_conditions %>
                              <span class="column-info">Optional terms and conditions for this reward.
																</span>
                              <div class="position-relative">
                                <fieldset class="form-label-group">
                                  <%= f.text_area :terms_conditions, class: "form-control", id: 'label-textarea', rows: '3'%>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <%= f.label :start %>
                              <span class="column-info">This is the date the challenge will become visible.
																</span>
                              <div class="position-relative">
                                <fieldset class="form-label-group">
                                  <%= f.text_field :start, class: "form-control reward-format-picker" %>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class= "col-6">
                            <div class="form-group">
                              <%= f.label :end_date %>
                              <span class="column-info">This is the date the challenge will become visible.
																</span>
                              <div class="position-relative">
                                <fieldset class="form-label-group">
                                  <%= f.text_field :finish, class: "form-control reward-format-picker" %>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <%= f.label :image %>
                              <%= f.file_field :image, class:"custom-file-input" %>
                              <%= f.label :image, 'Choose file', class: 'custom-file-label image_field_label' %>
                            </div>
                          </div>
                          <div class="col-12">
                                  <div class="">
                                    <h3>REWARD SEGMENTS</h3>
                                    <hr style="margin-bottom: 0px !important;">
                                  </div>

                                 <div class="">
                                    <div class="form-group">
                                      <div class="table-responsive">
                                        <table class="segment_table table table-striped mb-0">
                                          <tbody class="campaign-user-segments-container">
                                            <% if action_name == 'edit' && @reward.reward_filters.present? %>
                                              <% @reward.reward_filters.each do |r_f| %>
                                                <tr style="border-bottom: 1px solid #414561; padding: 0px 5px;">
                                                  <td scope="row" width="5%" class="remove-btn-align" style="padding-left: 15px !important;">
                                                    <a class="remove-reward-segment" reward_filter_id= '<%=r_f.id %>'  href="javascript:void(0);">
                                                      <i class="feather icon-minus-circle"></i>
                                                    </a>
                                                  </td>
                                                  <td width="30%">
                                                    <%= select_tag "reward[reward_filters_attributes][][reward_event]",
                                                     options_for_select(RewardFilter::EVENTS.map { |val| [val.humanize, val] }, selected: r_f.reward_event),
                                                     class: 'form-control challenge-event-dd',
                                                     required: true %>
                                                  </td>

                                                  <td width="30%" class="segment-conditions-container">
                                                    <%# if r_f.reward_event == 'age' || r_f.reward_event == 'points' %>
                                                      <%= select_tag "reward[reward_filters_attributes][][reward_condition]",
                                                       options_for_select(RewardFilter::CONDITIONS.map { |val| [val.humanize, val] }, selected: r_f.reward_condition),
                                                       class: 'form-control segment-conditions-dd segment-conditions-age segment-conditions-points',
                                                       required: true, style: "#{(r_f.reward_event == 'age' || r_f.reward_event == 'points') ? '': 'display : none;'}"
                                                      %>
                                                    <%# elsif r_f.reward_event =='tags' %>              
                                                      <%= select_tag "reward[reward_filters_attributes][][reward_condition]",
                                                         options_for_select([['Has', 'has'], ['Not', 'not']],selected: r_f.reward_condition),
                                                         class: 'form-control segment-conditions-dd segment-conditions-tags segment-conditions-platforms',required: true, style: "#{(r_f.reward_event == 'tags') ? '': 'display : none;'}" 
                                                      %>
                                                    <%# elsif r_f.reward_event == 'gender'%>

                                                      <%= select_tag "reward[reward_filters_attributes][][reward_condition]",
                                                         options_for_select([['Is', 'is'], ['Not', 'not']],selected: r_f.reward_condition),
                                                         class: 'form-control segment-conditions-dd segment-conditions-gender',
                                                         required: true, style: "#{(r_f.reward_event == 'gender') ? '': 'display : none;'}" 
                                                      %>
                                                    <%# else %>
                                                      <%= select_tag "reward[reward_filters_attributes][][reward_condition]",
                                                       options_for_select([['Is', 'is']], 'is'),
                                                       class: 'form-control segment-conditions-dd segment-conditions-rewards', style: 'cursor: not-allowed; display:none;',
                                                       readonly: true , style: "#{(r_f.reward_event == 'tags' || r_f.reward_event == 'age' || r_f.reward_event == 'age'|| r_f.reward_event == 'gender' || r_f.reward_event == 'points') ? 'display : none;': ''}" 
                                                      %>
                                                    <%# end %>
                                                  </td>

                                                  <td width="30%" class="segment-values-container">
                                                    <%# if r_f.reward_event == 'tags' %>
                                                      <%= text_field_tag 'reward[reward_filters_attributes][][reward_value]', r_f.reward_value, class: 'form-control segment-value-tags',placeholder: 'Enter Tag', style: "#{(r_f.reward_event == 'tags') ? '': 'display : none;'}" 
                                                      %>
                                                    <%# elsif r_f.reward_event == "points" %>
                                                      <%= text_field_tag 'reward[reward_filters_attributes][][reward_value]', r_f.reward_value,
                                                     class: 'form-control segment-value-points',
                                                     placeholder: 'Enter Points',style: "#{(r_f.reward_event == 'points') ? '': 'display : none;'}" 
                                                     %>
                                                    <%# elsif r_f.reward_event == 'challenges' %>
                                                      <%= select_tag "reward[reward_filters_attributes][][reward_value]",
                                                       options_for_select(@campaign.rewards.all.pluck(:name, :id), selected: r_f.reward_value),
                                                       class: 'form-control segment-value-rewards',
                                                       required: true, style: "#{(r_f.reward_event == 'rewards') ? '': 'display : none;'}" 
                                                      %>
                                                    <%# elsif r_f.reward_event == 'platforms'  %>
                                                      <%= select_tag "reward[reward_filters_attributes][][reward_value]",
                                                       options_for_select(RewardFilter::SOCIAL_PLATFORMS.map { |val| [val.humanize, val] }, selected: r_f.reward_value),
                                                        class: 'form-control segment-conditions-platforms',
                                                      required: true, style: "#{(r_f.reward_event == 'platforms') ? '': 'display : none;'}" 
                                                      %>
                                                    <%# elsif r_f.reward_condition == 'gender'%>
                                                    <%= select_tag "reward[reward_filters_attributes][][reward_value]",
                                                                   options_for_select([['Male', 'male'], ['Female', 'female']], selected: r_f.reward_value),
                                                                   class: 'form-control segment-value-gender',
                                                                   required: true, style: "#{(r_f.reward_event == 'gender') ? '': 'display : none;'}" %>
                                                    <%# else %>
                                                      <%= text_field_tag 'reward[reward_filters_attributes][][reward_value]',r_f.reward_value, class: 'form-control segment-value-age',placeholder: 'Enter Age', style: "#{(r_f.reward_event == 'gender' || r_f.reward_event == 'platforms' || r_f.reward_event == 'challenges' || r_f.reward_event == 'points' || r_f.reward_event == 'tags' || r_f.reward_event == 'rewards')  ? 'display : none;': ''}" %> 
                                                    <%# end %>
                                                  </td>
                                                  <%= hidden_field_tag "reward[reward_filters_attributes][][id]", r_f.id, class: 'reward_filter_id'%>
                                                </tr>
                                              <% end %>
                                            <% end %>
                                          </tbody>
                                        </table>
                                      </div>
                                      <br>
                                      <button type="button" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light add-challenge-user-segment">
                                        <span>
                                          <i class="feather icon-plus"></i> Add Segment
                                        </span>
                                      </button>
                                    </div>
                                  </div>
                                </tbody>
                              </table>
                          </div>
                          <br/>
                          <div class="col-12" style="margin-top: 15px">
                            <button type="submit" class="reward_form btn btn-primary mr-1 mb-1">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>

<script id="challenge-user-segments-template" type="text/x-custom-template">
  <%= render 'segment_fields' %>
</script>


