<tr style="border-bottom: 1px solid #414561; padding: 0px 5px;">
  <td scope="row" width="5%" class="remove-btn-align" style="padding-left: 15px !important;">
    <a class="remove-rule-segment" href="javascript:void(0);">
      <i class="feather icon-minus-circle"></i>
    </a>
  </td>

  <td width="35%">
    <%= select_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][reward_rule]",
                   options_for_select(RewardRule::RULES.map { |val| [val.humanize, val] },
                                      rule_event(filter, RewardRule::RULES.first)),
                   {class: 'form-control reward-rule-event-dd',
                    required: true} %>
  </td>

  <td width="35%" class="segment-conditions-container">
    <%= select_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][rule_condition]",
                   options_for_select(RewardRule::CONDITIONS.map { |val| [val.humanize, val] }, rule_condition_value(filter, '')),
                   {class: 'form-control rule-conditions-dd rule-conditions-challenges_completed',
                    id: "rule-conditions-dd-#{rule_id_convention(filter)}",
                    prompt: 'Select Condition',
                    disabled: rule_make_disabled(filter, ['challenges_completed']),
                    required: true,
                    style: "display:#{rule_make_visible(filter, ['challenges_completed'])};"} %>

    <%= select_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][rule_condition]",
                   options_for_select(RewardRule::CONDITIONS.map { |val| [val.humanize, val] }, rule_condition_value(filter, '')),
                   {class: 'form-control rule-conditions-dd rule-conditions-number_of_logins',
                    id: "rule-conditions-dd-#{rule_id_convention(filter)}",
                    prompt: 'Select Condition',
                    disabled: rule_make_disabled(filter, ['number_of_logins']),
                    required: true,
                    style: "display:#{rule_make_visible(filter, ['number_of_logins'])};"} %>

    <%= select_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][rule_condition]",
                   options_for_select(RewardRule::CONDITIONS.map { |val| [val.humanize, val] }, rule_condition_value(filter, '')),
                   {class: 'form-control rule-conditions-dd rule-conditions-recruits',
                    id: "rule-conditions-dd-#{rule_id_convention(filter)}",
                    prompt: 'Select Condition',
                    disabled: rule_make_disabled(filter, ['recruits']),
                    required: true,
                    style: "display:#{rule_make_visible(filter, ['recruits'])};"} %>

    <%= select_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][rule_condition]",
                   options_for_select(RewardRule::CONDITIONS.map { |val| [val.humanize, val] }, rule_condition_value(filter, '')),
                   {class: 'form-control rule-conditions-dd rule-conditions-points',
                    id: "rule-conditions-dd-#{rule_id_convention(filter)}",
                    prompt: 'Select Condition',
                    disabled: rule_make_disabled(filter, ['points']),
                    required: true,
                    style: "display:#{rule_make_visible(filter, ['points'])};"} %>
  </td>

  <td width="30%" class="segment-values-container">
    <%= text_field_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][points_rule_value]",
                       rule_event_value(filter, nil, 'points'),
                       class: 'form-control rule-value-points',
                       disabled: rule_make_disabled(filter, ['points']),
                       id: "rule-segment-value-points-#{rule_id_convention(filter)}",
                       placeholder: 'Enter Points',
                       style: "display:#{rule_make_visible(filter, ['points'])};" %>

    <%= text_field_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][number_of_logins_rule_value]",
                       rule_event_value(filter, nil, 'number_of_logins'),
                       class: 'form-control rule-value-number_of_logins',
                       disabled: rule_make_disabled(filter, ['number_of_logins']),
                       id: "rule-segment-value-number_of_logins-#{rule_id_convention(filter)}",
                       placeholder: 'Enter Login Count',
                       style: "display:#{rule_make_visible(filter, ['number_of_logins'])};" %>

    <%= text_field_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][challenges_completed_rule_value]",
                       rule_event_value(filter, nil, 'challenges_completed'),
                       class: 'form-control rule-value-challenges_completed',
                       disabled: rule_make_disabled(filter, ['challenges_completed']),
                       id: "rule-segment-value-challenges_completed-#{rule_id_convention(filter)}",
                       placeholder: 'Enter Count',
                       style: "display:#{rule_make_visible(filter, ['challenges_completed'])};" %>

    <%= text_field_tag "reward[reward_rules_attributes][#{rule_name_convention(filter)}][recruits_rule_value]",
                       rule_event_value(filter, nil, 'recruits'),
                       class: 'form-control rule-value-recruits',
                       disabled: rule_make_disabled(filter, ['recruits']),
                       id: "rule-segment-value-recruits-#{rule_id_convention(filter)}",
                       placeholder: 'Enter Recruits Count',
                       style: "display:#{rule_make_visible(filter, ['recruits'])};" %>
  </td>
  <% if filter.present? %>
    <!-- Display ID of Challenge Filter Only in Edit Mode-->
    <%= hidden_field_tag "reward[reward_rules_attributes][#{filter.id}][id]", filter.id %>
  <% end %>
</tr>

