<tr style="border-bottom: 1px solid #414561; padding: 0px 5px;">
  <td scope="row" width="5%" class="remove-btn-align" style="padding-left: 15px !important;">
    <a class="remove-reward-segment" href="javascript:void(0);">
      <i class="feather icon-minus-circle"></i>
    </a>
  </td>

  <td width="30%">
    <%= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_event]",
                   options_for_select(RewardFilter::EVENTS.map { |val| [val.humanize, val] },
                                      reward_event(filter, RewardFilter::EVENTS.first)),
                   {class: 'form-control reward-event-dd',
                    required: true} %>
  </td>

  <td width="30%" class="reward-segment-conditions-container">
    <%= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_condition]",
                   options_for_select(RewardFilter::CONDITIONS.map { |val| [val.humanize, val] }, reward_condition_value(filter, '')),
                   {class: 'form-control reward-segment-conditions-dd reward-segment-conditions-age reward-segment-conditions-current-points reward-segment-conditions-lifetime-points reward-segment-conditions-login reward-segment-conditions-challenge',
                    id: "reward-segment-conditions-dd-#{reward_id_convention(filter)}",
                    prompt: 'Select Condition', disabled: reward_make_disabled(filter, ['age', 'current-points', 'lifetime-points', 'login', 'challenge']),
                    required: true, style: "display:#{reward_make_visible(filter, ['age', 'current-points', 'lifetime-points', 'login', 'challenge'])};"} %>

    <%= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_condition]",
                   options_for_select([['Has', 'has'], ['Not', 'not']], reward_condition_value(filter, '')),
                   {class: 'form-control reward-segment-conditions-dd reward-segment-conditions-tags reward-segment-conditions-platforms',
                    id: "segment-conditions-dd-#{reward_id_convention(filter)}",
                    disabled: reward_make_disabled(filter, ['tags', 'platforms']), prompt: 'Select Condition',
                    style: "display:#{reward_make_visible(filter, ['tags', 'platforms'])}",
                    required: true} %>

    <%= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_condition]",
                   options_for_select([['Is', 'is'], ['Not', 'not']], reward_condition_value(filter, '')),
                   {class: 'form-control reward-segment-conditions-dd reward-segment-conditions-gender',
                    id: "reward-segment-conditions-dd-#{reward_id_convention(filter)}",
                    disabled: reward_make_disabled(filter, ['gender']), prompt: 'Select Condition',
                    style: "display:#{reward_make_visible(filter, ['gender'])};", required: true} %>

    <%= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_condition]",
                   options_for_select([['Is', 'is']], reward_condition_value(filter, 'is')),
                   {class: 'form-control reward-segment-conditions-dd reward-segment-conditions-rewards',
                    disabled: reward_make_disabled(filter, ['rewards']),
                    style: "display:#{reward_make_visible(filter, ['rewards'])};",
                    id: "reward-segment-conditions-dd-#{reward_id_convention(filter)}", readonly: true} %>

  </td>

  <td width="30%" class="reward-segment-values-container">
    <%= text_field_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_age]",
                       reward_event_value(filter, nil, 'age'),
                       class: 'form-control reward-segment-value-age', disabled: reward_make_disabled(filter, ['age']),
                       id: "reward-segment-value-age-#{reward_id_convention(filter)}",
                       placeholder: 'Enter Age', style: "display:#{reward_make_visible(filter, ['age'])};" %>

    <%= text_field_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_tags]",
                       reward_event_value(filter, nil, 'tags'),
                       class: 'form-control reward-segment-value-tags', disabled: reward_make_disabled(filter, ['tags']),
                       id: "reward-segment-value-tags-#{reward_id_convention(filter)}",
                       placeholder: 'Enter Tag', style: "display:#{reward_make_visible(filter, ['tags'])};" %>

    <%= text_field_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_current-points]",
                       reward_event_value(filter, nil, 'current-points'),
                       class: 'form-control reward-segment-value-current-points', disabled: reward_make_disabled(filter, ['current-points']),
                       id: "reward-segment-value-current-points-#{reward_id_convention(filter)}", placeholder: 'Enter Current Points',
                       style: "display:#{reward_make_visible(filter, ['current-points'])};" %>

    <%= text_field_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_lifetime-points]",
                       reward_event_value(filter, nil, 'lifetime-points'),
                       class: 'form-control reward-segment-value-lifetime-points', disabled: reward_make_disabled(filter, ['lifetime-points']),
                       id: "reward-segment-value-lifetime-points-#{reward_id_convention(filter)}", placeholder: 'Enter Lifetime Points',
                       style: "display:#{reward_make_visible(filter, ['lifetime-points'])};" %>

    <%= text_field_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_login]",
                       reward_event_value(filter, nil, 'login'),
                       class: 'form-control reward-segment-value-login', disabled: reward_make_disabled(filter, ['login']),
                       id: "reward-segment-value-login-#{reward_id_convention(filter)}", placeholder: 'Enter Login Count',
                       style: "display:#{reward_make_visible(filter, ['login'])};" %>

    <%= text_field_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_challenge]",
                       reward_event_value(filter, nil, 'challenge'),
                       class: 'form-control reward-segment-value-challenge', disabled: reward_make_disabled(filter, ['challenge']),
                       id: "reward-segment-value-challenge-#{reward_id_convention(filter)}", placeholder: 'Enter Challenges Completed',
                       style: "display:#{reward_make_visible(filter, ['challenge'])};" %>

    <%#= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_rewards]",
                   options_for_select(@campaign.rewards.all.pluck(:name, :id), reward_event_value(filter, '', 'rewards')),
                   class: 'form-control reward-segment-value-rewards', disabled: reward_make_disabled(filter, ['rewards']),
                   id: "reward-segment-value-rewards-#{reward_id_convention(filter)}",
                   prompt: 'Select Reward', style: "display:#{reward_make_visible(filter, ['rewards'])};",
                   required: true %>

    <%#= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_challenges]",
                   options_for_select(@campaign.challenges.all.pluck(:name, :id), reward_event_value(filter, '', 'challenges')),
                   class: 'form-control reward-segment-value-challenges', disabled: reward_make_disabled(filter, ['challenges']),
                   id: "reward-segment-value-challenges-#{reward_id_convention(filter)}",
                   prompt: 'Select Challenge', style: "display:#{reward_make_visible(filter, ['challenges'])};",
                   required: true %>

    <%#= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_platforms]",
                   options_for_select(RewardFilter::SOCIAL_PLATFORMS.map { |val| [val.humanize, val] }, reward_event_value(filter, '', 'platforms')),
                   class: 'form-control reward-segment-conditions-platforms', disabled: reward_make_disabled(filter, ['platforms']),
                   id: "reward-segment-value-platforms-#{reward_id_convention(filter)}", prompt: 'Select Platform',
                   style: "display:#{reward_make_visible(filter, ['platforms'])};",
                   required: true %>

    <%= select_tag "reward[reward_filters_attributes][#{reward_name_convention(filter)}][reward_value_gender]",
                   options_for_select([['Male', 'male'], ['Female', 'female']], reward_event_value(filter, '', 'gender')),
                   class: 'form-control reward-segment-value-gender', disabled: reward_make_disabled(filter, ['gender']),
                   id: "reward-segment-value-gender-#{reward_id_convention(filter)}",
                   prompt: 'Select Gender', style: "display:#{reward_make_visible(filter, ['gender'])};",
                   required: true %>
  </td>
  <% if filter.present? %>
    <!-- Display ID of Reward Filter Only in Edit Mode-->
    <%= hidden_field_tag "reward[reward_filters_attributes][#{filter.id}][id]", filter.id %>
  <% end %>
</tr>
