<tr style="border-bottom: 1px solid #414561; padding: 0px 5px;">
  <td scope="row" width="5%" class="remove-btn-align" style="padding-left: 15px !important;">
    <a class="remove-challenge-segment" href="javascript:void(0);">
      <i class="feather icon-minus-circle"></i>
    </a>
  </td>

  <td width="30%">
    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_event]",
                   options_for_select(RewardFilter::EVENTS.map { |val| [val.humanize, val] }, RewardFilter::CONDITIONS.first),
                   class: 'form-control challenge-event-dd',
                   required: true %>
  </td>

  <td width="30%" class="segment-conditions-container">
    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_condition]",
                   options_for_select(RewardFilter::CONDITIONS.map { |val| [val.humanize, val] }),
                   class: 'form-control segment-conditions-dd segment-conditions-age segment-conditions-points',id: 'segment-conditions-dd-___ID___',
                   prompt: 'Select Condition',
                   required: true %>

    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_condition]",
                   options_for_select([['Has', 'has'], ['Not', 'not']]),
                   class: 'form-control segment-conditions-dd segment-conditions-tags segment-conditions-platforms',id: 'segment-conditions-dd-___ID___',
                   prompt: 'Select Condition', style: 'display:none;',
                   required: true %>

    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_condition]",
                   options_for_select([['Is', 'is'], ['Not', 'not']]),
                   class: 'form-control segment-conditions-dd segment-conditions-gender',
                   id: 'segment-conditions-dd-___ID___',
                   prompt: 'Select Condition', style: 'display:none;',
                   required: true %>

    <%= select_tag "challenge[challenge_filters_attributes][___NUM___][challenge_condition]",
                   options_for_select([['Is', 'is']], 'is'),
                   { class: 'form-control segment-conditions-dd segment-conditions-rewards segment-conditions-challenges',
                   style: 'display:none;',
                   id: 'segment-conditions-dd-___ID___',
                   disabled: true, readonly: true } %>

  </td>

  <td width="30%" class="segment-values-container">
    <%= text_field_tag 'reward[reward_filters_attributes][___NUM___][reward_value]', nil,
                       class: 'form-control segment-value-age',
                       id: 'segment-value-age-___ID___',
                       placeholder: 'Enter Age' %>

    <%= text_field_tag 'reward[reward_filters_attributes][___NUM___][reward_value]', nil,
                       class: 'form-control segment-value-tags',
                       d: 'segment-value-tags-___ID___',
                       placeholder: 'Enter Tag', style: 'display:none;' %>

    <%= text_field_tag 'reward[reward_filters_attributes][___NUM___][reward_value]', nil,
                       class: 'form-control segment-value-points', id: 'segment-value-points-___ID___', placeholder: 'Enter Points', style: 'display:none;' %>

    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_value]",
                   options_for_select(@campaign.rewards.all.pluck(:name, :id)),
                   class: 'form-control segment-value-rewards',
                   id: 'segment-value-rewards-___ID___',
                   prompt: 'Select Reward', style: 'display:none;',
                   required: true %>

    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_value]",
                   options_for_select(@campaign.challenges.all.pluck(:name, :id)),
                   class: 'form-control segment-value-challenges',
                   id: 'segment-value-challenges-___ID___',
                   prompt: 'Select Challenge', style: 'display:none;',
                   required: true %>

    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_value]",
                   options_for_select(RewardFilter::SOCIAL_PLATFORMS.map { |val| [val.humanize, val] }),
                   class: 'form-control segment-conditions-platforms',
                   id: 'segment-value-platforms-___ID___',
                   prompt: 'Select Platform', style: 'display:none;',
                   required: true %>

    <%= select_tag "reward[reward_filters_attributes][___NUM___][reward_value]",
                   options_for_select([['Male', 'male'], ['Female', 'female']]),
                   class: 'form-control segment-value-gender',
                   id: 'segment-value-gender-___ID___',
                   prompt: 'Select Gender', style: 'display:none;',
                   required: true %>
  </td>
</tr>

<!-- ----------------------------------------- FOR BACK ONLY ------------------------------------------------>
<!--<tr id="filter_condition_1" style="border-bottom: 1px solid #414561; padding: 0px 5px;">-->
<!--  <td scope="row" width="5%" class="removARD::EVENTS, :selected => r_f.object.challenge_event), {},
                     {class: "reward_event select2 form-control"})
      %>
<!--    </div>-->
<!--  </td>-->
<!--  <td width="30%">-->
<!--    <div class="form-group">-->
      <%#= r_f.select(:challenge_condition, options_for_select(ChallengeFilter::CONDITIONS, :selected => r_f.object.challenge_condition),
                     {}, {class: "age_reward_condition select2 form-control"})
      %>
      <%#= r_f.select(:challenge_condition, options_for_select(["Has", "Not"], :selected => r_f.object.challenge_condition),
                     {}, {class: "filter_hidden  tags_reward_condition select2 form-control"})
      %>
      <%#= r_f.select(:challenge_condition, options_for_select(["Is", "Not"], :selected => r_f.object.challenge_condition), {},
                     {class: "filter_hidden gender_reward_condition select2 form-control"})
      %>
<!--    </div>-->
<!--  </td>-->
<!--  <td width="30%">-->
<!--    <div class="form-group">-->
      <%#= r_f.text_field :reward_value, class: " reward_value form-control" %>
      <%#= r_f.select(:challenge_value, options_from_collection_for_select(@campaign.rewards.all, :id, :name),
                     {}, {:selected => r_f.object.challenge_value, class: "filter_hidden all_rewards_value select2 form-control"})
      %>
      <%#= r_f.select(:challenge_value, options_for_select(@campaign.rewards, :selected => r_f.object.challenge_value),
                     {}, {class: "filter_hidden all_challenges_value select2 form-control"})
      %>
      <%#= r_f.select(:challenge_value, options_for_select(ChallengeFilter::SOCIAL_PLATFORMS, :selected => r_f.object.challenge_value),
                     {}, {class: "filter_hidden social_reward_value select2 form-control"})
      %>
      <%#= r_f.select(:challenge_value, options_for_select(["Male", "female", "Unknown"], :selected => r_f.object.challenge_value),
                     {}, {class: "filter_hidden gender_value select2 form-control"})
      %>
<!--    </div>-->
<!--  </td>-->
<!--</tr>-->
<!-- ----------------------------------------- FOR BACK ONLY ------------------------------------------------>
