<div class="container question_box <%= question_build_id(template, 'class', 'question-box') %>">
  <div class="row">
    <div class="col-md-7 col-12">
      <div class="form-label-group">
        <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][category]", 0 %>

        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][title]",
                           question_value(question),
                           class: 'form-control', id: "question-title-#{q_name_convention(template, question)}",
                           required: true %>
        <label for="first-name-column">Question</label>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <div class="form-group">
        <%= render 'admin/campaigns/question_builder/question_type', template: template, question: question, type: type %>
      </div>
    </div>

    <div class="col-12 col-md-7 options-container string-container <%= display_question_option(question, 'string') %>">
      <div class="form-label-group">
        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                           '', disabled: true,
                           class: 'form-control disabled-field', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                           placeholder: 'Short answer text' %>
      </div>
    </div>

    <div class="col-12 col-md-7 options-container text_area-container <%= display_question_option(question, 'text_area') %>">
      <div class="form-label-group">
        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                           '', disabled: true,
                           class: 'form-control disabled-field', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                           placeholder: 'Long answer text' %>
      </div>
    </div>

    <div class="col-12 options-container radio_button-container <%= display_question_option(question, 'radio_button') %>">
      <% if question.present? && question.answer_type == 'radio_button' %>
        <% question.question_options.each_with_index do |option, index| %>
          <div class="que_edit">
            <i class="fa fa-circle-o que_edit_icon" aria-hidden="true"></i>
            <div class="form-label-group que_ip_width">
              <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                                 option_value(option, 1),
                                 class: 'form-control is-editable',
                                 id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, option, index)}" %>
            </div>
            <i class="feather icon-x que_edit_cross"></i>
          </div>
        <% end %>
      <% else %>
        <div class="que_edit">
          <i class="fa fa-circle-o que_edit_icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 1),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross"></i>
        </div>
        <div class="que_edit">
          <i class="fa fa-circle-o que_edit_icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 2),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 2)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross"></i>
        </div>
      <% end %>

      <div class="que_edit">
        <i class="fa fa-circle-o que_edit_icon" aria-hidden="true" style="visibility: hidden"></i>
        <div class="form-label-group que_ip_width">
          <button class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light add-challenge-option" type="button">
            <span><i class="feather icon-plus"></i> Add Option</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 options-container check_box-container <%= display_question_option(question, 'check_box') %>">
      <% if question.present? && question.answer_type == 'check_box' %>
        <% question.question_options.each_with_index do |option, index| %>
          <div class="que_edit">
            <i class="fa fa-square-o que_edit_icon" aria-hidden="true"></i>
            <div class="form-label-group que_ip_width">
              <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                                 option_value(option, 1),
                                 class: 'form-control is-editable',
                                 id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, option, index)}" %>
            </div>
            <i class="feather icon-x que_edit_cross"></i>
          </div>
        <% end %>
      <% else %>
        <div class="que_edit">
          <i class="fa fa-square-o que_edit_icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 1),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross"></i>
        </div>
        <div class="que_edit">
          <i class="fa fa-square-o que_edit_icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 2),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 2)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross"></i>
        </div>
      <% end %>

      <div class="que_edit">
        <i class="fa fa-circle-o que_edit_icon" aria-hidden="true" style="visibility: hidden"></i>
        <div class="form-label-group que_ip_width">
          <button class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light add-challenge-option" type="button">
            <span><i class="feather icon-plus"></i> Add Option</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 que_dropdown_edit options-container dropdown-container <%= display_question_option(question, 'dropdown') %>">
      <% if question.present? && question.answer_type == 'dropdown' %>
        <% question.question_options.each_with_index do |option, index| %>
          <div class="que_edit">
            <i class="fa fa-caret-square-o-down que_edit_icon" aria-hidden="true"></i>
            <div class="form-label-group que_ip_width">
              <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                                 option_value(option, 1),
                                 class: 'form-control is-editable',
                                 id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, option, index)}" %>
            </div>
            <i class="feather icon-x que_edit_cross"></i>
          </div>
        <% end %>
      <% else %>
        <div class="que_edit">
          <i class="fa fa-caret-square-o-down que_edit_icon dropdown-option-icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 1),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross dropdown"></i>
        </div>
        <div class="que_edit">
          <i class="fa fa-caret-square-o-down que_edit_icon dropdown-option-icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 2),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 2)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross dropdown"></i>
        </div>
      <% end %>

      <div class="que_edit">
        <i class="fa fa-circle-o que_edit_icon" aria-hidden="true" style="visibility: hidden"></i>
        <div class="form-label-group que_ip_width">
          <button class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light add-challenge-option" type="button">
            <span><i class="feather icon-plus"></i> Add Option</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7 options-container date-container <%= display_question_option(question, 'date') %>">
      <div class="input-group input-group-md que_mobile_mb form-group">
        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                           '',
                           class: 'form-control', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                           placeholder: 'Month, day, year',
                           disabled: true %>
        <div class="input-group-prepend">
          <span class="input-group-text date_icon" id="sizing-addon1"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7 options-container time-container <%= display_question_option(question, 'time') %>">
      <div class="input-group input-group-md que_mobile_mb form-group">
        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                           '',
                           class: 'form-control', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                           placeholder: 'Time',
                           disabled: true %>
        <div class="input-group-prepend">
          <span class="input-group-text date_icon" id="sizing-addon1"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7 options-container number-container <%= display_question_option(question, 'number') %>">
      <div class="form-label-group">
        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                           '',
                           class: 'form-control', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                           placeholder: 'Number',
                           disabled: true %>
      </div>
    </div>

    <div class="col-12 col-md-7 options-container decimal-container <%= display_question_option(question, 'decimal') %>">
      <div class="form-label-group">
        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                           '',
                           class: 'form-control', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                           placeholder: 'Decimal',
                           disabled: true %>
      </div>
    </div>

    <div class="col-12 options-container boolean-container <%= display_question_option(question, 'boolean') %>">
      <% if question.present? && question.answer_type == 'dropdown' %>
        <% question.question_options.each_with_index do |option, index| %>
          <div class="que_edit">
            <i class="fa fa-circle-o que_edit_icon" aria-hidden="true"></i>
            <div class="form-label-group que_ip_width">
              <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                                 option_value(option, 1),
                                 class: 'form-control is-editable',
                                 id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, option, index)}" %>
            </div>
            <i class="feather icon-x que_edit_cross"></i>
          </div>
        <% end %>
      <% else %>
        <div class="que_edit">
          <i class="fa fa-circle-o que_edit_icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 1),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 1)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross"></i>
        </div>
        <div class="que_edit">
          <i class="fa fa-circle-o que_edit_icon" aria-hidden="true"></i>
          <div class="form-label-group que_ip_width">
            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][question_options_attributes][details][]",
                               option_value(nil, 2),
                               class: 'form-control disabled-field is-editable', id: "option-#{q_name_convention(template, question)}-#{o_id_convention(template, nil, 2)}",
                               disabled: true %>
          </div>
          <i class="feather icon-x que_edit_cross"></i>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-7 options-container linear_scale-container <%= display_question_option(question, 'linear_scale') %>">
      <div class="que_scale_ip">
        <div class="form-group">
          <select data-placeholder="Select a state..." class="select2-icons form-control" id="select2-icons-scale1">
            <optgroup>
              <option value="0">0</option>
              <option value="1">1</option>
            </optgroup>
          </select>
        </div>

        <div class="k"> to</div>

        <div class="form-group">
          <select data-placeholder="Select a state..." class="select2-icons form-control" id="select2-icons-scale2">
            <optgroup>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </optgroup>
          </select>
        </div>
      </div>

      <div class="form-label-group que_scale_label">
        <span>1</span>
        <input type="text" id="first-name-column" class="form-control" placeholder="Label (optional)" name="fname-column">
        <!--  <label for="first-name-column">First Name</label> -->
      </div>
      <div class="clear"></div>
      <div class="form-label-group que_scale_label">
        <span>2</span>
        <input type="text" id="first-name-column" class="form-control" placeholder="Label (optional)" name="fname-column">
        <!--  <label for="first-name-column">First Name</label> -->
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12">
      <hr>
      <div class="question_delete_box">
        <div class="custom-control custom-switch mr-2 mb-1" style="">
          <p>Required</p>
          <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question)}][is_required]", true, question_required(question),
                            id: "question-is-required-#{q_name_convention(template, question)}",
                            class: 'custom-control-input' %>

          <label class="custom-control-label" for="question-is-required-<%= q_name_convention(template, question) %>"></label>
        </div>
        <i class="feather icon-trash-2 question_del_icon"></i>
      </div>
    </div>
  </div>
</div>
