<% if type == 'profile' %>
  <% if question.present? %>
    <select class="question-selector question-selector-<%= randNum %> form-control"
            data-custom-id="-<%= randNum %>"
            name="challenge[questions_attributes][<%= q_name_convention(template, question) %>][answer_type]">
      <optgroup>
        <% @campaign.profile_attributes.active.each_with_index do |attribute, index| %>
          <option value="<%= attribute.field_type %>--<%= attribute.id %>"
                  data-icon="fa fa-align-left" <%= select_question_field_type(question, index, attribute.id) %>>
            <%= attribute.display_name %>
          </option>
        <% end %>
      </optgroup>
    </select>
  <% else %>
    <select class="question-selector <%= question_build_id(template, 'class', 'question-selector') %> form-control"
            data-custom-id="<%= question_build_id(template, 'class', '') %>"
            name="challenge[questions_attributes][<%= q_name_convention(template, question) %>][answer_type]">
      <optgroup>
        <% @campaign.profile_attributes.active.each_with_index do |attribute, index| %>
          <option value="<%= attribute.field_type %>--<%= attribute.id %>"
                  data-icon="fa fa-align-left" <%= select_question_field_type(question, index, attribute.id) %>>
            <%= attribute.display_name %>
          </option>
        <% end %>
      </optgroup>
    </select>
  <% end %>

<% elsif type == 'quiz' %>
  <% if question.present? %>
    <select class="question-selector question-selector-<%= randNum %> form-control"
            data-custom-id="-<%= randNum %>"
            name="challenge[questions_attributes][<%= q_name_convention(template, question, randNum) %>][answer_type]">
      <optgroup>
        <option value="string" data-icon="fa fa-align-left" <%= question.answer_type == 'string' ? 'selected' : '' %>>Short answer</option>
        <option value="radio_button" data-icon="fa fa-dot-circle-o" <%= question.answer_type == 'radio_button' ? 'selected' : '' %>>Multiple choice</option>
        <option value="wysiwyg" data-icon="fa icon-edit" <%= question.answer_type == 'wysiwyg' ? 'selected' : '' %>>WYSIWYG Editor</option>
      </optgroup>
    </select>
  <% else %>
    <select class="question-selector <%= question_build_id(template, 'class', 'question-selector') %> form-control"
            data-custom-id="<%= question_build_id(template, 'class', '') %>"
            name="challenge[questions_attributes][<%= q_name_convention(template, question, randNum) %>][answer_type]">
      <optgroup>
        <option value="string" data-icon="fa fa-align-left" selected>Short answer</option>
        <option value="radio_button" data-icon="fa fa-dot-circle-o">Multiple choice</option>
        <option value="wysiwyg" data-icon="fa icon-edit">WYSIWYG Editor</option>
      </optgroup>
    </select>
  <% end %>

<% elsif type == 'survey' %>
  <% if question.present? %>
    <select class="question-selector <%= question_build_id(template, 'class', 'question-selector') %> form-control"
            data-custom-id="<%= question_build_id(template, 'class', '') %>"
            name="challenge[questions_attributes][<%= q_name_convention(template, question) %>][answer_type]">
      <optgroup>
        <option value="string" data-icon="fa fa-align-left" <%= question.answer_type == 'string' ? 'selected' : '' %>>Short answer</option>
        <option value="text_area" data-icon="fa fa-align-justify" <%= question.answer_type == 'text_area' ? 'selected' : '' %>>Paragraph</option>
        <option value="radio_button" data-icon="fa fa-dot-circle-o" <%= question.answer_type == 'radio_button' ? 'selected' : '' %>>Multiple choice</option>
        <option value="check_box" data-icon="fa fa-check-square" <%= question.answer_type == 'check_box' ? 'selected' : '' %>>Checkboxes</option>
        <option value="dropdown" data-icon="fa fa-caret-square-o-down"<%= question.answer_type == 'dropdown' ? 'selected' : '' %>>Dropdown</option>
        <option value="date" data-icon="fa fa-calendar" <%= question.answer_type == 'date' ? 'selected' : '' %>>Date</option>
        <option value="time" data-icon="fa fa-clock-o" <%= question.answer_type == 'time' ? 'selected' : '' %>>Time</option>
        <option value="date_time" data-icon="fa fa-clock-o" <%= question.answer_type == 'data_time' ? 'selected' : '' %>>Date & Time</option>
        <option value="number" data-icon="fa fa-clock-o" <%= question.answer_type == 'number' ? 'selected' : '' %>>Number</option>
        <option value="decimal" data-icon="fa fa-clock-o" <%= question.answer_type == 'decimal' ? 'selected' : '' %>>Decimal</option>
        <option value="boolean" data-icon="fa fa-clock-o" <%= question.answer_type == 'boolean' ? 'selected' : '' %>>Yes/No (Boolean)</option>
      </optgroup>
    </select>
  <% else %>
    <select class="question-selector <%= question_build_id(template, 'class', 'question-selector') %> form-control"
            data-custom-id="<%= question_build_id(template, 'class', '') %>"
            name="challenge[questions_attributes][<%= q_name_convention(template, question) %>][answer_type]">
      <optgroup>
        <option value="string" data-icon="fa fa-align-left" selected>Short answer</option>
        <option value="text_area" data-icon="fa fa-align-justify">Paragraph</option>
        <option value="radio_button" data-icon="fa fa-dot-circle-o">Multiple choice</option>
        <option value="check_box" data-icon="fa fa-check-square">Checkboxes</option>
        <option value="dropdown" data-icon="fa fa-caret-square-o-down">Dropdown</option>
        <option value="date" data-icon="fa fa-calendar">Date</option>
        <option value="time" data-icon="fa fa-clock-o">Time</option>
        <option value="date_time" data-icon="fa fa-clock-o">Date & Time</option>
        <option value="number" data-icon="fa fa-clock-o">Number</option>
        <option value="decimal" data-icon="fa fa-clock-o">Decimal</option>
        <option value="boolean" data-icon="fa fa-clock-o">Yes/No (Boolean)</option>
      </optgroup>
    </select>
  <% end %>
<% end %>
