<%
  randNum = rand.to_s[2..10]
  queIdentifire = question.present? ? "question-box-#{randNum}" : question_build_id(template, 'class', 'question-box')
%>
<div class="container question_box <%= queIdentifire %>" id="<%= queIdentifire %>">
  <div class="row">
    <div class="col-md-7 col-12">
      <div class="form-label-group non-wysiwyg-field">
        <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][category]", 'quiz' %>
        <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][sequence]",
                             question.present? ? question.sequence : nil, class: 'question-sequence-hidden' %>

        <% if question.present? %>
          <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][id]", question.id %>
        <% end %>

        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][title]",
                           question_value(question),
                           class: 'form-control form-control-option question-field-req', id: "question-title-#{q_name_convention(template, question, randNum)}",
                           required: true %>
        <label for="first-name-column">Question</label>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <div class="form-group">
        <%= render 'admin/campaigns/question_builder/question_type', template: template, question: question, type: type, randNum: randNum %>
      </div>
    </div>

    <div class="col-12 col-md-7 options-container string-container <%= display_question_option(question, 'string') %>">
      <div class="form-label-group">
        <%= text_field_tag "temp",
                           '', disabled: true,
                           class: 'form-control form-control-option disabled-field', id: "temp_string",
                           placeholder: 'Short answer text' %>
      </div>

      <div class="form-label-group">
        <% if question.present? && question.answer_type == 'string' && question.question_options.present? %>
          <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{quiz_short_answer_name(template, question, rand.to_s[2..10], 1)}][id]",
                               question.question_options.first.id %>
        <% end %>

        <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{quiz_short_answer_name(template, question, rand.to_s[2..10], 1)}][answer]",
                           quiz_short_answer(question), class: 'form-control is-editable answer-field',
                           id: "answer-#{q_name_convention(template, question, randNum)}-1-#{quiz_short_answer_name(template, question, rand.to_s[2..10], 1)}",
                           placeholder: 'Type Question Answer', required: true %>
      </div>
    </div>

    <div class="col-12 options-container radio_button-container <%= display_question_option(question, 'radio_button') %>">
      <div class="que_option_header">
        <div class="form-label-group opt_answer_width">Answers</div>
        <div class="form-label-group opt_canswer_width">Correct Answer</div>
      </div>

      <% if question.present? && question.answer_type == 'radio_button' %>
        <% question.question_options.order(:sequence).each_with_index do |option, index| %>
          <div class="que_edit">
            <span>&nbsp;</span>
            <i class="feather icon-move drag_option" data-toggle='tooltip' data-placement='top' data-original-title='Arrange Options'></i>
            <i class="feather icon-trash-2 que_edit_cross"></i>

            <div class="form-label-group que_ip_width">
              <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][id]", option.id, class: 'hidden-option-field' %>
              <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][sequence]",
                                   option.present? ? option.sequence : nil, class: 'question-option-sequence-hidden is-editable' %>

              <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][details]",
                                 option_value(option, 1),
                                 class: 'form-control form-control-option is-editable option-req-field',
                                 id: "option-#{q_name_convention(template, question, randNum)}-#{option.id}-#{o_id_convention(template, option, index)}",
                                 data: {'option-identifire' => option_identifire(template, option, nil)} %>
            </div>

            <div class="vs-checkbox-con vs-checkbox-primary answer_fields">
              <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][answer]", nil,
                                option_is_answer(option),
                                id: "option-is-answer-#{q_name_convention(template, question, randNum)}",
                                class: 'custom-control-input is-editable answer-field' %>
              <span class="vs-checkbox">
                <span class="vs-checkbox--check">
                  <i class="vs-icon feather icon-check"></i>
                </span>
              </span>
            </div>
          </div>
        <% end %>
      <% else %>
        <% optIdentifire = rand.to_s[2..10] %>
        <div class="que_edit">
          <span>&nbsp;</span>
          <i class="feather icon-move drag_option" data-toggle='tooltip' data-placement='top' data-original-title='Arrange Options'></i>
          <i class="feather icon-trash-2 que_edit_cross"></i>

          <div class="form-label-group que_ip_width">
            <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 1)}][sequence]",
                                 nil, class: 'question-option-sequence-hidden is-editable' %>

            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 1)}][details]",
                               option_value(nil, 1),
                               class: 'form-control form-control-option disabled-field is-editable option-req-field', id: "option-#{q_name_convention(template, question, randNum)}-#{o_id_convention(template, nil, 1)}",
                               disabled: true,
                               data: {'option-identifire' => option_identifire(template, nil, optIdentifire, 1)} %>
          </div>

          <div class="vs-checkbox-con vs-checkbox-primary answer_fields">
            <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 1)}][answer]",
                              nil, option_is_answer(nil, true), disabled: true,
                              id: "option-is-answer-#{q_name_convention(template, question, randNum)}-#{option_identifire(template, nil, optIdentifire, 1)}",
                              class: 'custom-control-input is-editable disabled-field answer-field' %>
            <span class="vs-checkbox">
              <span class="vs-checkbox--check">
                <i class="vs-icon feather icon-check"></i>
              </span>
            </span>
          </div>
        </div>

        <div class="que_edit">
          <span>&nbsp;</span>
          <i class="feather icon-move drag_option" data-toggle='tooltip' data-placement='top' data-original-title='Arrange Options'></i>
          <i class="feather icon-trash-2 que_edit_cross"></i>

          <div class="form-label-group que_ip_width">
            <% optIdentifire = rand.to_s[2..10] %>
            <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 2)}][sequence]",
                                 nil, class: 'question-option-sequence-hidden is-editable' %>

            <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 2)}][details]",
                               option_value(nil, 2),
                               class: 'form-control form-control-option disabled-field is-editable option-req-field', id: "option-#{q_name_convention(template, question, randNum)}-#{o_id_convention(template, nil, 2)}",
                               disabled: true,
                               data: {'option-identifire' => option_identifire(template, nil, optIdentifire, 2)} %>
          </div>

          <div class="vs-checkbox-con vs-checkbox-primary answer_fields">
            <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 2)}][answer]",
                              nil, option_is_answer(nil), disabled: true,
                              id: "option-is-answer-#{q_name_convention(template, question, randNum)}-#{option_identifire(template, nil, optIdentifire, 20)}",
                              class: 'custom-control-input is-editable disabled-field answer-field' %>
            <span class="vs-checkbox">
              <span class="vs-checkbox--check">
                  <i class="vs-icon feather icon-check"></i>
              </span>
            </span>
          </div>
        </div>
      <% end %>

      <div class="que_edit">
        <i class="fa fa-circle-o que_edit_icon" aria-hidden="true" style="visibility: hidden"></i>
        <div class="form-label-group que_ip_width">
          <button class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light add-challenge-option" type="button">
            <span><i class="feather icon-plus"></i> Add Option</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 options-container wysiwyg-container <%= display_question_option(question, 'wysiwyg') %>">
      <%= render 'admin/campaigns/question_builder/wysiwyg_editor',
                 template: template, question: question, type: type, randNum: randNum %>
    </div>

    <div class="col-12 options-container image_radio_button-container <%= display_question_option(question, 'image_radio_button') %>">

      <% if question.present? && question.answer_type == 'image_radio_button' %>
        <% question.question_options.order(:sequence).each_with_index do |option, index| %>
          <div class="que_edit">
            <span>&nbsp;</span>
            <i class="feather icon-move drag_option" data-toggle='tooltip' data-placement='top' data-original-title='Arrange Options'></i>
            <i class="feather icon-trash-2 que_edit_cross"></i>

            <div class="form-label-group que_ip_width">
              <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][id]", option.id, class: 'hidden-option-field' %>
              <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][sequence]",
                                   option.present? ? option.sequence : nil, class: 'question-option-sequence-hidden is-editable' %>

              <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][details]",
                                 option_value(option, 1),
                                 class: 'form-control form-control-option is-editable option-req-field',
                                 id: "option-#{q_name_convention(template, question, randNum)}-#{option.id}-#{o_id_convention(template, option, index)}",
                                 data: {'option-identifire' => option_identifire(template, option, nil)} %>
            </div>

            <div class="vs-checkbox-con vs-checkbox-primary answer_fields">
              <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option.id}][answer]", nil,
                                option_is_answer(option),
                                id: "option-is-answer-#{q_name_convention(template, question, randNum)}",
                                class: 'custom-control-input is-editable answer-field' %>
              <span class="vs-checkbox">
                <span class="vs-checkbox--check">
                  <i class="vs-icon feather icon-check"></i>
                </span>
              </span>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row image-option-container">
          <div class="que_option_header"></div>
          <div class="col-lg-3 col-md-3 col-sm-12 que_edit">
            <div class="card border-info text-center bg-transparent p-1 social_image_box">
              <% optIdentifire = rand.to_s[2..10] %>
              <div class="card-content">
                <img src="#" class="social_img_show">
                <div class="image-upload">
                  <label for="file-upload<%= option_identifire(template, nil, optIdentifire, 1) %>">
                    <%= image_tag('challenges/image_placeholder.png', class: "social_image") %>

                    <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 1)}][sequence]",
                                         nil, class: 'question-option-sequence-hidden is-editable' %>

                    <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 1)}][details]",
                                       option_value(nil, 1),
                                       class: 'form-control form-control-option disabled-field is-editable option-req-field',
                                       id: "option-#{q_name_convention(template, question, randNum)}-#{o_id_convention(template, nil, 1)}",
                                       disabled: true,
                                       data: {'option-identifire' => option_identifire(template, nil, optIdentifire, 1), error: "image-option-error-#{option_identifire(template, nil, optIdentifire, 1)}"} %>

                    <i class="fa fa-circle-o img_circle_icon" aria-hidden="true"></i>
                  </label>
                  <span class="image_cross_box">
                    <i class="fa fa-bars drag_option image-drag" data-toggle='tooltip' data-placement='top' data-original-title='Arrange Options'></i>
                    <i class="fa fa-times image_cross_js" aria-hidden="true"></i>
                  </span>

                  <input name="challenge[questions_attributes][<%= q_name_convention(template, question, randNum) %>][question_options_attributes][<%= option_identifire(template, nil, optIdentifire, 1) %>][image]"
                         class="image-uploader-control form-control-option disabled-field is-editable always-validate" type="file"
                         data-error='image-option-error-<%= option_identifire(template, nil, optIdentifire, 1) %>'
                         id='file-upload<%= option_identifire(template, nil, optIdentifire, 1) %>'>
                </div>
              </div>
            </div>
            <div class="image-option-error image-option-error-<%= option_identifire(template, nil, optIdentifire, 1) %>"></div>
            <div class="text-center">
              <div class="vs-checkbox-con vs-checkbox-primary image-uploader-option-answer-container">
                <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 1)}][answer]",
                                  nil, option_is_answer(nil, true), disabled: true,
                                  id: "option-is-answer-#{q_name_convention(template, question, randNum)}-#{option_identifire(template, nil, optIdentifire, 20)}",
                                  class: 'custom-control-input is-editable disabled-field image-uploader-option image-answer-field' %>
                <span class="vs-checkbox">
                  <span class="vs-checkbox--check">
                    <i class="vs-icon feather icon-check"></i>
                  </span>
                </span>
                <span class="">Answer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 que_edit">
            <div class="card border-info text-center bg-transparent p-1 social_image_box">
              <% optIdentifire = rand.to_s[2..10] %>
              <div class="card-content">
                <img src="#" class="social_img_show">
                <div class="image-upload">
                  <label for="file-upload<%= option_identifire(template, nil, optIdentifire, 2) %>">
                    <%= image_tag('challenges/image_placeholder.png', class: "social_image") %>

                    <%= hidden_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 2)}][sequence]",
                                         nil, class: 'question-option-sequence-hidden is-editable' %>

                    <%= text_field_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 2)}][details]",
                                       option_value(nil, 2),
                                       class: 'form-control form-control-option disabled-field is-editable option-req-field',
                                       id: "option-#{q_name_convention(template, question, randNum)}-#{o_id_convention(template, nil, 2)}",
                                       disabled: true,
                                       data: {'option-identifire' => option_identifire(template, nil, optIdentifire, 2), error: "image-option-error-#{option_identifire(template, nil, optIdentifire, 2)}"} %>

                    <i class="fa fa-circle-o img_circle_icon" aria-hidden="true"></i>
                  </label>
                  <span class="image_cross_box">
                    <i class="fa fa-bars drag_option image-drag" data-toggle='tooltip' data-placement='top' data-original-title='Arrange Options'></i>
                    <i class="fa fa-times image_cross_js" aria-hidden="true"></i>
                  </span>

                  <input name="challenge[questions_attributes][<%= q_name_convention(template, question, randNum) %>][question_options_attributes][<%= option_identifire(template, nil, optIdentifire, 2) %>][image]"
                         class="image-uploader-control form-control-option disabled-field is-editable always-validate" type="file"
                         data-error='image-option-error-<%= option_identifire(template, nil, optIdentifire, 2) %>'
                         id='file-upload<%= option_identifire(template, nil, optIdentifire, 2) %>'>
                </div>
              </div>
            </div>
            <div class="image-option-error-<%= option_identifire(template, nil, optIdentifire, 2) %>"></div>
            <div class="text-center">
              <div class="vs-checkbox-con vs-checkbox-primary image-uploader-option-answer-container">
                <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][question_options_attributes][#{option_identifire(template, nil, optIdentifire, 2)}][answer]",
                                  nil, option_is_answer(nil), disabled: true,
                                  id: "option-is-answer-#{q_name_convention(template, question, randNum)}-#{option_identifire(template, nil, optIdentifire, 2)}",
                                  class: 'custom-control-input is-editable disabled-field image-uploader-option image-answer-field' %>
                <span class="vs-checkbox">
                  <span class="vs-checkbox--check">
                    <i class="vs-icon feather icon-check"></i>
                  </span>
                </span>
                <span class="">Answer</span>
              </div>
            </div>
          </div>

          <div class="col-sm-12 que_edit">
            <i class="fa fa-circle-o que_edit_icon" aria-hidden="true" style="visibility: hidden"></i>
            <div class="form-label-group que_ip_width">
              <button class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light add-challenge-option" type="button">
                <span><i class="feather icon-plus"></i> Add Option</span>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12" style="padding: 0px;">
      <hr>
<!--      <div class="image-option-error" style="float: left"></div>-->
      <div class="question_delete_box">
        <div class="custom-control custom-switch mr-2 mb-1 non-wysiwyg-field" style="">
          <p>Required</p>
          <%= check_box_tag "challenge[questions_attributes][#{q_name_convention(template, question, randNum)}][is_required]", true, question_required(question),
                            id: "question-is-required-#{q_name_convention(template, question, randNum)}",
                            class: 'custom-control-input' %>
          <label class="custom-control-label" for="question-is-required-<%= q_name_convention(template, question, randNum) %>"></label>
        </div>
        <i class="feather icon-trash-2 question_del_icon"></i>
      </div>
    </div>
  </div>
</div>
