<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">List Campaigns</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="data-list-view" class="data-list-view-header">
        <div class="table-responsive">
          <table class="table data-list-view campaign-list-view">
            <thead>
            <tr>
              <th></th>
              <th>CREATED AT</th>
              <th>CAMPAIGN NAME</th>
              <th>DOMAIN</th>
              <th>MEMBERS</th>
              <th>CHALLENGES/COMPLETED</th>
              <th>PRIZES/AWARDED</th>
              <% if @is_admin %>
                <th>DEACTIVATE</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @campaigns.each do |campaign| %>
              <tr>
                <td></td>
                <td class="product-category">
                  <%= campaign.created_at.strftime("%B %d, %Y") %>
                </td>

                <td class="product-name campaign-<%= campaign.id %>-link">
                  <% if campaign.is_active %>
                    <a href="<%= admin_campaign_dashboard_path(campaign) %>"><%= campaign.name %></a>
                  <% else %>
                    <%= campaign.name %>
                  <% end %>
                </td>

                <td class="product-category">
                  <%= campaign.domain %>
                </td>

                <td class="product-category">
                  15
                </td>

                <td class="product-category">
                  15
                </td>

                <td class="product-price">
                  $69.99
                </td>

                <% if @is_admin %>
                  <td class="product-action campaign-<%= campaign.id %>-action">
                    <% if campaign.is_active %>
                      <%= link_to "Deactivate",
                                  deactivate_admin_organizations_campaign_path(campaign.id), method: :patch, remote: :true,
                                  class: "btn btn-xs btn-action btn-warning" %>
                    <% else %>
                      DEACTIVATED
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
