<p id="notice"><%= notice %></p>

<img src="<%= @player.image %>" class= "player-show">

 <br><br>
<p class="form-control">
  <strong>Player name:</strong>
  <%= @player.player_name %>
</p>

<p class="form-control">
  <strong>Player email:</strong>
  <%= @player.email %>
</p>

<p class="form-control">
  <strong>Player city:</strong>
  <%= @player.player_city %>
</p>

<p class="form-control">
  <strong>Player state:</strong>
  <%= @player.player_state %>
</p>

<p class="form-control">
  <strong>Player country:</strong>
  <%= @player.player_country %>
</p>

<p class="form-control">
  <strong>Phone:</strong>
  <%= @player.phone %>
</p>

<p class="form-control">
  <strong>Gender:</strong>
  <%= @player.gender %>
</p>

<p class="form-control">
  <strong>Sport:</strong>
  <%= @player.sport.sport_name %>
</p>
<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_player_path(@player), class:"btn btn-dark" %> 
<% end %>
<%= link_to 'Back', players_path , class:"btn btn-dark" %>
