<%= form_with(url: admin_campaign_template_path(campaign, template), method: 'put', class: 'edit-template-details-form', model: template, local: true) do |form| %>
  <div class="form-body">
    <div class="row">
      <div class="col-12">
        <% if template.errors.any? %>
          <%= render '/shared/render_errors', resource: template %>
        <% end %>
      </div>

      <div class="col-12">
        <h4>Header Details</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :header_background_image, 'Header Background Image' %>
          <div class="custom-file">
            <%= form.file_field :header_background_image, class: "custom-file-input" %>
            <%= form.label :header_background_image, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :header_logo, 'Header Logo' %>
          <div class="custom-file">
            <%= form.file_field :header_logo, class: "custom-file-input" %>
            <%= form.label :header_logo, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :header_text, 'Header Text' %>
          <div class="position-relative">
            <%= form.text_field :header_text, class: "form-control", placeholder: "Header Text" %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :header_font_color, 'Header Font Color' %>
          <div class="position-relative">
            <%= form.text_field :header_font_color, class: "form-control colour-picker-txt", placeholder: "Header Font Color" %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :header_font_size, 'Header Font Size' %>
          <div class="position-relative">
            <%= form.text_field :header_font_size, class: "form-control", placeholder: "Header Font Size" %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <h4>Footer Details</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :footer_background_color, 'Footer Background Color' %>
          <div class="position-relative">
            <%= form.text_field :footer_background_color, class: "form-control colour-picker-txt", placeholder: "Footer Background Color" %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :footer_font_color, 'Footer Font Color' %>
          <div class="position-relative">
            <%= form.text_field :footer_font_color, class: "form-control colour-picker-txt", placeholder: "Footer Font Color" %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :footer_font_size, 'Footer Font Size' %>
          <div class="position-relative">
            <%= form.text_field :footer_font_size, class: "form-control", placeholder: "Footer Font Size" %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <h4>Favicon Details</h4>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :favicon_file, 'Favicon Icon' %>
          <div class="custom-file">
            <%= form.file_field :favicon_file, class: "custom-file-input" %>
            <%= form.label :header_logo, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <%= form.submit "Save", class: 'btn btn-primary mr-1 mb-1' %>
        <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
      </div>
    </div>
  </div>
<% end %>
