<div class="col-sm-12 data-field-col collapse-icon">
  <div class="accordion" id="campaign-template-accordion">
    <div class="collapse-border-item collapse-header card collapse-bordered">
      <div class="card-header" id="header-details-heading" data-toggle="collapse" role="button" data-target="#header-details" aria-expanded="false" aria-controls="header-details">
        <span class="lead collapse-title">
          Header Details
        </span>
      </div>

      <div id="header-details" class="collapse show" aria-labelledby="header-details-heading" data-parent="#campaign-template-accordion">
        <div class="card-body">
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Header Background Image</label>
            <div class="custom-file">
              <%= form.file_field :header_background_image, class: "custom-file-input form-control" %>
              <%= form.label :header_background_image, 'Choose file', class: 'custom-file-label template-sidebar-file-uploader' %>
            </div>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <label for="data-name">Header Logo</label>
            <div class="custom-file">
              <%= form.file_field :header_logo, class: "custom-file-input form-control" %>
              <%= form.label :header_logo, 'Choose file', class: 'custom-file-label template-sidebar-file-uploader' %>
            </div>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :header_text, 'Header Title Text' %>
            <%= form.text_field :header_text, class: "form-control", placeholder: "Header Title Text" %>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :header_font_size, 'Header Title Font Size' %>
            <%= form.text_field :header_font_size, class: "form-control", placeholder: "Header Title Font Size" %>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :header_font_color, 'Header Title Font Color' %>
            <%= form.text_field :header_font_color, class: "form-control colour-picker-txt", placeholder: "Header Title Font Color" %>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :header_description, 'Header Description' %>
            <%= form.text_field :header_description, class: "form-control", placeholder: "Header Description" %>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :header_description_font_size, 'Header Description Font Size' %>
            <%= form.text_field :header_description_font_size, class: "form-control", placeholder: "Header Description Font Size" %>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :header_description_font_color, 'Header Description Font Color' %>
            <%= form.text_field :header_description_font_color, class: "form-control colour-picker-txt", placeholder: "Header Description Font Color" %>
          </div>

<!--          <div class="col-sm-12 data-field-col data-field-ts-1">-->
            <%#= form.label :footer_font_size, 'Select Fonts' %>
<!--            <div class="position-relative">-->
<!--              <input id="font-selector" type="text"/>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>

    <div class="collapse-border-item card collapse-header">
      <div class="card-header" id="footer-details-heading" data-toggle="collapse" role="button" data-target="#footer-details" aria-expanded="false" aria-controls="footer-details">
      <span class="lead collapse-title">
          Footer Details
      </span>
      </div>
      <div id="footer-details" class="collapse" aria-labelledby="footer-details-heading" data-parent="#campaign-template-accordion">
        <div class="card-body">
          <div class="col-sm-12 data-field-col">
            <%= form.label :footer_background_color, 'Footer Background Color' %>
            <%= form.text_field :footer_background_color, class: "form-control colour-picker-txt", placeholder: "Footer Background Color" %>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :footer_font_color, 'Footer Font Color' %>
            <%= form.text_field :footer_font_color, class: "form-control colour-picker-txt", placeholder: "Footer Font Color" %>
          </div>

          <div class="col-sm-12 data-field-col data-field-ts-1">
            <%= form.label :footer_font_size, 'Footer Font Size' %>
            <%= form.text_field :footer_font_size, class: "form-control", placeholder: "Footer Font Size" %>
          </div>
        </div>
      </div>
    </div>

    <div class="card collapse-header collapse-border-item">
      <div class="card-header" id="favicon-details-heading" data-toggle="collapse" role="button" data-target="#favicon-details" aria-expanded="false" aria-controls="favicon-details">
      <span class="lead collapse-title">
          Favicon Icon
      </span>
      </div>
      <div id="favicon-details" class="collapse" aria-labelledby="favicon-details-heading" data-parent="#campaign-template-accordion">
        <div class="card-body">
          <div class="col-sm-12 data-field-col">
            <%= form.label :favicon_file, 'Favicon Icon' %>
            <div class="custom-file">
              <%= form.file_field :favicon_file, class: "custom-file-input" %>
              <%= form.label :header_logo, 'Choose file', class: 'custom-file-label template-sidebar-file-uploader' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
