<%= javascript_include_tag 'campaign_admin/template', 'data-turbolinks-track' => 'reload' %>
<% @font_family_options = font_family_options_list %>

<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Template Settings</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="content-body">
      <div class="row match-height">
        <div class="col-md-12 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="col-12">
                  <button class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light action-edit" type="button">
                    <span><i class="feather icon-settings"></i> Setting</span>
                  </button>
                </div>

                <div class="col-12" style="margin-top: 15px">
                  <iframe width="1200px" height="1500px" src="<%= template_url(c_id: @campaign.id) %>" id='template-challenge-iframe'></iframe>
                  <!-- $('iframe').contents().find("#bg-cover-image").append($("<style type='text/css'> .cover-container{background-image:url(https://perksocial-dev.s3.amazonaws.com/uploads/reward/image/5/thumb_89f4b935166833.5b5eff5a8b60c.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIATZLVKCR23UMRD5YW%2F20200430%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200430T071035Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=56445c4d3cf313736f428621913558dfab0381280ce8de7dd91e23c4dd75dd45) !important;}  </style>"));
                  $('iframe').contents().find("#bg-cover-image").append($("<style type='text/css'> .cover-container{background-image:url("+ reader.result +") !important;}  </style>"));-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="data-list-view-header campaign-template-section">
        <div class="add-new-data-sidebar">
          <div class="overlay-bg"></div>
          <div class="add-new-data">
            <%= form_with(url: admin_campaign_template_path(@campaign, @template_details), method: 'put',
                          class: 'edit-template-details-form', model: @template_details, local: true) do |form| %>

              <div class="col-sm-12">
                <% if @template_details.errors.any? %>
                  <%= render '/shared/render_errors', resource: @template_details %>
                <% end %>
              </div>

              <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                <div>
                  <h4 class="text-uppercase">Campaign Template Settings</h4>
                </div>
                <div class="hide-data-sidebar">
                  <i class="feather icon-x"></i>
                </div>
              </div>
              <div class="template-sidebar-container pb-3">
                <div class="data-fields px-2">
                  <div class="row">
                    <%= render 'admin/campaigns/template/form.html.erb', campaign: @campaign, template: @template_details, form: form %>
                  </div>
                </div>
              </div>
              <div class="add-data-footer d-flex justify-content-around px-3 mt-2 template-sidebar-btn-container">
                <button class="add-data-btn btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light preview-changes" type="button">
                  <span><i class="feather icon-eye"></i> Preview</span>
                </button>
                <%= form.submit "Save", class: 'btn btn-primary mr-sm-1 mb-1 mb-sm-0 waves-effect waves-light' %>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script>
  $('.action-edit').on('click', function (e) {
    e.stopPropagation();
    $('.add-new-data').addClass('show');
    $('.overlay-bg').addClass('show');
  });

  $('.hide-data-sidebar').on('click', function () {
    $('.add-new-data').removeClass('show')
    $('.overlay-bg').removeClass('show')
  });

  $('#font-selector').fontselect();

  $('.campaign-template-section [data-toggle="collapse"]').on('click', function (e) {
    if ($(this).parents('.accordion').find('.collapse.show')) {
      var idx = $(this).index('[data-toggle="collapse"]');
      if (idx == $('.collapse.show').index('.collapse')) {
        e.stopPropagation();
      }
    }
  });

  function readHeaderImage() {
    var file = document.getElementById("campaign_template_detail_header_background_image").files[0];
    var reader = new FileReader();
    reader.onloadend = function () {
      var iFrame = $('iframe').contents();
      iFrame.find(".hero_section")
          .append($("<style type='text/css'> .hero_section{background-image:url(" + reader.result + ") !important;}  </style>"));
    }
    if (file) {
      reader.readAsDataURL(file);
    } else {
    }
  }

  function readHeaderLogo() {
    var file = document.getElementById("campaign_template_detail_header_logo").files[0];
    var reader = new FileReader();
    reader.onloadend = function () {
      var iFrame = $('iframe').contents();
      iFrame.find('.logo_image').attr('src', reader.result);
      // .append($("<style type='text/css'>  .cover-container{background-image:url("+ reader.result +") !important;}  </style>"));
    }
    if (file) {
      reader.readAsDataURL(file);
    } else {
    }
  }

  $('.preview-changes').on('click', function (e) {
    console.log("Preview Clicked");
    readHeaderImage();
    readHeaderLogo();

    var iFrame = $('iframe').contents();

    var footerFontColor = $('#campaign_template_detail_footer_font_color').val();
    var footerBgColor = $('#campaign_template_detail_footer_background_color').val();

    console.log("footerFontColor", footerFontColor);
    console.log("footerBgColor", footerBgColor);
    iFrame.find(".footer_bottom")
        .append($("<style type='text/css'> .footer_bottom {background-color: " + footerBgColor + " !important; color: " + footerFontColor + " !important;}  </style>"));

    var footerFontSize = $('#campaign_template_detail_footer_font_size').val();
    console.log("footerFontSize", footerFontSize);
    iFrame.find(".footer_bottom")
        .append($("<style type='text/css'>  .footer_bottom p, .footer_bottom a {font-size: " + footerFontSize + "px !important; color: " + footerFontColor + " !important;} </style>"));


    // var selectedFont = $('#font-selector').val().replace(/\+/g, ' ');
    // selectedFont = selectedFont.split(':');
    // console.log("Selected Fonts", selectedFont[0]);
    //
    // iFrame.find(".footer_bottom")
    //     .append($("<style type='text/css'>  body {font-family: " + selectedFont[0] + " !important;}  </style>"));

    iFrame.find(".custom-header")
        .html($('#campaign_template_detail_header_text').val());

    iFrame.find(".custom-header")
        .append($("<style type='text/css'>  .custom-header {font-size: " + $('#campaign_template_detail_header_font_size').val() + "px !important; color: " + $('#campaign_template_detail_header_font_color').val() + " !important;} </style>"));

    iFrame.find(".custom-header-details")
        .html($('#campaign_template_detail_header_description').val());

    iFrame.find(".custom-header-details")
        .append($("<style type='text/css'>  .custom-header-details {font-size: " + $('#campaign_template_detail_header_description_font_size').val() + "px !important; color: " + $('#campaign_template_detail_header_description_font_color').val() + " !important;} </style>"));




    // New code for custom elementory css properties
    // Custom selected Body css properties
    iFrame.find(".custom-body")
        .append($("<style type='text/css'>  .custom-body {"
                          + $('#custom_body_bg_color_name').val() + ": " + $('#custom_body_bg_color_value').val() + " !important; "
                          + $('#custom_body_color_name').val() + ": " + $('#custom_body_color_value').val() + " !important;"
                          + $('#custom_body_font_family_name').val() + ": " + $('#custom_body_font_family_value').val() + " !important;"
                          + $('#custom_body_font_size_name').val() + ": " + $('#custom_body_font_size_value').val() + $('#custom_body_font_size_unit').val() + " !important;"
                          + $('#custom_body_font_weight_name').val() + ": " + $('#custom_body_font_weight_value').val() + " !important;"
                          + $('#custom_body_text_transform_name').val() + ": " + $('#custom_body_text_transform_value').val() + " !important;"
                          + $('#custom_body_font_style_name').val() + ": " + $('#custom_body_font_style_value').val() + " !important;"
                          + $('#custom_body_text_decoration_name').val() + ": " + $('#custom_body_text_decoration_value').val() + " !important;"
                          + $('#custom_body_line_height_name').val() + ": " + $('#custom_body_line_height_value').val() + $('#custom_body_line_height_unit').val() + " !important;"
                          + $('#custom_body_letter_spacing_name').val() + ": " + $('#custom_body_letter_spacing_value').val() + $('#custom_body_letter_spacing_unit').val() + " !important;"
                        + "} </style>"));

    // Custom selected achor tags properties
    iFrame.find(".custom-a")
        .append($("<style type='text/css'> .custom-a {"
                          + $('#custom_a_color_name').val() + ": " + $('#custom_a_color_value').val() + " !important; "
                          + $('#custom_a_font_family_name').val() + ": " + $('#custom_a_font_family_value').val() + " !important;"
                          + $('#custom_a_font_size_name').val() + ": " + $('#custom_a_font_size_value').val() + $('#custom_a_font_size_unit').val() + " !important;"
                          + $('#custom_a_font_weight_name').val() + ": " + $('#custom_a_font_weight_value').val() + " !important;"
                          + $('#custom_a_text_transform_name').val() + ": " + $('#custom_a_text_transform_value').val() + " !important;"
                          + $('#custom_a_font_style_name').val() + ": " + $('#custom_a_font_style_value').val() + " !important;"
                          + $('#custom_a_text_decoration_name').val() + ": " + $('#custom_a_text_decoration_value').val() + " !important;"
                          + $('#custom_a_line_height_name').val() + ": " + $('#custom_a_line_height_value').val() + $('#custom_a_line_height_unit').val() + " !important;"
                          + $('#custom_a_letter_spacing_name').val() + ": " + $('#custom_a_letter_spacing_value').val() + $('#custom_a_letter_spacing_unit').val() + " !important;"
                        + "} </style>"))

    iFrame.find(".custom-a")
        .append($("<style type='text/css'> .custom-a:hover {"
                          + $('#custom_a_hover_color_name').val() + ": " + $('#custom_a_hover_color_value').val() + " !important;"
                          + $('#custom_a_hover_font_family_name').val() + ": " + $('#custom_a_hover_font_family_value').val() + " !important;"
                          + $('#custom_a_hover_font_size_name').val() + ": " + $('#custom_a_hover_font_size_value').val() + $('#custom_a_hover_font_size_unit').val() + " !important;"
                          + $('#custom_a_hover_font_weight_name').val() + ": " + $('#custom_a_hover_font_weight_value').val() + " !important;"
                          + $('#custom_a_hover_text_transform_name').val() + ": " + $('#custom_a_hover_text_transform_value').val() + " !important;"
                          + $('#custom_a_hover_font_style_name').val() + ": " + $('#custom_a_hover_font_style_value').val() + " !important;"
                          + $('#custom_a_hover_text_decoration_name').val() + ": " + $('#custom_a_hover_text_decoration_value').val() + " !important;"
                          + $('#custom_a_hover_line_height_name').val() + ": " + $('#custom_a_hover_line_height_value').val() + $('#custom_a_hover_line_height_unit').val() + " !important;"
                          + $('#custom_a_hover_letter_spacing_name').val() + ": " + $('#custom_a_hover_letter_spacing_value').val() + $('#custom_a_hover_letter_spacing_unit').val() + " !important;"
                        + "} </style>"));

    // Custom selected headers tags properties
    iFrame.find(".custom_h1")
        .append($("<style type='text/css'> .custom_h1 {"
                        + $('#custom_h1_color_name').val() + ": " + $('#custom_h1_color_value').val() + " !important;"
                        + $('#custom_h1_font_family_name').val() + ": " + $('#custom_h1_font_family_value').val() + " !important;"
                        + $('#custom_h1_font_size_name').val() + ": " + $('#custom_h1_font_size_value').val() + $('#custom_h1_font_size_unit').val() + " !important;"
                        + $('#custom_h1_font_weight_name').val() + ": " + $('#custom_h1_font_weight_value').val() + " !important;"
                        + $('#custom_h1_text_transform_name').val() + ": " + $('#custom_h1_text_transform_value').val() + " !important;"
                        + $('#custom_h1_font_style_name').val() + ": " + $('#custom_h1_font_style_value').val() + " !important;"
                        + $('#custom_h1_text_decoration_name').val() + ": " + $('#custom_h1_text_decoration_value').val() + " !important;"
                        + $('#custom_h1_line_height_name').val() + ": " + $('#custom_h1_line_height_value').val() + $('#custom_h1_line_height_unit').val() + " !important;"
                        + $('#custom_h1_letter_spacing_name').val() + ": " + $('#custom_h1_letter_spacing_value').val() + $('#custom_h1_letter_spacing_unit').val() + " !important;"
                      + "} </style>"));

    iFrame.find(".custom_h2")
        .append($("<style type='text/css'> .custom_h2 {"
                        + $('#custom_h2_color_name').val() + ": " + $('#custom_h2_color_value').val() + " !important;"
                        + $('#custom_h2_font_family_name').val() + ": " + $('#custom_h2_font_family_value').val() + " !important;"
                        + $('#custom_h2_font_size_name').val() + ": " + $('#custom_h2_font_size_value').val() + $('#custom_h2_font_size_unit').val() + " !important;"
                        + $('#custom_h2_font_weight_name').val() + ": " + $('#custom_h2_font_weight_value').val() + " !important;"
                        + $('#custom_h2_text_transform_name').val() + ": " + $('#custom_h2_text_transform_value').val() + " !important;"
                        + $('#custom_h2_font_style_name').val() + ": " + $('#custom_h2_font_style_value').val() + " !important;"
                        + $('#custom_h2_text_decoration_name').val() + ": " + $('#custom_h2_text_decoration_value').val() + " !important;"
                        + $('#custom_h2_line_height_name').val() + ": " + $('#custom_h2_line_height_value').val() + $('#custom_h2_line_height_unit').val() + " !important;"
                        + $('#custom_h2_letter_spacing_name').val() + ": " + $('#custom_h2_letter_spacing_value').val() + $('#custom_h2_letter_spacing_unit').val() + " !important;"
                      + "} </style>"));

    iFrame.find(".custom_h3")
        .append($("<style type='text/css'> .custom_h3 {"
                        + $('#custom_h3_color_name').val() + ": " + $('#custom_h3_color_value').val() + " !important;"
                        + $('#custom_h3_font_family_name').val() + ": " + $('#custom_h3_font_family_value').val() + " !important;"
                        + $('#custom_h3_font_size_name').val() + ": " + $('#custom_h3_font_size_value').val() + $('#custom_h3_font_size_unit').val() + " !important;"
                        + $('#custom_h3_font_weight_name').val() + ": " + $('#custom_h3_font_weight_value').val() + " !important;"
                        + $('#custom_h3_text_transform_name').val() + ": " + $('#custom_h3_text_transform_value').val() + " !important;"
                        + $('#custom_h3_font_style_name').val() + ": " + $('#custom_h3_font_style_value').val() + " !important;"
                        + $('#custom_h3_text_decoration_name').val() + ": " + $('#custom_h3_text_decoration_value').val() + " !important;"
                        + $('#custom_h3_line_height_name').val() + ": " + $('#custom_h3_line_height_value').val() + $('#custom_h3_line_height_unit').val() + " !important;"
                        + $('#custom_h3_letter_spacing_name').val() + ": " + $('#custom_h3_letter_spacing_value').val() + $('#custom_h3_letter_spacing_unit').val() + " !important;"
                      + "} </style>"));

    iFrame.find(".custom_h4")
        .append($("<style type='text/css'> .custom_h4 {"
                        + $('#custom_h4_color_name').val() + ": " + $('#custom_h4_color_value').val() + " !important;"
                        + $('#custom_h4_font_family_name').val() + ": " + $('#custom_h4_font_family_value').val() + " !important;"
                        + $('#custom_h4_font_size_name').val() + ": " + $('#custom_h4_font_size_value').val() + $('#custom_h4_font_size_unit').val() + " !important;"
                        + $('#custom_h4_font_weight_name').val() + ": " + $('#custom_h4_font_weight_value').val() + " !important;"
                        + $('#custom_h4_text_transform_name').val() + ": " + $('#custom_h4_text_transform_value').val() + " !important;"
                        + $('#custom_h4_font_style_name').val() + ": " + $('#custom_h4_font_style_value').val() + " !important;"
                        + $('#custom_h4_text_decoration_name').val() + ": " + $('#custom_h4_text_decoration_value').val() + " !important;"
                        + $('#custom_h4_line_height_name').val() + ": " + $('#custom_h4_line_height_value').val() + $('#custom_h4_line_height_unit').val() + " !important;"
                        + $('#custom_h4_letter_spacing_name').val() + ": " + $('#custom_h4_letter_spacing_value').val() + $('#custom_h4_letter_spacing_unit').val() + " !important;"
                      + "} </style>"));

    iFrame.find(".custom_h5")
        .append($("<style type='text/css'> .custom_h5 {"
                        + $('#custom_h5_color_name').val() + ": " + $('#custom_h5_color_value').val() + " !important;"
                        + $('#custom_h5_font_family_name').val() + ": " + $('#custom_h5_font_family_value').val() + " !important;"
                        + $('#custom_h5_font_size_name').val() + ": " + $('#custom_h5_font_size_value').val() + $('#custom_h5_font_size_unit').val() + " !important;"
                        + $('#custom_h5_font_weight_name').val() + ": " + $('#custom_h5_font_weight_value').val() + " !important;"
                        + $('#custom_h5_text_transform_name').val() + ": " + $('#custom_h5_text_transform_value').val() + " !important;"
                        + $('#custom_h5_font_style_name').val() + ": " + $('#custom_h5_font_style_value').val() + " !important;"
                        + $('#custom_h5_text_decoration_name').val() + ": " + $('#custom_h5_text_decoration_value').val() + " !important;"
                        + $('#custom_h5_line_height_name').val() + ": " + $('#custom_h5_line_height_value').val() + $('#custom_h5_line_height_unit').val() + " !important;"
                        + $('#custom_h5_letter_spacing_name').val() + ": " + $('#custom_h5_letter_spacing_value').val() + $('#custom_h5_letter_spacing_unit').val() + " !important;"
                      + "} </style>"));

    iFrame.find(".custom_h6")
        .append($("<style type='text/css'> .custom_h6 {"
                        + $('#custom_h6_color_name').val() + ": " + $('#custom_h6_color_value').val() + " !important;"
                        + $('#custom_h6_font_family_name').val() + ": " + $('#custom_h6_font_family_value').val() + " !important;"
                        + $('#custom_h6_font_size_name').val() + ": " + $('#custom_h6_font_size_value').val() + $('#custom_h6_font_size_unit').val() + " !important;"
                        + $('#custom_h6_font_weight_name').val() + ": " + $('#custom_h6_font_weight_value').val() + " !important;"
                        + $('#custom_h6_text_transform_name').val() + ": " + $('#custom_h6_text_transform_value').val() + " !important;"
                        + $('#custom_h6_font_style_name').val() + ": " + $('#custom_h6_font_style_value').val() + " !important;"
                        + $('#custom_h6_text_decoration_name').val() + ": " + $('#custom_h6_text_decoration_value').val() + " !important;"
                        + $('#custom_h6_line_height_name').val() + ": " + $('#custom_h6_line_height_value').val() + $('#custom_h6_line_height_unit').val() + " !important;"
                        + $('#custom_h6_letter_spacing_name').val() + ": " + $('#custom_h6_letter_spacing_value').val() + $('#custom_h6_letter_spacing_unit').val() + " !important;"
                      + "} </style>"));

    // Custom selected button tags properties
    iFrame.find(".custom_btn")
        .append($("<style type='text/css'> .custom_btn {"
                        + $('#custom_button_font_family_name').val() + ": " + $('#custom_button_font_family_value').val() + " !important;"
                        + $('#custom_button_font_size_name').val() + ": " + $('#custom_button_font_size_value').val() + $('#custom_button_font_size_unit').val() + " !important;"
                        + $('#custom_button_font_weight_name').val() + ": " + $('#custom_button_font_weight_value').val() + " !important;"
                        + $('#custom_button_text_transform_name').val() + ": " + $('#custom_button_text_transform_value').val() + " !important;"
                        + $('#custom_button_font_style_name').val() + ": " + $('#custom_button_font_style_value').val() + " !important;"
                        + $('#custom_button_text_decoration_name').val() + ": " + $('#custom_button_text_decoration_value').val() + " !important;"
                        + $('#custom_button_line_height_name').val() + ": " + $('#custom_button_line_height_value').val() + $('#custom_button_line_height_unit').val() + " !important;"
                        + $('#custom_button_letter_spacing_name').val() + ": " + $('#custom_button_letter_spacing_value').val() + $('#custom_button_letter_spacing_unit').val() + " !important;"
                        + $('#custom_button_color_name').val() + ": " + $('#custom_button_color_value').val() + " !important;"
                        + $('#custom_button_bg_color_name').val() + ": " + $('#custom_button_bg_color_value').val() + " !important;"
                        + $('#custom_button_border_name').val() + ": " + $('#custom_button_border_value').val() + " !important;"
                        + $('#custom_button_border_radius_name').val() + ": " + $('#custom_button_border_radius_value').val() + $('#custom_button_border_radius_unit').val() + " !important;"
                        + $('#custom_button_padding_top_name').val() + ": " + $('#custom_button_padding_top_value').val() + $('#custom_button_padding_top_unit').val() + " !important;"
                        + $('#custom_button_padding_right_name').val() + ": " + $('#custom_button_padding_right_value').val() + $('#custom_button_padding_right_unit').val() + " !important;"
                        + $('#custom_button_padding_bottom_name').val() + ": " + $('#custom_button_padding_bottom_value').val() + $('#custom_button_padding_bottom_unit').val() + " !important;"
                        + $('#custom_button_padding_left_name').val() + ": " + $('#custom_button_padding_left_value').val() + $('#custom_button_padding_left_unit').val() + " !important;"
                      + "} </style>"));

    iFrame.find(".custom_btn")
        .append($("<style type='text/css'> .custom_btn:hover {"
                        + $('#custom_button_hover_color_name').val() + ": " + $('#custom_button_hover_color_value').val() + " !important;"
                        + $('#custom_button_hover_bg_color_name').val() + ": " + $('#custom_button_hover_bg_color_value').val() + " !important;"
                        + $('#custom_button_hover_border_name').val() + ": " + $('#custom_button_hover_border_value').val() + " !important;"
                        + $('#custom_button_hover_border_radius_name').val() + ": " + $('#custom_button_hover_border_radius_value').val() + $('#custom_button_hover_border_radius_unit').val() + " !important;"
                      + "} </style>"));


  })
</script>
