<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">List Users</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="data-list-view" class="data-list-view-header">
        <div class="table-responsive">
          <table class="table data-list-view user-list-view">
            <thead>
            <tr>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>EMAIL</th>
              <th>IS ACTIVE</th>
              <% if @is_admin %>
                <th>ACTIONS</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @organization_users.each do |user| %>
              <tr>
                <td class="product-name">
                  <%= user.first_name %>
                </td>

                <td class="product-name">
                  <%= user.last_name %>
                </td>

                <td class="product-category">
                  <%= user.email %>
                </td>

                <td class="product-category user-status-<%= user.id %>">
                  <div class="chip <%= user.is_active? ? 'chip-success' : 'chip-warning' %> main-chip-div-<%= user.id %>">
                    <div class="chip-body">
                      <div class="chip-text user-chip-text-<%= user.id %>"><%= user.is_active? ? 'YES' : '&nbsp;NO'.html_safe %></div>
                    </div>
                  </div>
                </td>

                <% if @is_admin %>
                  <td class="product-action user-<%= user.id %>">
                    <button class="btn btn-xs btn-action btn-<%= user.is_active ? 'warning' : 'success' %>  user-action-btn"
                            data-url="<%= toggle_active_status_admin_organizations_user_path(user) %>">
                      <%=  user.is_active ? 'Deactivate' : 'Activate' %>
                    </button>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
