<%= render 'users/shared/header_without_login' %>

<% if params.has_key?('type') && params[:type] == '0' %>
  <div class="container">
    <div class="row">
      <div class="col-centered" style="padding:40px 0px;">
        <div class="setup-info-module col-centered">
          <h2>Set your password.</h2>

          <div class="subtitle" style="padding:0px 15px 15px;font-size:14px;">
            Please enter the new password you would like for your account.
          </div>

          <% if flash[:error] %>
            <div style="color:red;">
              <%= flash[:error] %>
              <% flash[:error] = nil %>
            </div>
          <% end %>

          <ul class="features-list">
            <%= form_for(resource, as: resource_name, url: user_password_path, html: {method: :put}) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>

              <li>
                <%= f.label :password, "New password" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
                <% end %>
                <%= f.password_field :password, placeholder: 'New Password', required: true %>
                <br>
              </li>

              <li>
                <%= f.label :password_confirmation, "Confirm new password" %>
                <%= f.password_field :password_confirmation, placeholder: 'Confirm New Password', required: true %>
              </li>
              <li class="list-divider"></li>
              <li>
                <%= f.submit "Set Password", class: 'btn btn-login'%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-centered" style="padding:40px 0px;">
        <div class="setup-info-module col-centered">
          <h2>Reset your password.</h2>

          <div class="subtitle" style="padding:0px 15px 15px;font-size:14px;">
            Please enter the new password you would like for your account.
          </div>

          <% if flash[:error] %>
            <div style="color:red;">
              <%= flash[:error] %>
              <% flash[:error] = nil %>
            </div>
          <% end %>

          <ul class="features-list">
            <%= form_for(resource, as: resource_name, url: user_password_path, html: {method: :put}) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>

              <li>
                <%= f.label :password, "New password" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
                <% end %>
                <%= f.password_field :password, placeholder: 'New Password', required: true %>
                <br>
              </li>

              <li>
                <%= f.label :password_confirmation, "Confirm new password" %>
                <%= f.password_field :password_confirmation, placeholder: 'Confirm New Password', required: true %>
              </li>
              <li class="list-divider"></li>
              <li>
                <%= f.submit "Reset Password", class: 'btn btn-login'%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
