<%= render 'users/shared/header_without_login' %>

<div class="container">
  <div class="row">
    <div class="col-centered" style="padding:40px 0px;">
      <div class="setup-info-module col-centered">
        <h2>Forgot your password.</h2>

        <div class="subtitle" style="padding:0px 15px 15px;font-size:14px;">
          If you have forgotten your password, please provide us with your email address and we will send you an email
          to reset your password.
        </div>

        <% if flash[:error] %>
          <div style="color:red;">
            <%= flash[:error] %>
            <% flash[:error] = nil %>
          </div>
        <% end %>

        <ul class="features-list">
          <%= form_for(resource, as: resource_name, url: user_password_path, html: {method: :post}) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <%= hidden_field_tag 'user[role]', 'admin' %>

            <li>
              <%= label_tag "user[organization_id]", 'Email' %>
              <%= f.email_field :email, placeholder: 'Email' %>
            </li>

            <li>
              <%= label_tag "user[organization_id]", 'Organization' %>
              <%= select_tag "user[organization_id]", options_from_collection_for_select(Organization.all, "id", "name") %>
            </li>

            <li class="list-divider"></li>

            <li>
              <%= f.submit "Send Email", class: 'btn btn-login' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
