<p id="notice"><%= notice %></p>

<img src="<%= @post.image %>" class= "player-show">

<p class="form-control">
  <strong>Player Name:</strong>
  <%= @post.playerName %>
</p>

<p class="form-control">
  <strong>Sport:</strong>
  <%= @post.sport.sport_name %>
</p>

<p class="form-control">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p class="form-control">
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%= render partial: "hashtags/form", locals: {tagable: @post} %>
<% if ((@post.user == current_user) || (current_user.admin?)) %>
<%= link_to 'Edit', edit_post_path(@post),class:"btn btn-dark" %> 
<% end %>
<%= link_to 'Back', posts_path,class:"btn btn-dark" %>
