<section class="modal" id="signUpModal">
  <div class="modal-inner small-modal" style="max-width: 30em">
    <button class="modal-close-btn btn-icon">
      <%= image_tag('end-user/close-button.svg', class: 'logged-out-img') %>
    </button>
    <div>
      <div>
        <div class="modal-header">
          <h1>Join With Email</h1>
        </div>
        <div class="modal-fields" style="margin-top: 45px;">
          <%= form_for(User.last, as: User.last, url: admin_organizations_user_registration_path) do |f| %>
            <%= render "users/shared/error_messages", resource: User.last %>

            <%= f.hidden_field :role, value: 'participant' %>
            <%= f.hidden_field :is_invited, value: false %>
            <%= f.hidden_field :organization_id, value: 0 %>

            <div class="row">
              <span class="left-icon">
                <%= image_tag('end-user/user-icon.svg') %>
              </span>
              <div class="full-field">
                <%= f.text_field :first_name, class: "bottom-input", placeholder: "First Name" %>
              </div>
            </div>

            <div class="row">
              <span class="left-icon">
                <%= image_tag('end-user/user-icon.svg') %>
              </span>
              <div class="full-field">
                <%= f.text_field :last_name, class: "bottom-input", placeholder: "Last Name" %>
              </div>
            </div>

            <div class="row">
             <span class="left-icon">
                <%= image_tag('end-user/email-icon.svg') %>
              </span>
              <div class="full-field">
                <%= f.email_field :email, class: "bottom-input", placeholder: "Email Address" %>
              </div>
            </div>

            <div class="row">
             <span class="left-icon">
                <%= image_tag('end-user/email-check-icon.svg') %>
              </span>
              <div class="full-field">
                <%= f.email_field :email, class: "bottom-input", placeholder: "Confirm Email Address" %>
              </div>
            </div>

            <div class="row">
             <span class="left-icon">
                <%= image_tag('end-user/pw-icon.svg') %>
              </span>
              <div class="full-field">
                <%= f.password_field :password, class: "bottom-input", placeholder: "Choose Password" %>
              </div>
            </div>

            <div class="row">
             <span class="left-icon">
                <%= image_tag('end-user/pw-icon-check.svg') %>
              </span>
              <div class="full-field">
                <%= f.password_field :password_confirmation, class: "bottom-input", placeholder: "Re Choose Password" %>
              </div>
            </div>

            <div class="bottom-button">
              <%= f.submit "Sign Up", class: 'btn-has-icon btn-join-perk' %>
            </div>
          <% end %>

          <hr>
          <div class="bottom-signup"><a id="signup-bttn" href="javascript:void(0);">Already have an account? Log in.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  input.bottom-input {
    border-top: none;
    border-left: none;
    border-right: none;
  }
</style>
