<div class="modal end-user-details-modal" id="join_now_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header p-0">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal_box signup-type">
          <%= image_tag("end-user/BNR-Logo-Horizontal-Color-Black.svg", class: "logo_image mb-1") %>
          <div class="box1">
            <h5>Join the other members who are already winning great prizes and rewards.</h5>
            <%
              google_button = display_google_button
              facebook_button = display_facebook_button
              email_button = display_email_button
            %>
            <% if facebook_button.present? %>
              <a id="connect-bttn" href="<%= participant_facebook_omniauth_authorize_path(type: 'sign_up', ci: @campaign.id, oi: @organization.id) %>"
                  class="btn box1_btn facebook_btn btn-block">
                <span class="icon-btn-share fa fa-facebook connect-social-icon"></span>
                <span class="btn-share-text">Continue With Facebook</span>
              </a>
              <div class="clear"></div>
            <% end %>

            <% if google_button.present? %>
              <a id="connect-bttn" href="<%= participant_google_oauth2_omniauth_authorize_path(type: 'sign_up', ci: @campaign.id, oi: @organization.id) %>"
                  class="btn box1_btn google_btn btn-block">
                <span class="icon-btn-share fa fa-google connect-social-icon"></span>
                <span class="btn-share-text">Continue With Google</span>
              </a>
              <div class="clear"></div>
            <% end %>

            <% if email_button.present? %>
              <button type="button" class="btn box1_btn email_btn btn-block" id="signup_with_email">
                <i class="fa fa-paper-plane connect-social-icon" aria-hidden="true"></i> Continue With Email
              </button>
              <div class="clear"></div>
            <% end %>

            <% if facebook_button.present? || google_button.present? || email_button.present? %>
              <p class="box1_para terms-details">By continuing, I agree to the <span style="text-decoration: underline;">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#privacyModal">privacy policy</a></span>,
                <span style="text-decoration: underline;">
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#rulesModal">rules</a></span>
                and <span style="text-decoration: underline;">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#termsModal" >terms</a></span>
                &nbsp;of this program.&nbsp;</p>
            <% end %>
          </div>
        </div>

        <div class="modal_box signup-step1 hide">
          <%= image_tag("end-user/BNR-Logo-Horizontal-Color-Black.svg", class: "logo_image mb-1") %>
          <div class="box2">
            <h5>Let's get you earning points. Earn <span class="red-color-span"><%= email_button.points.to_i %> Points</span> now by setting up your account:</h5>
            <%= form_for(Participant.new, as: :participant, url: participant_registration_path, :html => {class: 'form form-vertical participant-sign-up-form'}) do |f| %>
              <div class="row">
                <%= f.hidden_field :campaign_id, value: @campaign.id %>
                <%= f.hidden_field :organization_id, value: @campaign.organization_id %>
                <%= f.hidden_field :connect_type, value: 'email' %>

                <div class="col-md-6 m-b-14">
                  <%= f.text_field :first_name, class: "form-control", placeholder: "First Name*", autocomplete: "off" %>
                </div>

                <div class="col-md-6 m-b-14">
                  <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name*", autocomplete: "off" %>
                </div>

                <div class="col-md-12 m-b-14">
                  <%= f.email_field :email, class: "form-control", placeholder: "Email Address*", autocomplete: "off" %>
                </div>
                <div class="col-md-12 m-b-14">
                  <%= email_field_tag 'participant[email_confirmation]', nil, class: "form-control email-confirmation-txt", placeholder: "Confirm Email Address*", autocomplete: "off" %>
                </div>

                <div class="col-md-6 m-b-14">
                  <%= f.password_field :password, class: "form-control", placeholder: "Choose Password*", autocomplete: "off" %>
                </div>

                <div class="col-md-6 m-b-14">
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Re Enter Password*", autocomplete: "off" %>
                </div>

                <div class="col-md-12 m-b-14">
                  <%= f.submit "Next", class: 'btn box1_btn btn-block' %>
                  <p class="font-12 terms-details">By continuing, I agree to the <span style="text-decoration: underline;"><a href="#">privacy policy</a></span>, <span style="text-decoration: underline;"><a href="#">rules</a></span> and <span style="text-decoration: underline;"><a href="#">terms</a></span>&nbsp;of this program.&nbsp;</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

<!-- Modal footer -->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--      </div>-->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#signup_with_email').click(function(){
      $('.signup-type').hide();
      $('.signup-step1').show();
    });

    $("#join_now_modal").on("hidden.bs.modal", function () {
      $('.signup-type').show();
      $('.signup-step1').hide();
      $(".participant-sign-up-form").validate().resetForm();
    });

  });
</script>

<style media="screen">
  #join_now_modal .modal_box .form-control {
    margin-bottom: 0px !important;
  }

  .m-b-14 {
    margin-bottom: 14px;
  }
</style>
