<div class="modal" id="sign_in_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header p-0">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal_box signin-type">
          <%= image_tag("end-user/BNR-Logo-Horizontal-Color-Black.svg", class: "logo_image mb-1") %>
          <div class="box1">
            <h5>Welcome back, please login to your account.</h5>
            <%
              google_button = display_google_button
              facebook_button = display_facebook_button
              email_button = display_email_button
            %>

            <% if facebook_button.present? %>
            <a id="connect-bttn" href="<%= participant_facebook_omniauth_authorize_path(type: 'sign_up', ci: @campaign.id, oi: @organization.id) %>"
               class="btn box1_btn facebook_btn btn-block">
              <span class="icon-btn-share fa fa-facebook"></span>
              <span class="btn-share-text">Login With Facebook</span>
            </a>
            <div class="clear"></div>
            <% end %>

            <% if google_button.present? %>
            <a id="connect-bttn" href="<%= participant_google_oauth2_omniauth_authorize_path(type: 'sign_up', ci: @campaign.id, oi: @organization.id) %>"
               class="btn box1_btn google_btn btn-block">
              <span class="icon-btn-share fa fa-google"></span>
              <span class="btn-share-text">Continue With Google</span>
            </a>
            <div class="clear"></div>
            <% end %>

            <% if email_button.present? %>
              <button type="button" class="btn box1_btn email_btn btn-block" id="signin_with_email"><i class="fa fa-paper-plane" aria-hidden="true"></i> Login With Email</button>
            <% end %>

            <% if facebook_button.present? || google_button.present? || email_button.present? %>
              <p class="box1_para terms-details">By continuing, I agree to the <span style="text-decoration: underline;">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#privacyModal">privacy policy</a></span>,
                <span style="text-decoration: underline;">
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#rulesModal">rules</a></span>
                and <span style="text-decoration: underline;">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#termsModal" >terms</a></span>
                &nbsp;of this program.&nbsp;</p>
            <% end %>

            <div class="clear"></div>
          </div>
        </div>

        <div class="modal_box signin-step1 hide">
          <%= image_tag("end-user/BNR-Logo-Horizontal-Color-Black.svg", class: "logo_image mb-1") %>
          <div class="box2">
            <h5>Welcome back, please login to your account.</h5>
            <%= form_for(Participant.new, as: :participant, url: participant_session_path, html: {class: 'login_form' } ) do |f| %>
              <%#= render 'shared/flash_messages' %>

              <%= hidden_field_tag 'participant[organization_id]', (@organization.present? ? @organization.id : 0) %>
              <%= hidden_field_tag 'participant[campaign_id]', (@campaign.present? ? @campaign.id : 0) %>

              <div class="row">
                <div class="col-md-12">
                  <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'Email' %>
                </div>
                <div class="col-md-12">
                  <%= f.password_field :password, required: true, class: 'form-control', placeholder: 'Password' %>
                </div>
                <div class="col-12">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
                <div class="col-12">
                  <%= f.submit "Log in", class: 'btn box1_btn btn-block' %>
                </div>
                <div class="col-12">
                  <%= link_to "Forgot password?", new_participant_password_path %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--      </div>-->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#signin_with_email').click(function(){
      $('.signin-type').hide();
      $('.signin-step1').show();
    });

    $("#sign_in_modal").on("hidden.bs.modal", function () {
      $('.signin-type').show()
      $('.signin-step1').hide()
      $(".login_form").trigger( "reset");
      $(".login_form").validate().resetForm();
    });

  });
</script>

<style media="screen">
</style>
