<section class="section_que">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-2 col-lg-8">
        <div class="box3">
          <%= render 'non_login/challenge_header_details' %>

          <% @quiz_submitted = @challenge.participant_answers.where(participant_id: @participant.id).present? %>
          <% unless @questions.blank? %>
            <%= form_with(url: non_login_participants_submissions_path, method: :post, model: @participant, class: 'challenge-quiz-modal-form', remote: true) do |f| %>
              <%= hidden_field_tag "identifier", @identifier %>

              <% @questions.each_with_index do |question, index| %>
                <% question_options = question.question_options.order(sequence: :asc) %>
                <div class="row text-left">
                  <div class="col-md-12">
                    <div class="form-group extended-form-group">
                      <% unless question.answer_type == "wysiwyg" %>
                        <%= label :title, "#{index+1}. #{question.title}" %>
                        <%= hidden_field_tag "questions[#{question.id}][challenge_id]", @challenge.id %>
                        <%= hidden_field_tag "questions[#{question.id}][question_id]", question.id %>
                        <%= hidden_field_tag "questions[#{question.id}][correct_option_id]", get_correct_option_id(question) %>
                      <% end %>

                      <% case question.answer_type %>
                      <% when 'string' then %>
                        <%= text_field_tag "questions[#{question.id}][answer]", (@quiz_submitted ? fetch_question_answered_value(question, nil, @participant) : ''),
                                           class: "form-control answer-string #{answer_required('answer-string', question.is_required)} #{question.additional_details.present? ? 'bottom-margin' : ''}",
                                           placeholder: fetch_placeholder_details(question, 'string'), disabled: @quiz_submitted %>
                      <% when 'radio_button' then %>
                        <% question_options.each do |option| %>
                          <div>
                            <%= radio_button_tag "questions[#{question.id}][question_option_id][]", option.id, (@quiz_submitted ? fetch_question_answered_value(question, option.id, @participant) : false),
                                                 id: "questions_#{question.id}_answer_#{option.id}",
                                                 class: "answer-radio-button #{answer_required('answer-radio-button', question.is_required)} #{question.additional_details.present? ? 'bottom-margin' : ''}",
                                                 data: {error: "radio-button-error-#{index}"}, disabled: @quiz_submitted %>
                            <label class="radio-label" for="<%= "questions_#{question.id}_answer_#{option.id}" %>"><%= option.details %></label>
                          </div>
                        <% end %>
                        <div class="custom-error-class radio-button-error-<%= index %>"></div>
                      <% when 'wysiwyg' then %>
                        <% if question_options.first.details.present? %>
                          <p><%= raw(question_options.first.details).html_safe rescue nil %></p> <!-- Todo -->
                        <% end %>
                      <% end %>

                      <% if question.additional_details.present? %>
                        <p class="additional-details"><%= question.additional_details %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

              <% unless @quiz_submitted %>
                <%= f.submit "Submit", class: 'btn box1_btn btn-block pull-right submit-btn' %><br>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('.challenge-quiz-modal-form').validate({
    errorElement: 'div',
    errorPlacement: function (error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $('.' + placement).html(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
</script>