<div class="container">
  <div class="row row-container">
    <div class="col-md-12">
      <div class="header-text">
        USERS
      </div>
      <div style="float:right;">
        <a href="<%= new_organizations_user_registration_path %>" class="btn-red-admin" style="color: #fff;">INVITE USER</a>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="col-md-12">
      <table class="table org-admin-table" style="margin-top:10px;">
        <tr>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>EMAIL</th>
          <th>IS ACTIVE</th>
          <th>ACTIONS</th>
        </tr>
        <% @organization_users.each do |user| %>
          <tr>
            <td>
              <%= user.first_name %>
            </td>
            <td>
              <%= user.last_name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.is_active? ? 'YES' : 'NO' %>
            </td>
            <td>
              <a data-confirm="Are you sure you want to de-activate this campaign? This cannont be brought back." href="javascript:void(0);">Deactivate</a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
