<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Perk Social</title>-->
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>

<!--    <!DOCTYPE html>-->
<!--    <html>-->
<!--    <head>-->
<!--      <meta charset="utf-8">-->
<!--      <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
      <%# if !@campaign.nil? %>
        <%#= raw @campaign.seo %>
      <%# else %>
<!--        <title>PERK SOCIAL</title>-->
      <%# end %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%#= favicon_link_tag asset_path('favicon.ico') %>

<!--      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">-->
<!--      <script src="https://use.typekit.net/xgd4wdt.js"></script>-->
<!--      <script>try{Typekit.load({ async: true });}catch(e){}</script>-->
<!--  </head>-->

<!--  <body>-->
    <%#= yield %>
<!--  </body>-->
<!--</html>-->


<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Perk Social">
  <meta name="keywords" content="Perk Social">
  <meta name="author" content="Perk Social">

  <title>Perk Social</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static"
      data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">
<%= yield %>
</body>
<!-- END: Body-->

</html>