<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% @template = @campaign.campaign_template_detail %>

    <% if !@campaign.nil? && !@campaign.seo.nil? && !@campaign.seo.empty? %>
      <%= raw @campaign.seo %>
    <% else %>
      <title>The Ohio State University</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/wez6qgv.css">

    <%= stylesheet_link_tag 'end_user/end_user', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'end_user/end_user', 'data-turbolinks-track' => 'reload' %>
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Proxima+Nova"> -->
    <script src="https://www.youtube.com/iframe_api"></script>

    <style>
      .footer_bottom {
        background-color: <%= @template.footer_background_color.present? ? @template.footer_background_color : '#BB0000' %> !important;
        color: <%= @template.footer_font_color.present? ? @template.footer_font_color : '#fefefe' %>;
      }

      .footer_bottom a:hover {
        text-decoration: none;
      }

      .footer_bottom p, .footer_bottom a, .footer_bottom a:visited {
        font-size: <%= @template.footer_font_size.present? ? "#{@template.footer_font_size}px" : '1.1rem' %>;
        color: <%= @template.footer_font_color.present? ? @template.footer_font_color : '#333' %> !important;
      }

      .custom-header {
        font-size: <%= @template.header_font_size.present? ? "#{@template.header_font_size}px" : '1.1rem' %>;
        color: <%= @template.header_font_color.present? ? "#{@template.header_font_color}" : '#fefefe' %>;
      }

      /* Custom CSS from Campaign Settings */
      <%= @campaign.css %>
    </style>

  </head>

  <body>
    <!-- Header Menu -->
    <%= render 'end_users/layout/header' %>

    <!-- Body Part -->
    <section class="body-content">
      <%= yield %>
    </section>

    <!-- Footer Part -->
    <%= render 'end_users/layout/footer' %>
  </body>

  <style media="screen">
    .body-content{
      margin-top: 66px;
    }
  </style>
</html>
