<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% @template = @campaign.campaign_template_detail %>

    <% if !@campaign.nil? && !@campaign.seo.nil? && !@campaign.seo.empty? %>
      <%= raw @campaign.seo %>
    <% else %>
      <title>The Ohio State University</title>
    <% end %>

    <% if @og %>
      <meta property="fb:app_id" content="<%= @og.fb_app_id %>" />
      <meta property="og:site_name" content="<%= @og.site_name %>" />
      <meta property="og:title" content="<%= @og.title %>" />
      <meta property="og:type" content="<%= @og.content_type %>" />
      <meta property="og:image" content="<%= @og.image %>" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:url" content="<%= @og.url %>">
      <meta property="og:description" content="<%= @og.description %>" />
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href="https://use.typekit.net/wez6qgv.css">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <script src="https://www.youtube.com/iframe_api"></script>

    <%= stylesheet_link_tag "end_user/end_user", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "end_user/end_user", "data-turbolinks-track" => "reload" %>
  </head>

  <body class="custom-body">
    <!-- Header Menu -->
    <%= render 'end_users/layout/header' %>

    <!-- Body Part -->
    <section class="body-content">
      <!-- Show Flash messages  -->
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>

      <!-- Hero section Start -->
      <section class="hero_section" style="background-image: url('<%= list_header_bg_image %>')">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 left">
              <h1 class="custom_h1 pt-4 mb-3"><%= list_header_text %></h1>
              <h4 class="custom_h4 mb-3"><%= list_header_text %></h4>
              <button class="custom_btn banner_btn" data-toggle="modal" data-target="#join_now_modal">Get Started!</button>
            </div>
            <div class="col-lg-6">
              <% unless @rewards.blank? %>
                <span class="banner_section_title mb-2 pb-1">What you can win:</span>
                <div id="banner_carousel" class="carousel slide" data-ride="carousel">
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                  </ul>
                  <div class="carousel-inner">
                    <% @rewards.each_with_index do |reward, index| %>
                      <div class="carousel-item <%= (index == 0) ? 'active' : '' %>">
                        <%= image_tag(reward.image.url) %>
                        <h5 class="custom_h5 banner_carousel_caption"><%= reward.name %></h5>
                        <div class="carousel-caption">
                          <span class="d-block"><i class="fa fa-clock-o" aria-hidden="true"></i> Prize Ends
                            in <%= distance_of_time_in_words(Time.now, reward.finish) %></span>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      <!-- Show Actual Content -->
      <%= yield %>
    </section>

    <!-- Footer Part -->
    <%= render 'end_users/layout/footer' %>
  </body>

  <%= render 'end_users/layout/custom_elementory_css' %>

  <style media="screen">
    .body-content{
      margin-top: 66px;
    }
  </style>
</html>
