<!DOCTYPE html>
<html lang="en">
<head>
  <% template = @campaign.campaign_template_detail %>
  <meta charset="UTF-8">
  <% if !@campaign.nil? && !@campaign.seo.nil? && !@campaign.seo.empty? %>
    <%= raw @campaign.seo %>
  <% else %>
    <title>The Ohio State | My Rewards</title>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'end_user/end_user', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'end_user/end_user', 'data-turbolinks-track' => 'reload' %>

  <!-- Favicon Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="<%= template.favicon_file.url %>">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="//use.typekit.net/xgd4wdt.js"></script>
  <script>
    try {
      Typekit.load({async: true});
    } catch (e) {

    }
  </script>
</head>

<body>
<div id="app" class="main-class">
  <header class="page-header-hero" style="background-image: url(<%= template.header_background_image.url %>)">
    <nav class="top-nav">
            <span class="logged-out">
                <div class="wrap">
                    <div class="nav-login">
                      <%#= image_tag('end-user/logged-out-logo.svg', class: 'logged-out-img') %>
                      <a class="nav-link"  href="#">Sign Up</a>
                        <a class="nav-link" href="#">
                            <svg class="icon-nav-item" viewBox="0 0 100 100">
                              <use xlink:href="#svg-sign-out"/>
                            </svg>Log In
                        </a>
                    </div>
                </div>
            </span>
    </nav>

    <div class="wrap">
      <div class="hero-content">
        <div class="hero-content-block">
          <img class="hero-logo" src="<%= template.header_logo.url %>">
          <p>The Official Loyalty & Rewards Program for The Ohio State University</p>
          <h6 class="hero-sub-title">This Week's Rewards:</h6>
          <!--          <div class="carousel carousel-top">-->
          <!--            <div class="carousel-slide">-->
          <!--              <img src="/system/rewards/images/000/000/682/original/_50-Gift-Card-to-Buckeye-Corner---BNR">-->
          <!--              <p>3 Members will win this Gift Card redeemable at The Buckeye Corner and Lids.com</p>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>

        <div class="hero-content-block -card logged-out-carousel-container">
          <div class="carousel-container">
            <div class="carousel logged-out-carousel">
              <div class="carousel-slide">
                <%= image_tag('end-user/join.svg', class: 'logged-out-img') %>
                <h1 class="card-title">JOIN</h1>
                <p class="card-desc">Join for instant access to exclusive</br> prizes & rewards.</p>
              </div>
              <div class="carousel-slide">
                <%= image_tag('end-user/engage.svg', class: 'logged-out-img') %>
                <h1 class="card-title">ENGAGE</h1>
                <p class="card-desc">Earn 250+ Points just for joining, and even more for completing fun & easy
                  challenges.</p>
              </div>
              <div class="carousel-slide">
                <%= image_tag('end-user/win.svg', class: 'logged-out-img') %>
                <h1 class="card-title">WIN</h1>
                <p class="card-desc">The more Points you earn,</br> the more you win. It’s easy!</p>
              </div>
            </div>
          </div>
          <div class="card-btns">
            <p class="card-buttons-text">Earn 250 Points for joining now, double it to 500 by continuing with
              Facebook.</p>

            <a id="connect-bttn" href="https://buckeyenationrewards.com/auth/facebook?campaign=190" class="dark-fb-button btn-has-icon btn-join-facebook">
              <span class="icon-btn-share fa fa-facebook"></span>
              <span class="btn-share-text">Continue With Facebook</span>
            </a>

            <p class="small-link">or <a href="javascript:void(0);" class="">Sign Up with Email</a>
            </p>
          </div>
          <span class="logged-out-terms">
              <p> By joining, you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
          </span>
        </div>
      </div>
    </div>
  </header>

  <main class="page-content">
    <section class="main-section rotate-light" id="social">
      <div class="wrap">
        <!-- Section Header -->
        <header class="section-header text-center">
          <h3 class="section-title">Check Us Out on Social</h3>
          <p>We've made it easy and rewarding to stay up to date. Join above to get started!</p>
        </header>
      </div>
    </section>
  </main>

  <footer class="page-footer">
    <div class="wrap grid spacer">
      <p>&copy; 2020 Sonic Nation Rewards</p>

      <nav class="footer-nav">
        <p>
          <a href="javascript:void(0);" class="footer-nav-link">Contact Us</a>
          &nbsp;&nbsp;&nbsp;
          <a href="javascript:void(0);" class="footer-nav-link">FAQ</a>
          &nbsp;&nbsp;&nbsp;
          <a href="javascript:void(0);" class="footer-nav-link">Rules</a>
          &nbsp;&nbsp;&nbsp;
          <a href="javascript:void(0);" class="footer-nav-link">Privacy</a>
          &nbsp;&nbsp;&nbsp;
          <a href="javascript:void(0);" class="footer-nav-link">Terms &amp; Conditions</a>
        </p>
      </nav>
    </div>
  </footer>
</div>

<!-- Plugins -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script>
  $('.logged-out-carousel').slick({
    autoplay: true,
    dots: true
  });
</script>
</body>
</html>
