<!DOCTYPE html>
<html>
  <head>
    <% template = @campaign.campaign_template_detail %>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if !@campaign.nil? && !@campaign.seo.nil? && !@campaign.seo.empty? %>
      <%= raw @campaign.seo %>
    <% else %>
      <title>The Ohio State | My Rewards</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'end_user/end_user', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'end_user/end_user', 'data-turbolinks-track' => 'reload' %>
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Proxima+Nova"> -->
    <script src="https://www.youtube.com/iframe_api"></script>
  </head>

  <body>
    <!-- Header Menu -->
    <%= render 'end_users/layout/header' %>

    <!-- Body Part -->
    <section class="body-content">
      <%= yield %>
    </section>

    <!-- Footer Part -->
    <%= render 'end_users/layout/footer' %>
  </body>

  <style media="screen">
    .body-content{
      margin-top: 66px;
    }
  </style>
</html>
