<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PERK SOCIAL</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'organization_admin/organization_admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'organization_admin/organization_admin', 'data-turbolinks-track' => 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
  <%= render 'organizations/layout/side_nav_bar' %>

  <div class="main">
    <%= render 'organizations/layout/header' %>

    <div class="container-fluid insight">
      <div class="row">
        <div class="col-md-12">
          <div class="row flash-top-margin">
            <div class="col-md-12">
              <%= render 'shared/flash_messages' %>
            </div>
          </div>

          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
